<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Feet Operator Drivers WS2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Feet Operator Drivers WS2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-stakeholder"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_stakeholder" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-5cdf494e384547aca830e918b7a86661.png" alt="Feet Operator Drivers WS2" usemap="#id-5cdf494e384547aca830e918b7a86661map"/>
			   <map name="id-5cdf494e384547aca830e918b7a86661map">
				  		<area shape="rect" coords="2062,374,2302,484" href="../elements/id-aac0042f98314aaaae699f14af769f34.html"  target="element">
				  		<area shape="rect" coords="2422,758,2662,868" href="../elements/id-449f3b2b64524c808b7f515484ef264d.html"  target="element">
				  		<area shape="rect" coords="2328,374,2568,484" href="../elements/id-52f36529251e4fc6a1e29ed0ca5cc36d.html"  target="element">
				  		<area shape="rect" coords="2566,614,2806,724" href="../elements/id-7c4c6f40ef564ce6bda7bf69251470db.html"  target="element">
				  		<area shape="rect" coords="1966,662,2292,772" href="../elements/id-87756fb7213642818ec2a843715ad18c.html"  target="element">
				  		<area shape="rect" coords="2600,464,2840,574" href="../elements/id-7e3c12c4a5ab4e15aceac10c8af1c340.html"  target="element">
				  		<area shape="rect" coords="1986,1612,2226,1722" href="../elements/id-45a413b1bc704d16a2cee55208d7f30c.html"  target="element">
				  		<area shape="rect" coords="2002,1428,2242,1538" href="../elements/id-982432464e444aeb95c960e55c349b0d.html"  target="element">
				  		<area shape="rect" coords="1544,1404,1784,1514" href="../elements/id-82408f49ab554ed69813d7b961168fbc.html"  target="element">
				  		<area shape="rect" coords="1544,1024,1784,1134" href="../elements/id-02cd5db4e2cd4ab89eb3fe0805e90ebc.html"  target="element">
				  		<area shape="rect" coords="1474,722,1774,808" href="../elements/id-86cf90145a79457a8d1a013ed78e152d.html"  target="element">
				  		<area shape="rect" coords="1566,458,1680,536" href="../elements/id-8cdfe1c0545241c5b3429a26680f4113.html"  target="element">
				  		<area shape="rect" coords="1566,614,1806,724" href="../elements/id-fb596d26a22546dcb0cd2501cc42b2bf.html"  target="element">
				  		<area shape="rect" coords="1234,20,1474,130" href="../elements/id-ad2b62d98ade4d95809d49f0255f651f.html"  target="element">
				  		<area shape="rect" coords="1006,1070,1246,1180" href="../elements/id-f8a5e8cb50fc4946b2364937e8406a29.html"  target="element">
				  		<area shape="rect" coords="958,758,1198,868" href="../elements/id-51b8acbadf2d407fa7118505209bcd5b.html"  target="element">
				  		<area shape="rect" coords="1146,662,1386,772" href="../elements/id-0643725da1524256a13b3fb1f12d13f9.html"  target="element">
				  		<area shape="rect" coords="1294,522,1464,632" href="../elements/id-c14d221b9b1e4b4d84a219fde48084c6.html"  target="element">
				  		<area shape="rect" coords="1022,294,1262,404" href="../elements/id-9540a90dc6374f7fa5d97ee353acacc4.html"  target="element">
				  		<area shape="rect" coords="750,1070,990,1180" href="../elements/id-a18ca0d0eb2b46b19fb68c2172d3578d.html"  target="element">
				  		<area shape="rect" coords="838,650,1078,760" href="../elements/id-a4e0143942ad4840bff12dd994991e5c.html"  target="element">
				  		<area shape="rect" coords="430,442,670,552" href="../elements/id-0ddb0c64f94d45bcb4fcb9b953413782.html"  target="element">
				  		<area shape="rect" coords="452,698,792,832" href="../elements/id-6f048e58bd684a23a5a822e789caadba.html"  target="element">
				  		<area shape="rect" coords="690,296,930,468" href="../elements/id-126ba2c2090343bd854110a097e7ddbd.html"  target="element">
				  		<area shape="rect" coords="70,680,310,790" href="../elements/id-a98aad884d90411e8f6dff9786548931.html"  target="element">
				  		<area shape="rect" coords="54,358,294,544" href="../elements/id-43a039c200eb4095b69f6f7de6bc89ee.html"  target="element">
				  		<area shape="rect" coords="316,1430,556,1540" href="../elements/id-3ccfec056cb94a8d820a0a2045a8c5af.html"  target="element">
				  		<area shape="rect" coords="78,1790,318,1900" href="../elements/id-e95645dad55a4314898bcedc213eb147.html"  target="element">
				  		<area shape="rect" coords="54,1574,354,1772" href="../elements/id-f5117c9e07c947aaa651e9c5202174f5.html"  target="element">
				  		<area shape="rect" coords="54,1430,294,1540" href="../elements/id-d35c43a2408a4d6aa0cc4a3976b69443.html"  target="element">
				  		<area shape="rect" coords="1030,522,1270,632" href="../elements/id-03bdfabac56a40dda556880c07af0f1f.html"  target="element">
				  		<area shape="rect" coords="1174,878,1414,1046" href="../elements/id-c04822a83785432fbe7be3f0d0dbe3d7.html"  target="element">
				          <area shape="rect" coords="1566,112,1936,284" href="../objects/id-8449bca74af54b89bf4bda34d254f166.html" target="element" >
				  		<area shape="rect" coords="1950,1230,2190,1414" href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html"  target="element">
				  		<area shape="rect" coords="598,542,864,652" href="../elements/id-c0af6d6b8c2d4adc9286bc94b8eca908.html"  target="element">
				  		<area shape="rect" coords="426,302,692,412" href="../elements/id-f640ee2fb1b54375888c2c512ed48078.html"  target="element">
				  		<area shape="rect" coords="1174,1214,1438,1414" href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html"  target="element">
				  		<area shape="rect" coords="1414,326,1654,436" href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html"  target="element">
				  		<area shape="rect" coords="2262,1230,2542,1414" href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html"  target="element">
				  		<area shape="rect" coords="20,1214,260,1414" href="../elements/id-b5f61356400140a4ac979e914480c6f2.html"  target="element">
				  		<area shape="rect" coords="78,900,392,1068" href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html"  target="element">
				  		<area shape="rect" coords="1558,854,1798,1022" href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html"  target="element">
				  		<area shape="rect" coords="1950,542,2190,652" href="../elements/id-74de9ef00a67422695206174abd3edcd.html"  target="element">
				  		<area shape="rect" coords="894,104,1134,214" href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html"  target="element">
				  		<area shape="rect" coords="676,900,928,1068" href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html"  target="element">
				  		<area shape="rect" coords="1566,1230,1806,1414" href="../elements/id-9f34c4987c8d411d8157b041db5b0bc8.html"  target="element">
				          <area shape="rect" coords="1998,112,2478,286" href="../objects/id-257c90d133f84ed4ab7b16c091a2a78d.html" target="element" >
				  		<area shape="rect" coords="1462,542,1822,652" href="../elements/id-24b376ae74e34fc788d5a894385e477e.html"  target="element">
				          <area shape="rect" coords="54,78,560,262" href="../objects/id-20045d435a444ec08556ae8f142dd8a2.html" target="element" >
				  		<area shape="rect" coords="366,1236,752,1406" href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html"  target="element">
				  		<area shape="rect" coords="128,542,488,652" href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html"  target="element">
				  		<area shape="rect" coords="2238,522,2526,632" href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html"  target="element">
				  		<area shape="rect" coords="2086,806,2326,974" href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
											    <td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
											    <td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
											    <td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management </a> </td>
											    <td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-20045d435a444ec08556ae8f142dd8a2.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-20045d435a444ec08556ae8f142dd8a2.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
											    <td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-257c90d133f84ed4ab7b16c091a2a78d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-257c90d133f84ed4ab7b16c091a2a78d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-9f34c4987c8d411d8157b041db5b0bc8.html" target="element"> Must adapt to transport policy </a> </td>
											    <td> <a href="../elements/id-9f34c4987c8d411d8157b041db5b0bc8.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
											    <td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
											    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
											    <td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element"> Flexibility in case of disruptions is not rewarded </a> </td>
											    <td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
											    <td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5f61356400140a4ac979e914480c6f2.html" target="element"> Varying access to competence, skills, technology, and tools </a> </td>
											    <td> <a href="../elements/id-b5f61356400140a4ac979e914480c6f2.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html" target="element"> Personnel costs are a dominating factor </a> </td>
											    <td> <a href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
											    <td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted </a> </td>
											    <td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f640ee2fb1b54375888c2c512ed48078.html" target="element"> Customer satisfaction </a> </td>
											    <td> <a href="../elements/id-f640ee2fb1b54375888c2c512ed48078.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c0af6d6b8c2d4adc9286bc94b8eca908.html" target="element"> Safe operations </a> </td>
											    <td> <a href="../elements/id-c0af6d6b8c2d4adc9286bc94b8eca908.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html" target="element"> Low load factor </a> </td>
											    <td> <a href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-8449bca74af54b89bf4bda34d254f166.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-8449bca74af54b89bf4bda34d254f166.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-c04822a83785432fbe7be3f0d0dbe3d7.html" target="element"> Desired behaviour may not be rewarded </a> </td>
											    <td> <a href="../elements/id-c04822a83785432fbe7be3f0d0dbe3d7.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-03bdfabac56a40dda556880c07af0f1f.html" target="element"> Green transport </a> </td>
											    <td> <a href="../elements/id-03bdfabac56a40dda556880c07af0f1f.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d35c43a2408a4d6aa0cc4a3976b69443.html" target="element"> Employer satisfaction </a> </td>
											    <td> <a href="../elements/id-d35c43a2408a4d6aa0cc4a3976b69443.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f5117c9e07c947aaa651e9c5202174f5.html" target="element"> Resistance to change. Trade unions. New skills requires investments, effort and time </a> </td>
											    <td> <a href="../elements/id-f5117c9e07c947aaa651e9c5202174f5.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e95645dad55a4314898bcedc213eb147.html" target="element"> Driver skill contiiuous </a> </td>
											    <td> <a href="../elements/id-e95645dad55a4314898bcedc213eb147.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3ccfec056cb94a8d820a0a2045a8c5af.html" target="element"> Training skills </a> </td>
											    <td> <a href="../elements/id-3ccfec056cb94a8d820a0a2045a8c5af.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-43a039c200eb4095b69f6f7de6bc89ee.html" target="element"> OPen source ? or distribute? Federated? Run by public or private? </a> </td>
											    <td> <a href="../elements/id-43a039c200eb4095b69f6f7de6bc89ee.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a98aad884d90411e8f6dff9786548931.html" target="element"> SLA for high price . Empty ???? network </a> </td>
											    <td> <a href="../elements/id-a98aad884d90411e8f6dff9786548931.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-126ba2c2090343bd854110a097e7ddbd.html" target="element"> Who is judging? 1. The provider 2. Costomer </a> </td>
											    <td> <a href="../elements/id-126ba2c2090343bd854110a097e7ddbd.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6f048e58bd684a23a5a822e789caadba.html" target="element"> Occupancy levels (+ revenues, + sustainability, + credibility) </a> </td>
											    <td> <a href="../elements/id-6f048e58bd684a23a5a822e789caadba.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0ddb0c64f94d45bcb4fcb9b953413782.html" target="element"> Determen the types of flow </a> </td>
											    <td> <a href="../elements/id-0ddb0c64f94d45bcb4fcb9b953413782.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a4e0143942ad4840bff12dd994991e5c.html" target="element"> CAVs safer </a> </td>
											    <td> <a href="../elements/id-a4e0143942ad4840bff12dd994991e5c.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a18ca0d0eb2b46b19fb68c2172d3578d.html" target="element"> Only for big roads and ??? lines </a> </td>
											    <td> <a href="../elements/id-a18ca0d0eb2b46b19fb68c2172d3578d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9540a90dc6374f7fa5d97ee353acacc4.html" target="element"> Honestu by automatision </a> </td>
											    <td> <a href="../elements/id-9540a90dc6374f7fa5d97ee353acacc4.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c14d221b9b1e4b4d84a219fde48084c6.html" target="element"> Cost issues </a> </td>
											    <td> <a href="../elements/id-c14d221b9b1e4b4d84a219fde48084c6.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0643725da1524256a13b3fb1f12d13f9.html" target="element"> Competition strong driver cost </a> </td>
											    <td> <a href="../elements/id-0643725da1524256a13b3fb1f12d13f9.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-51b8acbadf2d407fa7118505209bcd5b.html" target="element"> Regulation. Mandatory </a> </td>
											    <td> <a href="../elements/id-51b8acbadf2d407fa7118505209bcd5b.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f8a5e8cb50fc4946b2364937e8406a29.html" target="element"> Incentives </a> </td>
											    <td> <a href="../elements/id-f8a5e8cb50fc4946b2364937e8406a29.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ad2b62d98ade4d95809d49f0255f651f.html" target="element"> Connected to other modes consistency </a> </td>
											    <td> <a href="../elements/id-ad2b62d98ade4d95809d49f0255f651f.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fb596d26a22546dcb0cd2501cc42b2bf.html" target="element"> Focus on updated technology </a> </td>
											    <td> <a href="../elements/id-fb596d26a22546dcb0cd2501cc42b2bf.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8cdfe1c0545241c5b3429a26680f4113.html" target="element"> ??? </a> </td>
											    <td> <a href="../elements/id-8cdfe1c0545241c5b3429a26680f4113.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-86cf90145a79457a8d1a013ed78e152d.html" target="element"> Sharing of data with other operation </a> </td>
											    <td> <a href="../elements/id-86cf90145a79457a8d1a013ed78e152d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-02cd5db4e2cd4ab89eb3fe0805e90ebc.html" target="element"> SLA to personnel cost </a> </td>
											    <td> <a href="../elements/id-02cd5db4e2cd4ab89eb3fe0805e90ebc.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82408f49ab554ed69813d7b961168fbc.html" target="element"> Focus recommendation from EU </a> </td>
											    <td> <a href="../elements/id-82408f49ab554ed69813d7b961168fbc.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-982432464e444aeb95c960e55c349b0d.html" target="element"> Hogh load factor to be green </a> </td>
											    <td> <a href="../elements/id-982432464e444aeb95c960e55c349b0d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-45a413b1bc704d16a2cee55208d7f30c.html" target="element"> &#8364;&gt; to be along??? </a> </td>
											    <td> <a href="../elements/id-45a413b1bc704d16a2cee55208d7f30c.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7e3c12c4a5ab4e15aceac10c8af1c340.html" target="element"> Short window to make revienue large </a> </td>
											    <td> <a href="../elements/id-7e3c12c4a5ab4e15aceac10c8af1c340.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-87756fb7213642818ec2a843715ad18c.html" target="element"> Social responsibility not only revenue </a> </td>
											    <td> <a href="../elements/id-87756fb7213642818ec2a843715ad18c.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7c4c6f40ef564ce6bda7bf69251470db.html" target="element"> c??? righ vehicles for the job </a> </td>
											    <td> <a href="../elements/id-7c4c6f40ef564ce6bda7bf69251470db.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-52f36529251e4fc6a1e29ed0ca5cc36d.html" target="element"> Different types higher maitenance </a> </td>
											    <td> <a href="../elements/id-52f36529251e4fc6a1e29ed0ca5cc36d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-449f3b2b64524c808b7f515484ef264d.html" target="element"> Expensive to change fleet </a> </td>
											    <td> <a href="../elements/id-449f3b2b64524c808b7f515484ef264d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aac0042f98314aaaae699f14af769f34.html" target="element"> Incentives from government </a> </td>
											    <td> <a href="../elements/id-aac0042f98314aaaae699f14af769f34.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-e52a614d818148d99bb652f54175957a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e52a614d818148d99bb652f54175957a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																		<td> <a href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html" target="element"> Low load factor </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ff224bc1976240d996ab0a569c36e794.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff224bc1976240d996ab0a569c36e794.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6153ad9e5df647e092b81aa0708d61bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6153ad9e5df647e092b81aa0708d61bd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html" target="element"> Personnel costs are a dominating factor </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-edbdb82a210f40c299b573d46337947a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-edbdb82a210f40c299b573d46337947a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ddbd0eeb3abf4dc595f51415c61a215d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ddbd0eeb3abf4dc595f51415c61a215d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b36e90074cae4bb7893402669dd87342.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b36e90074cae4bb7893402669dd87342.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cfda68c84edd4a929fde0e6efcfd9899.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfda68c84edd4a929fde0e6efcfd9899.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-6952d3969d944beb8db10bdb77ec7e64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6952d3969d944beb8db10bdb77ec7e64.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b8df86386acd4b8a81f74a55214b3011.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8df86386acd4b8a81f74a55214b3011.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22ac96cbff8d4c74b82718213b584eba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22ac96cbff8d4c74b82718213b584eba.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-38c4d5e541684024a48f2d2000a0e4ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-38c4d5e541684024a48f2d2000a0e4ef.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-c04822a83785432fbe7be3f0d0dbe3d7.html" target="element"> Desired behaviour may not be rewarded </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-2a68c73c194648b786a3410ac9396c25.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a68c73c194648b786a3410ac9396c25.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-9f34c4987c8d411d8157b041db5b0bc8.html" target="element"> Must adapt to transport policy </a> </td>
																		<td> <a href="../elements/id-c04822a83785432fbe7be3f0d0dbe3d7.html" target="element"> Desired behaviour may not be rewarded </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-13dbdf25fc474b84918ac08c934ec637.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13dbdf25fc474b84918ac08c934ec637.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bf7dc97e9eda47b68375f46c244effec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf7dc97e9eda47b68375f46c244effec.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element"> Flexibility in case of disruptions is not rewarded </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0111f1edfcda42ab9c615ee405d4dd90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0111f1edfcda42ab9c615ee405d4dd90.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-b5f61356400140a4ac979e914480c6f2.html" target="element"> Varying access to competence, skills, technology, and tools </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3d0f0887bfb444beb334452a0bad847f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d0f0887bfb444beb334452a0bad847f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf2b85565e954082b70736731417ee3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf2b85565e954082b70736731417ee3b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-42ed6b1f85604becb4d1a1eaad12416b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42ed6b1f85604becb4d1a1eaad12416b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b8ff0e6bfa804fdea6c648d8f4f24128.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8ff0e6bfa804fdea6c648d8f4f24128.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-03bdfabac56a40dda556880c07af0f1f.html" target="element"> Green transport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41864f64aece470389081fcfc3480ff6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41864f64aece470389081fcfc3480ff6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a1fbea64bef1486f8e3451229aea279a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a1fbea64bef1486f8e3451229aea279a.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted </a> </td>
																		<td> <a href="../elements/id-c04822a83785432fbe7be3f0d0dbe3d7.html" target="element"> Desired behaviour may not be rewarded </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8fe2ced08bcb4f0c903d8f2f5ce8bb02.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fe2ced08bcb4f0c903d8f2f5ce8bb02.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f640ee2fb1b54375888c2c512ed48078.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4d2c362166b74b4ba1e6990b6e8e2127.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d2c362166b74b4ba1e6990b6e8e2127.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f640ee2fb1b54375888c2c512ed48078.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a42457a468c142f7a50c355bc0a58cc7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a42457a468c142f7a50c355bc0a58cc7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f640ee2fb1b54375888c2c512ed48078.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-c0af6d6b8c2d4adc9286bc94b8eca908.html" target="element"> Safe operations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1e01f7d0b647409eb22574562d93bdc0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e01f7d0b647409eb22574562d93bdc0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f640ee2fb1b54375888c2c512ed48078.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-03bdfabac56a40dda556880c07af0f1f.html" target="element"> Green transport </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e8a8dad5e4e441df85e08b42ddeb881f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8a8dad5e4e441df85e08b42ddeb881f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-c0af6d6b8c2d4adc9286bc94b8eca908.html" target="element"> Safe operations </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ab5a014607f04075b1e3e30542a128b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab5a014607f04075b1e3e30542a128b7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-c0af6d6b8c2d4adc9286bc94b8eca908.html" target="element"> Safe operations </a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-cac869d3d48647b2a877dd3d972d3596.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cac869d3d48647b2a877dd3d972d3596.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-03bdfabac56a40dda556880c07af0f1f.html" target="element"> Green transport </a> </td>
																		<td> <a href="../elements/id-c04822a83785432fbe7be3f0d0dbe3d7.html" target="element"> Desired behaviour may not be rewarded </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>