<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fleet Operator Goals</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fleet Operator Goals</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3dbb3e4941794d72ad5e085cbf470ead.png" alt="Fleet Operator Goals" usemap="#id-3dbb3e4941794d72ad5e085cbf470eadmap"/>
			   <map name="id-3dbb3e4941794d72ad5e085cbf470eadmap">
				  		<area shape="rect" coords="1134,430,1254,497" href="../elements/id-ebe9c129fdde4d968b6d9688faacca74.html"  target="element">
				  		<area shape="rect" coords="597,520,723,587" href="../elements/id-0b1f267ba27d4d15b686958a7212f739.html"  target="element">
				  		<area shape="rect" coords="186,430,306,497" href="../elements/id-13c5e43727bb4a538572901c3fa987f8.html"  target="element">
				  		<area shape="rect" coords="599,610,719,677" href="../elements/id-aa11812de26e4fd2a1f8a275c0a2c39a.html"  target="element">
				  		<area shape="rect" coords="967,520,1087,587" href="../elements/id-7115113c14c44f859b8a206f0180113e.html"  target="element">
				  		<area shape="rect" coords="822,430,942,497" href="../elements/id-671ac386f0524e7086a401afcef5da95.html"  target="element">
				  		<area shape="rect" coords="1029,610,1149,677" href="../elements/id-6e8d70059a8b4b0685d87dfd8d41c598.html"  target="element">
				  		<area shape="rect" coords="822,610,942,677" href="../elements/id-026c6706366e4cc0b812ea02220e7fc5.html"  target="element">
				  		<area shape="rect" coords="821,520,941,587" href="../elements/id-abf466ac782f4322af5e199759b0578a.html"  target="element">
				  		<area shape="rect" coords="1134,520,1254,587" href="../elements/id-9518dfa107b44c4a84078cfbad5f3111.html"  target="element">
				  		<area shape="rect" coords="186,520,306,587" href="../elements/id-8952e69054914a26baf0393137927d53.html"  target="element">
				  		<area shape="rect" coords="10,430,130,497" href="../elements/id-d51363589a9342719565689223a8704d.html"  target="element">
				  		<area shape="rect" coords="393,610,513,677" href="../elements/id-61a9dc26f2e24f1c9886a598cd4a3584.html"  target="element">
				  		<area shape="rect" coords="171,610,331,677" href="../elements/id-af4ed21365854f178ede9b2579826aab.html"  target="element">
				  		<area shape="rect" coords="762,262,882,317" href="../elements/id-2ce23a59a5104c09b5964280846ad80f.html"  target="element">
				  		<area shape="rect" coords="222,265,355,320" href="../elements/id-c0af6d6b8c2d4adc9286bc94b8eca908.html"  target="element">
				  		<area shape="rect" coords="181,100,314,155" href="../elements/id-f640ee2fb1b54375888c2c512ed48078.html"  target="element">
				  		<area shape="rect" coords="443,130,575,185" href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html"  target="element">
				  		<area shape="rect" coords="574,265,694,320" href="../elements/id-74de9ef00a67422695206174abd3edcd.html"  target="element">
				  		<area shape="rect" coords="414,10,534,65" href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html"  target="element">
				  		<area shape="rect" coords="672,76,816,131" href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html"  target="element">
				  		<area shape="rect" coords="378,265,534,320" href="../elements/id-24b376ae74e34fc788d5a894385e477e.html"  target="element">
				  		<area shape="rect" coords="20,262,182,317" href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html"  target="element">
				  		<area shape="rect" coords="966,262,1110,317" href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html"  target="element">
				  		<area shape="rect" coords="979,427,1099,497" href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html"  target="element">
				  		<area shape="rect" coords="475,427,595,497" href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
											    <td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
											    <td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
											    <td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
											    <td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
											    <td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element"> Public image </a> </td>
											    <td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
											    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
											    <td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
											    <td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f640ee2fb1b54375888c2c512ed48078.html" target="element"> Customer satisfaction </a> </td>
											    <td> <a href="../elements/id-f640ee2fb1b54375888c2c512ed48078.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c0af6d6b8c2d4adc9286bc94b8eca908.html" target="element"> Safe operations </a> </td>
											    <td> <a href="../elements/id-c0af6d6b8c2d4adc9286bc94b8eca908.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ce23a59a5104c09b5964280846ad80f.html" target="element"> Green </a> </td>
											    <td> <a href="../elements/id-2ce23a59a5104c09b5964280846ad80f.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-af4ed21365854f178ede9b2579826aab.html" target="element"> Efficient handling of problems and disruptions </a> </td>
											    <td> <a href="../elements/id-af4ed21365854f178ede9b2579826aab.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61a9dc26f2e24f1c9886a598cd4a3584.html" target="element"> Contribute to pro-active measures </a> </td>
											    <td> <a href="../elements/id-61a9dc26f2e24f1c9886a598cd4a3584.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d51363589a9342719565689223a8704d.html" target="element"> No surprises during operations </a> </td>
											    <td> <a href="../elements/id-d51363589a9342719565689223a8704d.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8952e69054914a26baf0393137927d53.html" target="element"> Value in return for shared data </a> </td>
											    <td> <a href="../elements/id-8952e69054914a26baf0393137927d53.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9518dfa107b44c4a84078cfbad5f3111.html" target="element"> No need for extra training of personnel </a> </td>
											    <td> <a href="../elements/id-9518dfa107b44c4a84078cfbad5f3111.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-abf466ac782f4322af5e199759b0578a.html" target="element"> Easy to get advantages when needed </a> </td>
											    <td> <a href="../elements/id-abf466ac782f4322af5e199759b0578a.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-026c6706366e4cc0b812ea02220e7fc5.html" target="element"> Easy transition to use of CAVs </a> </td>
											    <td> <a href="../elements/id-026c6706366e4cc0b812ea02220e7fc5.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6e8d70059a8b4b0685d87dfd8d41c598.html" target="element"> Reductions in energy costs </a> </td>
											    <td> <a href="../elements/id-6e8d70059a8b4b0685d87dfd8d41c598.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-671ac386f0524e7086a401afcef5da95.html" target="element"> Green behaviour </a> </td>
											    <td> <a href="../elements/id-671ac386f0524e7086a401afcef5da95.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7115113c14c44f859b8a206f0180113e.html" target="element"> Reductions in waiting and resting costs </a> </td>
											    <td> <a href="../elements/id-7115113c14c44f859b8a206f0180113e.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aa11812de26e4fd2a1f8a275c0a2c39a.html" target="element"> Green behaviour is rewarded </a> </td>
											    <td> <a href="../elements/id-aa11812de26e4fd2a1f8a275c0a2c39a.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-13c5e43727bb4a538572901c3fa987f8.html" target="element"> Safe operations are rewarded </a> </td>
											    <td> <a href="../elements/id-13c5e43727bb4a538572901c3fa987f8.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0b1f267ba27d4d15b686958a7212f739.html" target="element"> Collaboration to increase load factor is rewarded </a> </td>
											    <td> <a href="../elements/id-0b1f267ba27d4d15b686958a7212f739.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ebe9c129fdde4d968b6d9688faacca74.html" target="element"> Free access to traffic orchestration services </a> </td>
											    <td> <a href="../elements/id-ebe9c129fdde4d968b6d9688faacca74.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-054e3f962a1a47babead07a1233e9b31.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-054e3f962a1a47babead07a1233e9b31.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																		<td> <a href="../elements/id-0b1f267ba27d4d15b686958a7212f739.html" target="element"> Collaboration to increase load factor is rewarded </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d49fcabc3f4c48be9e123144408d1267.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d49fcabc3f4c48be9e123144408d1267.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																		<td> <a href="../elements/id-aa11812de26e4fd2a1f8a275c0a2c39a.html" target="element"> Green behaviour is rewarded </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ca8e9773ae424a82a7695e6865d8f83b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca8e9773ae424a82a7695e6865d8f83b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																		<td> <a href="../elements/id-61a9dc26f2e24f1c9886a598cd4a3584.html" target="element"> Contribute to pro-active measures </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0f9f81ce027f4f8ba688ef98917c846f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f9f81ce027f4f8ba688ef98917c846f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																		<td> <a href="../elements/id-7115113c14c44f859b8a206f0180113e.html" target="element"> Reductions in waiting and resting costs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ff224bc1976240d996ab0a569c36e794.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff224bc1976240d996ab0a569c36e794.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5f2922ea5c3746dcbf47ea8f6df30e6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f2922ea5c3746dcbf47ea8f6df30e6f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-026c6706366e4cc0b812ea02220e7fc5.html" target="element"> Easy transition to use of CAVs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-87b08e33c1084baca511d250c4a322f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87b08e33c1084baca511d250c4a322f1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-9518dfa107b44c4a84078cfbad5f3111.html" target="element"> No need for extra training of personnel </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8feb68b5394a41c791cf07bc749d9ef3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8feb68b5394a41c791cf07bc749d9ef3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-ebe9c129fdde4d968b6d9688faacca74.html" target="element"> Free access to traffic orchestration services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-225c30090a794ad186644f35dd0765d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-225c30090a794ad186644f35dd0765d8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-6e8d70059a8b4b0685d87dfd8d41c598.html" target="element"> Reductions in energy costs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-55c6c468107a4c72a345d090f0cc3375.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55c6c468107a4c72a345d090f0cc3375.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-abf466ac782f4322af5e199759b0578a.html" target="element"> Easy to get advantages when needed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-10c2d56b7d144822969b56749597caa7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10c2d56b7d144822969b56749597caa7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																		<td> <a href="../elements/id-8952e69054914a26baf0393137927d53.html" target="element"> Value in return for shared data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-57970b92600546108e1e2e8528774bcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57970b92600546108e1e2e8528774bcd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																		<td> <a href="../elements/id-d51363589a9342719565689223a8704d.html" target="element"> No surprises during operations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22841fc34ade4cdb9df8e1b4a229c97e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22841fc34ade4cdb9df8e1b4a229c97e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																		<td> <a href="../elements/id-af4ed21365854f178ede9b2579826aab.html" target="element"> Efficient handling of problems and disruptions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-feb87ec3eea74eaaa647b0783615f6fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-feb87ec3eea74eaaa647b0783615f6fb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6952d3969d944beb8db10bdb77ec7e64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6952d3969d944beb8db10bdb77ec7e64.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74734052952e47b29075687431f0a504.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74734052952e47b29075687431f0a504.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-61a9dc26f2e24f1c9886a598cd4a3584.html" target="element"> Contribute to pro-active measures </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-24b88322e2b64e0db95d1d1d9d9f28e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-24b88322e2b64e0db95d1d1d9d9f28e0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-abf466ac782f4322af5e199759b0578a.html" target="element"> Easy to get advantages when needed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bfacb53ecfd34dd996bde8612210e720.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bfacb53ecfd34dd996bde8612210e720.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-026c6706366e4cc0b812ea02220e7fc5.html" target="element"> Easy transition to use of CAVs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ad7db732ef9341b381a13eddd26cc9cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad7db732ef9341b381a13eddd26cc9cc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-af4ed21365854f178ede9b2579826aab.html" target="element"> Efficient handling of problems and disruptions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6b553b8d2edd4a87937a4b3cb6b17f83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b553b8d2edd4a87937a4b3cb6b17f83.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-8952e69054914a26baf0393137927d53.html" target="element"> Value in return for shared data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-982d4b78936c4176af789b45d45d8603.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-982d4b78936c4176af789b45d45d8603.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element"> Public image </a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a7eb050eb4704ddba52a4925dd1d702d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7eb050eb4704ddba52a4925dd1d702d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element"> Public image </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13dbdf25fc474b84918ac08c934ec637.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13dbdf25fc474b84918ac08c934ec637.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0a96a67a85524150ab5755c82acb323c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a96a67a85524150ab5755c82acb323c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f92103f3eb514ff1ada498ec44f71abf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f92103f3eb514ff1ada498ec44f71abf.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-0b1f267ba27d4d15b686958a7212f739.html" target="element"> Collaboration to increase load factor is rewarded </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-41864f64aece470389081fcfc3480ff6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41864f64aece470389081fcfc3480ff6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf2b85565e954082b70736731417ee3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf2b85565e954082b70736731417ee3b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d0f0887bfb444beb334452a0bad847f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d0f0887bfb444beb334452a0bad847f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9b7d3f65e7e3414d81641ec89c17981f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b7d3f65e7e3414d81641ec89c17981f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-2ce23a59a5104c09b5964280846ad80f.html" target="element"> Green </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-42ed6b1f85604becb4d1a1eaad12416b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42ed6b1f85604becb4d1a1eaad12416b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4d2c362166b74b4ba1e6990b6e8e2127.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d2c362166b74b4ba1e6990b6e8e2127.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f640ee2fb1b54375888c2c512ed48078.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a42457a468c142f7a50c355bc0a58cc7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a42457a468c142f7a50c355bc0a58cc7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f640ee2fb1b54375888c2c512ed48078.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-c0af6d6b8c2d4adc9286bc94b8eca908.html" target="element"> Safe operations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8fe2ced08bcb4f0c903d8f2f5ce8bb02.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8fe2ced08bcb4f0c903d8f2f5ce8bb02.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f640ee2fb1b54375888c2c512ed48078.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ab5a014607f04075b1e3e30542a128b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ab5a014607f04075b1e3e30542a128b7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-c0af6d6b8c2d4adc9286bc94b8eca908.html" target="element"> Safe operations </a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-abc0b7d6195d4407a0d08eb2252efe1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-abc0b7d6195d4407a0d08eb2252efe1f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-c0af6d6b8c2d4adc9286bc94b8eca908.html" target="element"> Safe operations </a> </td>
																		<td> <a href="../elements/id-13c5e43727bb4a538572901c3fa987f8.html" target="element"> Safe operations are rewarded </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2ff296be260740e0b0f6848f2e092bae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2ff296be260740e0b0f6848f2e092bae.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2ce23a59a5104c09b5964280846ad80f.html" target="element"> Green </a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-57bbd621f6d44a6eaa20b68d8f699996.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57bbd621f6d44a6eaa20b68d8f699996.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2ce23a59a5104c09b5964280846ad80f.html" target="element"> Green </a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a99153fcf91a4b6e8531b7c749274bc3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a99153fcf91a4b6e8531b7c749274bc3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2ce23a59a5104c09b5964280846ad80f.html" target="element"> Green </a> </td>
																		<td> <a href="../elements/id-671ac386f0524e7086a401afcef5da95.html" target="element"> Green behaviour </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b4befb77085949f182a2d26a38b30723.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4befb77085949f182a2d26a38b30723.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2ce23a59a5104c09b5964280846ad80f.html" target="element"> Green </a> </td>
																		<td> <a href="../elements/id-aa11812de26e4fd2a1f8a275c0a2c39a.html" target="element"> Green behaviour is rewarded </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>