<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Transport Service Provider Drivers</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Transport Service Provider Drivers</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-56ac4ec4f864416695c91ef804802c0c.png" alt="Transport Service Provider Drivers" usemap="#id-56ac4ec4f864416695c91ef804802c0cmap"/>
			   <map name="id-56ac4ec4f864416695c91ef804802c0cmap">
				  		<area shape="rect" coords="917,163,1050,225" href="../elements/id-1c11cad2d8ab4c6687d4ef563d609c6e.html"  target="element">
				  		<area shape="rect" coords="1162,497,1282,566" href="../elements/id-5c094857f83d49bea2b7e85ea71e0d4d.html"  target="element">
				  		<area shape="rect" coords="527,163,659,225" href="../elements/id-16882630b8b84b348eca4aeb4a7de06f.html"  target="element">
				  		<area shape="rect" coords="935,381,1050,453" href="../elements/id-37c407884986431ebb69c387b1fd1dec.html"  target="element">
				  		<area shape="rect" coords="1014,494,1146,566" href="../elements/id-ca82ea8ad63748159cfbb165a719b5fd.html"  target="element">
				  		<area shape="rect" coords="10,495,167,566" href="../elements/id-c3f959399d6649cd9730d76ecec459bb.html"  target="element">
				  		<area shape="rect" coords="365,275,498,331" href="../elements/id-e004d51ed9fc48fb9db5a514455617f2.html"  target="element">
				  		<area shape="rect" coords="905,657,1062,730" href="../elements/id-6ba376085a8a4f88a260b96074f12bdb.html"  target="element">
				  		<area shape="rect" coords="10,657,167,730" href="../elements/id-03b2aa32f78940938be852fa37abfb08.html"  target="element">
				  		<area shape="rect" coords="365,497,498,566" href="../elements/id-fea21e980fbb40b9b23e78ae0857177a.html"  target="element">
				  		<area shape="rect" coords="533,382,666,453" href="../elements/id-51d33d72b9ba4cbdb5c3024ee2a31137.html"  target="element">
				  		<area shape="rect" coords="190,657,347,730" href="../elements/id-a5454e7e24934803af3d661a6877dc93.html"  target="element">
				  		<area shape="rect" coords="1102,381,1234,453" href="../elements/id-b603962edf384873a6ecc12c05550fa0.html"  target="element">
				  		<area shape="rect" coords="365,163,498,225" href="../elements/id-a23ae759763f4675911c405be93437a8.html"  target="element">
				  		<area shape="rect" coords="689,163,822,225" href="../elements/id-8810a9364eea4d63b301bc5b6fa62a17.html"  target="element">
				  		<area shape="rect" coords="1030,267,1163,323" href="../elements/id-733d673a125149fd964a0a25d53a2122.html"  target="element">
				  		<area shape="rect" coords="10,382,167,453" href="../elements/id-3142203d65bd42e49a5f6312188fb456.html"  target="element">
				  		<area shape="rect" coords="190,497,335,566" href="../elements/id-c0b6e2461a1a40f19a7e674e43ce97b4.html"  target="element">
				  		<area shape="rect" coords="365,382,498,453" href="../elements/id-af65e30e0b7844d796ba6fb73d64d4c9.html"  target="element">
				  		<area shape="rect" coords="10,163,167,225" href="../elements/id-6c8fd578683b41a1a8f1ec18129a805f.html"  target="element">
				  		<area shape="rect" coords="10,267,167,338" href="../elements/id-680fe4e95e804837911efaf29744d182.html"  target="element">
				  		<area shape="rect" coords="874,497,1007,566" href="../elements/id-7af4c372cba84b0ba4614f654a65d8ac.html"  target="element">
				  		<area shape="rect" coords="684,497,828,566" href="../elements/id-00c1750fe0c6463aba0af4c6e0e7f430.html"  target="element">
				  		<area shape="rect" coords="591,657,748,730" href="../elements/id-3f769576478f4bb89b719049e48f11aa.html"  target="element">
				  		<area shape="rect" coords="418,657,575,730" href="../elements/id-9b70e5083bc6422f81bc219340085421.html"  target="element">
				  		<area shape="rect" coords="1294,497,1415,566" href="../elements/id-235cb2585c1c4bdca991e7726d282edd.html"  target="element">
				  		<area shape="rect" coords="202,382,335,453" href="../elements/id-ecfcc076f00345049c6f1f88bccbc2da.html"  target="element">
				  		<area shape="rect" coords="526,497,666,566" href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html"  target="element">
				          <area shape="rect" coords="1162,10,1371,92" href="../objects/id-d11c1fa381ec4df3bb3d85cce34d0fc0.html" target="element" >
				          <area shape="rect" coords="10,10,203,101" href="../objects/id-e4bdfb1ccd6641668b86796d5a572534.html" target="element" >
				  		<area shape="rect" coords="689,275,822,331" href="../elements/id-0f80e6bb641040438e190fa5352fafc0.html"  target="element">
				  		<area shape="rect" coords="1198,163,1342,225" href="../elements/id-4b3d57cab05a4d50b756b739711c50a7.html"  target="element">
				  		<area shape="rect" coords="526,275,659,331" href="../elements/id-2df92a01daa040c1be435a4c6c2d7f36.html"  target="element">
				  		<area shape="rect" coords="202,275,335,331" href="../elements/id-60b5f362984d424b957ccc24119167f9.html"  target="element">
				  		<area shape="rect" coords="848,275,981,331" href="../elements/id-334170d300434a5782f39eab098019d7.html"  target="element">
				  		<area shape="rect" coords="696,46,816,101" href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
											    <td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-334170d300434a5782f39eab098019d7.html" target="element"> Costs </a> </td>
											    <td> <a href="../elements/id-334170d300434a5782f39eab098019d7.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-60b5f362984d424b957ccc24119167f9.html" target="element"> Predictable transport chains </a> </td>
											    <td> <a href="../elements/id-60b5f362984d424b957ccc24119167f9.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2df92a01daa040c1be435a4c6c2d7f36.html" target="element"> Efficient transport chains </a> </td>
											    <td> <a href="../elements/id-2df92a01daa040c1be435a4c6c2d7f36.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4b3d57cab05a4d50b756b739711c50a7.html" target="element"> Public image </a> </td>
											    <td> <a href="../elements/id-4b3d57cab05a4d50b756b739711c50a7.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f80e6bb641040438e190fa5352fafc0.html" target="element"> Revenue </a> </td>
											    <td> <a href="../elements/id-0f80e6bb641040438e190fa5352fafc0.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-e4bdfb1ccd6641668b86796d5a572534.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e4bdfb1ccd6641668b86796d5a572534.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-d11c1fa381ec4df3bb3d85cce34d0fc0.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d11c1fa381ec4df3bb3d85cce34d0fc0.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element"> Low flexibility  </a> </td>
											    <td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ecfcc076f00345049c6f1f88bccbc2da.html" target="element"> Depend on information from fleet operator </a> </td>
											    <td> <a href="../elements/id-ecfcc076f00345049c6f1f88bccbc2da.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-235cb2585c1c4bdca991e7726d282edd.html" target="element"> Image depends on use of modes and means </a> </td>
											    <td> <a href="../elements/id-235cb2585c1c4bdca991e7726d282edd.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9b70e5083bc6422f81bc219340085421.html" target="element"> Low/late/hurried adaption in case of network deviations </a> </td>
											    <td> <a href="../elements/id-9b70e5083bc6422f81bc219340085421.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f769576478f4bb89b719049e48f11aa.html" target="element"> Opportunities cannot be utilised </a> </td>
											    <td> <a href="../elements/id-3f769576478f4bb89b719049e48f11aa.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-00c1750fe0c6463aba0af4c6e0e7f430.html" target="element"> Business models limit flexibility in case of network problems </a> </td>
											    <td> <a href="../elements/id-00c1750fe0c6463aba0af4c6e0e7f430.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7af4c372cba84b0ba4614f654a65d8ac.html" target="element"> Business models do not reward collaboration </a> </td>
											    <td> <a href="../elements/id-7af4c372cba84b0ba4614f654a65d8ac.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-680fe4e95e804837911efaf29744d182.html" target="element"> Varying access to real-time information for customer </a> </td>
											    <td> <a href="../elements/id-680fe4e95e804837911efaf29744d182.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6c8fd578683b41a1a8f1ec18129a805f.html" target="element"> Chains adapted to transport demands </a> </td>
											    <td> <a href="../elements/id-6c8fd578683b41a1a8f1ec18129a805f.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-af65e30e0b7844d796ba6fb73d64d4c9.html" target="element"> Resilient transport chains </a> </td>
											    <td> <a href="../elements/id-af65e30e0b7844d796ba6fb73d64d4c9.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c0b6e2461a1a40f19a7e674e43ce97b4.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
											    <td> <a href="../elements/id-c0b6e2461a1a40f19a7e674e43ce97b4.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3142203d65bd42e49a5f6312188fb456.html" target="element"> Niches may have special requirements </a> </td>
											    <td> <a href="../elements/id-3142203d65bd42e49a5f6312188fb456.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-733d673a125149fd964a0a25d53a2122.html" target="element"> Green transport </a> </td>
											    <td> <a href="../elements/id-733d673a125149fd964a0a25d53a2122.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8810a9364eea4d63b301bc5b6fa62a17.html" target="element"> Sustainability </a> </td>
											    <td> <a href="../elements/id-8810a9364eea4d63b301bc5b6fa62a17.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a23ae759763f4675911c405be93437a8.html" target="element"> Customer satisfaction </a> </td>
											    <td> <a href="../elements/id-a23ae759763f4675911c405be93437a8.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b603962edf384873a6ecc12c05550fa0.html" target="element"> Green is important for public image </a> </td>
											    <td> <a href="../elements/id-b603962edf384873a6ecc12c05550fa0.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a5454e7e24934803af3d661a6877dc93.html" target="element"> Limited data sharing on realtime and upcoming traffic and regulation </a> </td>
											    <td> <a href="../elements/id-a5454e7e24934803af3d661a6877dc93.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-51d33d72b9ba4cbdb5c3024ee2a31137.html" target="element"> No profit linked to data sharing </a> </td>
											    <td> <a href="../elements/id-51d33d72b9ba4cbdb5c3024ee2a31137.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fea21e980fbb40b9b23e78ae0857177a.html" target="element"> Limited data sharing with traffic orchestrator </a> </td>
											    <td> <a href="../elements/id-fea21e980fbb40b9b23e78ae0857177a.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-03b2aa32f78940938be852fa37abfb08.html" target="element"> Limited regulation and standards on data exchange </a> </td>
											    <td> <a href="../elements/id-03b2aa32f78940938be852fa37abfb08.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6ba376085a8a4f88a260b96074f12bdb.html" target="element"> Legal issues and competition laws hinder collaboration </a> </td>
											    <td> <a href="../elements/id-6ba376085a8a4f88a260b96074f12bdb.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e004d51ed9fc48fb9db5a514455617f2.html" target="element"> Safety for people and goods </a> </td>
											    <td> <a href="../elements/id-e004d51ed9fc48fb9db5a514455617f2.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c3f959399d6649cd9730d76ecec459bb.html" target="element"> More frequent and extreme events due to climate change </a> </td>
											    <td> <a href="../elements/id-c3f959399d6649cd9730d76ecec459bb.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ca82ea8ad63748159cfbb165a719b5fd.html" target="element"> Some collaboration for green alternatives </a> </td>
											    <td> <a href="../elements/id-ca82ea8ad63748159cfbb165a719b5fd.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-37c407884986431ebb69c387b1fd1dec.html" target="element"> Promoted by EU policy </a> </td>
											    <td> <a href="../elements/id-37c407884986431ebb69c387b1fd1dec.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16882630b8b84b348eca4aeb4a7de06f.html" target="element"> Decisions are sub-optimal to the society </a> </td>
											    <td> <a href="../elements/id-16882630b8b84b348eca4aeb4a7de06f.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5c094857f83d49bea2b7e85ea71e0d4d.html" target="element"> Participation in sustainable services is positive </a> </td>
											    <td> <a href="../elements/id-5c094857f83d49bea2b7e85ea71e0d4d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1c11cad2d8ab4c6687d4ef563d609c6e.html" target="element"> New business opportunities </a> </td>
											    <td> <a href="../elements/id-1c11cad2d8ab4c6687d4ef563d609c6e.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d3f865cac86e4c558cad5799fa4370a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3f865cac86e4c558cad5799fa4370a8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
																		<td> <a href="../elements/id-4b3d57cab05a4d50b756b739711c50a7.html" target="element"> Public image </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f0258e92b934fe9a8825280151bf4c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f0258e92b934fe9a8825280151bf4c9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
																		<td> <a href="../elements/id-8810a9364eea4d63b301bc5b6fa62a17.html" target="element"> Sustainability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e8b710d44f0447d8b5340eb898da8f9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e8b710d44f0447d8b5340eb898da8f9f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
																		<td> <a href="../elements/id-1c11cad2d8ab4c6687d4ef563d609c6e.html" target="element"> New business opportunities </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-35ca800535754b64bf702402c6d96773.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-35ca800535754b64bf702402c6d96773.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-334170d300434a5782f39eab098019d7.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element"> Low flexibility  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-157f1454317c41a486a5779afc83ec1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-157f1454317c41a486a5779afc83ec1b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-60b5f362984d424b957ccc24119167f9.html" target="element"> Predictable transport chains </a> </td>
																		<td> <a href="../elements/id-ecfcc076f00345049c6f1f88bccbc2da.html" target="element"> Depend on information from fleet operator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2dbd31bfd4e54c938233d5a730a121c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2dbd31bfd4e54c938233d5a730a121c7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-60b5f362984d424b957ccc24119167f9.html" target="element"> Predictable transport chains </a> </td>
																		<td> <a href="../elements/id-af65e30e0b7844d796ba6fb73d64d4c9.html" target="element"> Resilient transport chains </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d214a84201b84193b8549c787bb90372.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d214a84201b84193b8549c787bb90372.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2df92a01daa040c1be435a4c6c2d7f36.html" target="element"> Efficient transport chains </a> </td>
																		<td> <a href="../elements/id-a23ae759763f4675911c405be93437a8.html" target="element"> Customer satisfaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e049ddff2c5e4d778cc2677cd924a49d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e049ddff2c5e4d778cc2677cd924a49d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2df92a01daa040c1be435a4c6c2d7f36.html" target="element"> Efficient transport chains </a> </td>
																		<td> <a href="../elements/id-af65e30e0b7844d796ba6fb73d64d4c9.html" target="element"> Resilient transport chains </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2b6e7dd205fd44b784ad086996539012.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b6e7dd205fd44b784ad086996539012.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4b3d57cab05a4d50b756b739711c50a7.html" target="element"> Public image </a> </td>
																		<td> <a href="../elements/id-235cb2585c1c4bdca991e7726d282edd.html" target="element"> Image depends on use of modes and means </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-455ca290a3534590b6b8d13171966cfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-455ca290a3534590b6b8d13171966cfd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4b3d57cab05a4d50b756b739711c50a7.html" target="element"> Public image </a> </td>
																		<td> <a href="../elements/id-b603962edf384873a6ecc12c05550fa0.html" target="element"> Green is important for public image </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9caabadf3f184a9cb2bf10d44ab413cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9caabadf3f184a9cb2bf10d44ab413cd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0f80e6bb641040438e190fa5352fafc0.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-2df92a01daa040c1be435a4c6c2d7f36.html" target="element"> Efficient transport chains </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d901f1697f6462daa849ce3b5a9e312.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d901f1697f6462daa849ce3b5a9e312.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0f80e6bb641040438e190fa5352fafc0.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-00c1750fe0c6463aba0af4c6e0e7f430.html" target="element"> Business models limit flexibility in case of network problems </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2a71983af64422d9716c37e7bd4a96f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2a71983af64422d9716c37e7bd4a96f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0f80e6bb641040438e190fa5352fafc0.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-7af4c372cba84b0ba4614f654a65d8ac.html" target="element"> Business models do not reward collaboration </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-986cf97187e240a4bd47b217e1c7391e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-986cf97187e240a4bd47b217e1c7391e.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element"> Low flexibility  </a> </td>
																		<td> <a href="../elements/id-3f769576478f4bb89b719049e48f11aa.html" target="element"> Opportunities cannot be utilised </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5379d3b4dd65435b9a35f12c714ff256.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5379d3b4dd65435b9a35f12c714ff256.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element"> Low flexibility  </a> </td>
																		<td> <a href="../elements/id-9b70e5083bc6422f81bc219340085421.html" target="element"> Low/late/hurried adaption in case of network deviations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9ed6b609b0564d8ea3c63356ff1f095d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9ed6b609b0564d8ea3c63356ff1f095d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-680fe4e95e804837911efaf29744d182.html" target="element"> Varying access to real-time information for customer </a> </td>
																		<td> <a href="../elements/id-60b5f362984d424b957ccc24119167f9.html" target="element"> Predictable transport chains </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f3917fae037b45019584171fe7cbc6d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3917fae037b45019584171fe7cbc6d6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-af65e30e0b7844d796ba6fb73d64d4c9.html" target="element"> Resilient transport chains </a> </td>
																		<td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element"> Low flexibility  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b804d1257e8e4ec8882106ec54cf8d2f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b804d1257e8e4ec8882106ec54cf8d2f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-c0b6e2461a1a40f19a7e674e43ce97b4.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																		<td> <a href="../elements/id-af65e30e0b7844d796ba6fb73d64d4c9.html" target="element"> Resilient transport chains </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bc5137d50e9d420a96817c7ce2145d26.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc5137d50e9d420a96817c7ce2145d26.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-3142203d65bd42e49a5f6312188fb456.html" target="element"> Niches may have special requirements </a> </td>
																		<td> <a href="../elements/id-60b5f362984d424b957ccc24119167f9.html" target="element"> Predictable transport chains </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7c7277eeddef4f70b9310f2b424ec7cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c7277eeddef4f70b9310f2b424ec7cb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-733d673a125149fd964a0a25d53a2122.html" target="element"> Green transport </a> </td>
																		<td> <a href="../elements/id-b603962edf384873a6ecc12c05550fa0.html" target="element"> Green is important for public image </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-81ca411644904e5cbefb1d36a8ac126b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-81ca411644904e5cbefb1d36a8ac126b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-733d673a125149fd964a0a25d53a2122.html" target="element"> Green transport </a> </td>
																		<td> <a href="../elements/id-ca82ea8ad63748159cfbb165a719b5fd.html" target="element"> Some collaboration for green alternatives </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b17478531b5042f4a0857508d56e0c55.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b17478531b5042f4a0857508d56e0c55.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-8810a9364eea4d63b301bc5b6fa62a17.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-733d673a125149fd964a0a25d53a2122.html" target="element"> Green transport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd27561823ae484c89671ceacab6cdce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd27561823ae484c89671ceacab6cdce.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-8810a9364eea4d63b301bc5b6fa62a17.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-334170d300434a5782f39eab098019d7.html" target="element"> Costs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fdbc993d07c2468ab7e2fddb30ebd552.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fdbc993d07c2468ab7e2fddb30ebd552.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-8810a9364eea4d63b301bc5b6fa62a17.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-0f80e6bb641040438e190fa5352fafc0.html" target="element"> Revenue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59efa8b9654b48b3b82fd6fd5b9f5c38.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59efa8b9654b48b3b82fd6fd5b9f5c38.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-8810a9364eea4d63b301bc5b6fa62a17.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-2df92a01daa040c1be435a4c6c2d7f36.html" target="element"> Efficient transport chains </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-186f47b9affb4afb85321209172fca5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-186f47b9affb4afb85321209172fca5d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-8810a9364eea4d63b301bc5b6fa62a17.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-16882630b8b84b348eca4aeb4a7de06f.html" target="element"> Decisions are sub-optimal to the society </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ca8b3212eb254cb7b6581f12f4b4cf73.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ca8b3212eb254cb7b6581f12f4b4cf73.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a23ae759763f4675911c405be93437a8.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8a85b519a0e64eda88ffdd785cc7c4b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a85b519a0e64eda88ffdd785cc7c4b6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a23ae759763f4675911c405be93437a8.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-6c8fd578683b41a1a8f1ec18129a805f.html" target="element"> Chains adapted to transport demands </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ceed15d789a94633a8e83692d27a65f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ceed15d789a94633a8e83692d27a65f0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a23ae759763f4675911c405be93437a8.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-60b5f362984d424b957ccc24119167f9.html" target="element"> Predictable transport chains </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0080c97fc2794040a24f600b4dee772a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0080c97fc2794040a24f600b4dee772a.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-a5454e7e24934803af3d661a6877dc93.html" target="element"> Limited data sharing on realtime and upcoming traffic and regulation </a> </td>
																		<td> <a href="../elements/id-c0b6e2461a1a40f19a7e674e43ce97b4.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78365c8fb8c048cda62a8d363127d145.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78365c8fb8c048cda62a8d363127d145.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-a5454e7e24934803af3d661a6877dc93.html" target="element"> Limited data sharing on realtime and upcoming traffic and regulation </a> </td>
																		<td> <a href="../elements/id-9b70e5083bc6422f81bc219340085421.html" target="element"> Low/late/hurried adaption in case of network deviations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a381ac6cfb274c5fa0288b46fd904380.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a381ac6cfb274c5fa0288b46fd904380.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-51d33d72b9ba4cbdb5c3024ee2a31137.html" target="element"> No profit linked to data sharing </a> </td>
																		<td> <a href="../elements/id-0f80e6bb641040438e190fa5352fafc0.html" target="element"> Revenue </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29647e4583054de1b5b9fed0881dd3ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29647e4583054de1b5b9fed0881dd3ef.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-fea21e980fbb40b9b23e78ae0857177a.html" target="element"> Limited data sharing with traffic orchestrator </a> </td>
																		<td> <a href="../elements/id-af65e30e0b7844d796ba6fb73d64d4c9.html" target="element"> Resilient transport chains </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ce6597ee65d0441dac6631564a6ec51b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce6597ee65d0441dac6631564a6ec51b.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-03b2aa32f78940938be852fa37abfb08.html" target="element"> Limited regulation and standards on data exchange </a> </td>
																		<td> <a href="../elements/id-fea21e980fbb40b9b23e78ae0857177a.html" target="element"> Limited data sharing with traffic orchestrator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ce734136050d419cac5c2556c25c57e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce734136050d419cac5c2556c25c57e4.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-6ba376085a8a4f88a260b96074f12bdb.html" target="element"> Legal issues and competition laws hinder collaboration </a> </td>
																		<td> <a href="../elements/id-7af4c372cba84b0ba4614f654a65d8ac.html" target="element"> Business models do not reward collaboration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7e6f6c29c63e46a18267ce69bbb1bb66.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e6f6c29c63e46a18267ce69bbb1bb66.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-e004d51ed9fc48fb9db5a514455617f2.html" target="element"> Safety for people and goods </a> </td>
																		<td> <a href="../elements/id-a23ae759763f4675911c405be93437a8.html" target="element"> Customer satisfaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f0b5e248df9d45b0b4e76414ff12f2a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0b5e248df9d45b0b4e76414ff12f2a4.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-c3f959399d6649cd9730d76ecec459bb.html" target="element"> More frequent and extreme events due to climate change </a> </td>
																		<td> <a href="../elements/id-c0b6e2461a1a40f19a7e674e43ce97b4.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1461b08d14524aad8f1f6f2c8ff8a255.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1461b08d14524aad8f1f6f2c8ff8a255.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-37c407884986431ebb69c387b1fd1dec.html" target="element"> Promoted by EU policy </a> </td>
																		<td> <a href="../elements/id-733d673a125149fd964a0a25d53a2122.html" target="element"> Green transport </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fe71cfd284a0479f99de26fc7134a2dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe71cfd284a0479f99de26fc7134a2dd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5c094857f83d49bea2b7e85ea71e0d4d.html" target="element"> Participation in sustainable services is positive </a> </td>
																		<td> <a href="../elements/id-4b3d57cab05a4d50b756b739711c50a7.html" target="element"> Public image </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5891e484f9644f3fa374437623dae14d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5891e484f9644f3fa374437623dae14d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1c11cad2d8ab4c6687d4ef563d609c6e.html" target="element"> New business opportunities </a> </td>
																		<td> <a href="../elements/id-8810a9364eea4d63b301bc5b6fa62a17.html" target="element"> Sustainability </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>