<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Transport Service Provider Drivers WS</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Transport Service Provider Drivers WS</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-stakeholder"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_stakeholder" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b4d8745d7dc0489ab4a158eaa8573e62.png" alt="Transport Service Provider Drivers WS" usemap="#id-b4d8745d7dc0489ab4a158eaa8573e62map"/>
			   <map name="id-b4d8745d7dc0489ab4a158eaa8573e62map">
				          <area shape="rect" coords="1142,148,1271,228" href="../objects/id-e36cb0600e0d4e4ca434ab07ad7bf419.html" target="element" >
				          <area shape="rect" coords="1142,37,1271,117" href="../objects/id-c05351a6d6fa4c619641ab13e39900bd.html" target="element" >
				          <area shape="rect" coords="1114,340,1299,420" href="../objects/id-883ae1bc539f4652bf83b115ab35ea80.html" target="element" >
				  		<area shape="rect" coords="681,484,814,555" href="../elements/id-df63e62e9203408f8501f028de920d50.html"  target="element">
				  		<area shape="rect" coords="489,659,622,730" href="../elements/id-6cdc3ad717954b629f810c8669212019.html"  target="element">
				  		<area shape="rect" coords="10,314,143,385" href="../elements/id-53e4cbee22774caa84df186b69150b57.html"  target="element">
				  		<area shape="rect" coords="22,580,155,651" href="../elements/id-dd5260aec7094bad96c0a8c375417d0d.html"  target="element">
				  		<area shape="rect" coords="118,496,251,567" href="../elements/id-53c4221c79e941db82e5aac1961fe64a.html"  target="element">
				  		<area shape="rect" coords="322,640,455,711" href="../elements/id-25fe474ca34d4a8ab7c848dbfbc97970.html"  target="element">
				  		<area shape="rect" coords="693,566,826,637" href="../elements/id-9593163834174692917b30a39f99a99c.html"  target="element">
				  		<area shape="rect" coords="845,566,978,637" href="../elements/id-5caf78f812674789b73afd2be767fdbf.html"  target="element">
				  		<area shape="rect" coords="994,566,1127,637" href="../elements/id-47ee83efeef94e6fac9a43de8ae2f59f.html"  target="element">
				          <area shape="rect" coords="110,688,295,768" href="../objects/id-ecba4abe8ad04d09aa219fbebad23b33.html" target="element" >
				  		<area shape="rect" coords="946,314,1079,385" href="../elements/id-271fc7b70b8a47d4a337bf118c2d4d3b.html"  target="element">
				  		<area shape="rect" coords="754,304,887,375" href="../elements/id-030ff150269442d5a4b3e3db1659cc00.html"  target="element">
				  		<area shape="rect" coords="226,401,359,472" href="../elements/id-843e40502e0247c8b9cea58d927a1617.html"  target="element">
				  		<area shape="rect" coords="501,314,634,385" href="../elements/id-0add4921e0ed4a65a867ae81e7d57cd6.html"  target="element">
				  		<area shape="rect" coords="334,314,467,385" href="../elements/id-156d20d2d2f842f7b116b754617262ee.html"  target="element">
				  		<area shape="rect" coords="178,314,311,385" href="../elements/id-2825c231077a4a90bcec16fddd5050c0.html"  target="element">
				  		<area shape="rect" coords="766,149,899,220" href="../elements/id-02abd47cdef849b4b75bee7141f4a455.html"  target="element">
				  		<area shape="rect" coords="610,149,743,220" href="../elements/id-3138e5a008954512be3b1b6e991ca9e4.html"  target="element">
				  		<area shape="rect" coords="442,149,575,220" href="../elements/id-601b5a9fd3db4ef68da5ecf35a6fa739.html"  target="element">
				  		<area shape="rect" coords="285,149,418,220" href="../elements/id-38cd9284b9ef48c28ea3c0aad905c5e0.html"  target="element">
				  		<area shape="rect" coords="706,393,839,464" href="../elements/id-7af4c372cba84b0ba4614f654a65d8ac.html"  target="element">
				  		<area shape="rect" coords="525,395,694,479" href="../elements/id-00c1750fe0c6463aba0af4c6e0e7f430.html"  target="element">
				  		<area shape="rect" coords="358,526,490,599" href="../elements/id-3f769576478f4bb89b719049e48f11aa.html"  target="element">
				  		<area shape="rect" coords="538,526,682,599" href="../elements/id-9b70e5083bc6422f81bc219340085421.html"  target="element">
				  		<area shape="rect" coords="850,393,974,480" href="../elements/id-235cb2585c1c4bdca991e7726d282edd.html"  target="element">
				  		<area shape="rect" coords="94,400,214,473" href="../elements/id-ecfcc076f00345049c6f1f88bccbc2da.html"  target="element">
				  		<area shape="rect" coords="370,400,490,473" href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html"  target="element">
				          <area shape="rect" coords="934,40,1119,150" href="../objects/id-e2b0367726024203a738f0a146664b70.html" target="element" >
				          <area shape="rect" coords="106,10,299,143" href="../objects/id-50bfaf65323b4f41b0ca6168f191d8ba.html" target="element" >
				  		<area shape="rect" coords="514,244,658,299" href="../elements/id-0f80e6bb641040438e190fa5352fafc0.html"  target="element">
				  		<area shape="rect" coords="826,244,970,299" href="../elements/id-4b3d57cab05a4d50b756b739711c50a7.html"  target="element">
				  		<area shape="rect" coords="322,244,502,299" href="../elements/id-2df92a01daa040c1be435a4c6c2d7f36.html"  target="element">
				  		<area shape="rect" coords="118,244,298,299" href="../elements/id-60b5f362984d424b957ccc24119167f9.html"  target="element">
				  		<area shape="rect" coords="673,244,817,299" href="../elements/id-334170d300434a5782f39eab098019d7.html"  target="element">
				  		<area shape="rect" coords="442,88,562,143" href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
											    <td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-334170d300434a5782f39eab098019d7.html" target="element"> Costs </a> </td>
											    <td> <a href="../elements/id-334170d300434a5782f39eab098019d7.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-60b5f362984d424b957ccc24119167f9.html" target="element"> Predictable transport chains </a> </td>
											    <td> <a href="../elements/id-60b5f362984d424b957ccc24119167f9.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2df92a01daa040c1be435a4c6c2d7f36.html" target="element"> Efficient transport chains </a> </td>
											    <td> <a href="../elements/id-2df92a01daa040c1be435a4c6c2d7f36.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4b3d57cab05a4d50b756b739711c50a7.html" target="element"> Public image </a> </td>
											    <td> <a href="../elements/id-4b3d57cab05a4d50b756b739711c50a7.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f80e6bb641040438e190fa5352fafc0.html" target="element"> Revenue </a> </td>
											    <td> <a href="../elements/id-0f80e6bb641040438e190fa5352fafc0.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-50bfaf65323b4f41b0ca6168f191d8ba.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-50bfaf65323b4f41b0ca6168f191d8ba.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e2b0367726024203a738f0a146664b70.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e2b0367726024203a738f0a146664b70.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element"> Low flexibility  </a> </td>
											    <td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ecfcc076f00345049c6f1f88bccbc2da.html" target="element"> Depend on information from fleet operator </a> </td>
											    <td> <a href="../elements/id-ecfcc076f00345049c6f1f88bccbc2da.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-235cb2585c1c4bdca991e7726d282edd.html" target="element"> Image depends on use of modes and means </a> </td>
											    <td> <a href="../elements/id-235cb2585c1c4bdca991e7726d282edd.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9b70e5083bc6422f81bc219340085421.html" target="element"> Low/late/hurried adaption in case of network deviations </a> </td>
											    <td> <a href="../elements/id-9b70e5083bc6422f81bc219340085421.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f769576478f4bb89b719049e48f11aa.html" target="element"> Opportunities cannot be utilised </a> </td>
											    <td> <a href="../elements/id-3f769576478f4bb89b719049e48f11aa.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-00c1750fe0c6463aba0af4c6e0e7f430.html" target="element"> Business models limit flexibility in case of network problems </a> </td>
											    <td> <a href="../elements/id-00c1750fe0c6463aba0af4c6e0e7f430.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7af4c372cba84b0ba4614f654a65d8ac.html" target="element"> Business models do not reward collaboration </a> </td>
											    <td> <a href="../elements/id-7af4c372cba84b0ba4614f654a65d8ac.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-38cd9284b9ef48c28ea3c0aad905c5e0.html" target="element"> Happy customer </a> </td>
											    <td> <a href="../elements/id-38cd9284b9ef48c28ea3c0aad905c5e0.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-601b5a9fd3db4ef68da5ecf35a6fa739.html" target="element"> Transparent to customer </a> </td>
											    <td> <a href="../elements/id-601b5a9fd3db4ef68da5ecf35a6fa739.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3138e5a008954512be3b1b6e991ca9e4.html" target="element"> Sustainable transport </a> </td>
											    <td> <a href="../elements/id-3138e5a008954512be3b1b6e991ca9e4.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-02abd47cdef849b4b75bee7141f4a455.html" target="element"> Green </a> </td>
											    <td> <a href="../elements/id-02abd47cdef849b4b75bee7141f4a455.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2825c231077a4a90bcec16fddd5050c0.html" target="element"> "Follow your customer" </a> </td>
											    <td> <a href="../elements/id-2825c231077a4a90bcec16fddd5050c0.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-156d20d2d2f842f7b116b754617262ee.html" target="element"> Resilient transport chains </a> </td>
											    <td> <a href="../elements/id-156d20d2d2f842f7b116b754617262ee.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0add4921e0ed4a65a867ae81e7d57cd6.html" target="element"> Fast </a> </td>
											    <td> <a href="../elements/id-0add4921e0ed4a65a867ae81e7d57cd6.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-843e40502e0247c8b9cea58d927a1617.html" target="element"> Intelligent customer guiding </a> </td>
											    <td> <a href="../elements/id-843e40502e0247c8b9cea58d927a1617.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-030ff150269442d5a4b3e3db1659cc00.html" target="element"> Niche </a> </td>
											    <td> <a href="../elements/id-030ff150269442d5a4b3e3db1659cc00.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-271fc7b70b8a47d4a337bf118c2d4d3b.html" target="element"> Safety for people and goods </a> </td>
											    <td> <a href="../elements/id-271fc7b70b8a47d4a337bf118c2d4d3b.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-ecba4abe8ad04d09aa219fbebad23b33.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ecba4abe8ad04d09aa219fbebad23b33.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-47ee83efeef94e6fac9a43de8ae2f59f.html" target="element"> Containers independent of transport provider </a> </td>
											    <td> <a href="../elements/id-47ee83efeef94e6fac9a43de8ae2f59f.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5caf78f812674789b73afd2be767fdbf.html" target="element"> Legal issues / competition laws </a> </td>
											    <td> <a href="../elements/id-5caf78f812674789b73afd2be767fdbf.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9593163834174692917b30a39f99a99c.html" target="element"> Cooperation exists in international shipping </a> </td>
											    <td> <a href="../elements/id-9593163834174692917b30a39f99a99c.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-25fe474ca34d4a8ab7c848dbfbc97970.html" target="element"> Contracts with many fleet operators </a> </td>
											    <td> <a href="../elements/id-25fe474ca34d4a8ab7c848dbfbc97970.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-53c4221c79e941db82e5aac1961fe64a.html" target="element"> Disrupt the role of the fleet operator </a> </td>
											    <td> <a href="../elements/id-53c4221c79e941db82e5aac1961fe64a.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd5260aec7094bad96c0a8c375417d0d.html" target="element"> CAVs can help predictability </a> </td>
											    <td> <a href="../elements/id-dd5260aec7094bad96c0a8c375417d0d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-53e4cbee22774caa84df186b69150b57.html" target="element"> Data sharing to create predictability </a> </td>
											    <td> <a href="../elements/id-53e4cbee22774caa84df186b69150b57.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6cdc3ad717954b629f810c8669212019.html" target="element"> Marketplace for transport brokering </a> </td>
											    <td> <a href="../elements/id-6cdc3ad717954b629f810c8669212019.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-df63e62e9203408f8501f028de920d50.html" target="element"> Law or profit would motivate to share data </a> </td>
											    <td> <a href="../elements/id-df63e62e9203408f8501f028de920d50.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-883ae1bc539f4652bf83b115ab35ea80.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-883ae1bc539f4652bf83b115ab35ea80.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-c05351a6d6fa4c619641ab13e39900bd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c05351a6d6fa4c619641ab13e39900bd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-e36cb0600e0d4e4ca434ab07ad7bf419.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-e36cb0600e0d4e4ca434ab07ad7bf419.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d3f865cac86e4c558cad5799fa4370a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3f865cac86e4c558cad5799fa4370a8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
																		<td> <a href="../elements/id-4b3d57cab05a4d50b756b739711c50a7.html" target="element"> Public image </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-35ca800535754b64bf702402c6d96773.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-35ca800535754b64bf702402c6d96773.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-334170d300434a5782f39eab098019d7.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element"> Low flexibility  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-157f1454317c41a486a5779afc83ec1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-157f1454317c41a486a5779afc83ec1b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-60b5f362984d424b957ccc24119167f9.html" target="element"> Predictable transport chains </a> </td>
																		<td> <a href="../elements/id-ecfcc076f00345049c6f1f88bccbc2da.html" target="element"> Depend on information from fleet operator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6fc2f4a3c0db4aada4060f2de06ea0b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6fc2f4a3c0db4aada4060f2de06ea0b4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-60b5f362984d424b957ccc24119167f9.html" target="element"> Predictable transport chains </a> </td>
																		<td> <a href="../elements/id-53e4cbee22774caa84df186b69150b57.html" target="element"> Data sharing to create predictability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2b6e7dd205fd44b784ad086996539012.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2b6e7dd205fd44b784ad086996539012.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4b3d57cab05a4d50b756b739711c50a7.html" target="element"> Public image </a> </td>
																		<td> <a href="../elements/id-235cb2585c1c4bdca991e7726d282edd.html" target="element"> Image depends on use of modes and means </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9caabadf3f184a9cb2bf10d44ab413cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9caabadf3f184a9cb2bf10d44ab413cd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0f80e6bb641040438e190fa5352fafc0.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-2df92a01daa040c1be435a4c6c2d7f36.html" target="element"> Efficient transport chains </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9d901f1697f6462daa849ce3b5a9e312.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d901f1697f6462daa849ce3b5a9e312.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0f80e6bb641040438e190fa5352fafc0.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-00c1750fe0c6463aba0af4c6e0e7f430.html" target="element"> Business models limit flexibility in case of network problems </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d2a71983af64422d9716c37e7bd4a96f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d2a71983af64422d9716c37e7bd4a96f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0f80e6bb641040438e190fa5352fafc0.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-7af4c372cba84b0ba4614f654a65d8ac.html" target="element"> Business models do not reward collaboration </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-986cf97187e240a4bd47b217e1c7391e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-986cf97187e240a4bd47b217e1c7391e.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element"> Low flexibility  </a> </td>
																		<td> <a href="../elements/id-3f769576478f4bb89b719049e48f11aa.html" target="element"> Opportunities cannot be utilised </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5379d3b4dd65435b9a35f12c714ff256.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5379d3b4dd65435b9a35f12c714ff256.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element"> Low flexibility  </a> </td>
																		<td> <a href="../elements/id-9b70e5083bc6422f81bc219340085421.html" target="element"> Low/late/hurried adaption in case of network deviations </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-7282fd8079904cb186bc3f5cfd5a23d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7282fd8079904cb186bc3f5cfd5a23d1.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-53e4cbee22774caa84df186b69150b57.html" target="element"> Data sharing to create predictability </a> </td>
																		<td> <a href="../elements/id-6cdc3ad717954b629f810c8669212019.html" target="element"> Marketplace for transport brokering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b50fedba5b724f3ca7238a782108b5ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b50fedba5b724f3ca7238a782108b5ed.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6cdc3ad717954b629f810c8669212019.html" target="element"> Marketplace for transport brokering </a> </td>
																		<td> <a href="../elements/id-2df92a01daa040c1be435a4c6c2d7f36.html" target="element"> Efficient transport chains </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>