<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fleet Operator Goals</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fleet Operator Goals</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-3dbb3e4941794d72ad5e085cbf470ead.png" alt="Fleet Operator Goals" usemap="#id-3dbb3e4941794d72ad5e085cbf470eadmap"/>
			   <map name="id-3dbb3e4941794d72ad5e085cbf470eadmap">
				  		<area shape="rect" coords="621,130,741,185" href="../elements/id-0a463f8a9ebc4aa0bb3e6c4804c618a9.html"  target="element">
				  		<area shape="rect" coords="963,130,1083,185" href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html"  target="element">
				  		<area shape="rect" coords="309,334,429,401" href="../elements/id-e58a3b59316c4cb0865bf6d9b290df62.html"  target="element">
				  		<area shape="rect" coords="118,130,238,185" href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html"  target="element">
				  		<area shape="rect" coords="57,250,177,305" href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html"  target="element">
				  		<area shape="rect" coords="201,250,382,305" href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html"  target="element">
				  		<area shape="rect" coords="435,250,711,305" href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html"  target="element">
				  		<area shape="rect" coords="322,130,465,185" href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html"  target="element">
				  		<area shape="rect" coords="729,250,849,305" href="../elements/id-1644ac2ae92f4493b653b7835851765f.html"  target="element">
				  		<area shape="rect" coords="861,250,1042,305" href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html"  target="element">
				  		<area shape="rect" coords="776,130,896,185" href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html"  target="element">
				  		<area shape="rect" coords="489,10,609,65" href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html"  target="element">
				  		<area shape="rect" coords="621,430,765,497" href="../elements/id-ebe9c129fdde4d968b6d9688faacca74.html"  target="element">
				  		<area shape="rect" coords="57,430,190,497" href="../elements/id-aa11812de26e4fd2a1f8a275c0a2c39a.html"  target="element">
				  		<area shape="rect" coords="453,334,573,401" href="../elements/id-7115113c14c44f859b8a206f0180113e.html"  target="element">
				  		<area shape="rect" coords="10,334,130,401" href="../elements/id-671ac386f0524e7086a401afcef5da95.html"  target="element">
				  		<area shape="rect" coords="334,430,454,497" href="../elements/id-6e8d70059a8b4b0685d87dfd8d41c598.html"  target="element">
				  		<area shape="rect" coords="657,334,777,401" href="../elements/id-026c6706366e4cc0b812ea02220e7fc5.html"  target="element">
				  		<area shape="rect" coords="465,430,597,497" href="../elements/id-9518dfa107b44c4a84078cfbad5f3111.html"  target="element">
				  		<area shape="rect" coords="226,538,346,599" href="../elements/id-8952e69054914a26baf0393137927d53.html"  target="element">
				  		<area shape="rect" coords="897,334,1017,401" href="../elements/id-d51363589a9342719565689223a8704d.html"  target="element">
				  		<area shape="rect" coords="369,538,538,599" href="../elements/id-61a9dc26f2e24f1c9886a598cd4a3584.html"  target="element">
				  		<area shape="rect" coords="902,538,1083,599" href="../elements/id-af4ed21365854f178ede9b2579826aab.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-af4ed21365854f178ede9b2579826aab.html" target="element"> More efficient handling of problems and disruptions </a> </td>
											    <td> <a href="../elements/id-af4ed21365854f178ede9b2579826aab.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61a9dc26f2e24f1c9886a598cd4a3584.html" target="element"> Contribute to and benefit from pro-active measures </a> </td>
											    <td> <a href="../elements/id-61a9dc26f2e24f1c9886a598cd4a3584.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d51363589a9342719565689223a8704d.html" target="element"> Less surprises during operations </a> </td>
											    <td> <a href="../elements/id-d51363589a9342719565689223a8704d.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8952e69054914a26baf0393137927d53.html" target="element"> Value in return for shared data </a> </td>
											    <td> <a href="../elements/id-8952e69054914a26baf0393137927d53.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9518dfa107b44c4a84078cfbad5f3111.html" target="element"> No need for extra training of personnel </a> </td>
											    <td> <a href="../elements/id-9518dfa107b44c4a84078cfbad5f3111.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-026c6706366e4cc0b812ea02220e7fc5.html" target="element"> Simplified transition to use of CAVs </a> </td>
											    <td> <a href="../elements/id-026c6706366e4cc0b812ea02220e7fc5.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6e8d70059a8b4b0685d87dfd8d41c598.html" target="element"> Reductions in energy costs </a> </td>
											    <td> <a href="../elements/id-6e8d70059a8b4b0685d87dfd8d41c598.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-671ac386f0524e7086a401afcef5da95.html" target="element"> Greener behaviour </a> </td>
											    <td> <a href="../elements/id-671ac386f0524e7086a401afcef5da95.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7115113c14c44f859b8a206f0180113e.html" target="element"> Reductions in waiting and resting costs </a> </td>
											    <td> <a href="../elements/id-7115113c14c44f859b8a206f0180113e.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aa11812de26e4fd2a1f8a275c0a2c39a.html" target="element"> Green transport operations are rewarded </a> </td>
											    <td> <a href="../elements/id-aa11812de26e4fd2a1f8a275c0a2c39a.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ebe9c129fdde4d968b6d9688faacca74.html" target="element"> Free access to traffic orchestration services </a> </td>
											    <td> <a href="../elements/id-ebe9c129fdde4d968b6d9688faacca74.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
											    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
											    <td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
											    <td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element"> Safety </a> </td>
											    <td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
											    <td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
											    <td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
											    <td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
											    <td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element"> Public Image </a> </td>
											    <td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e58a3b59316c4cb0865bf6d9b290df62.html" target="element"> Get more customized support </a> </td>
											    <td> <a href="../elements/id-e58a3b59316c4cb0865bf6d9b290df62.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
											    <td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0a463f8a9ebc4aa0bb3e6c4804c618a9.html" target="element"> Automation </a> </td>
											    <td> <a href="../elements/id-0a463f8a9ebc4aa0bb3e6c4804c618a9.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-3c79439e0b4345a1a862383848e1b4da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3c79439e0b4345a1a862383848e1b4da.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-61a9dc26f2e24f1c9886a598cd4a3584.html" target="element"> Contribute to and benefit from pro-active measures </a> </td>
																		<td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-47f79627f23e48b5933e6f4e2076f190.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47f79627f23e48b5933e6f4e2076f190.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-61a9dc26f2e24f1c9886a598cd4a3584.html" target="element"> Contribute to and benefit from pro-active measures </a> </td>
																		<td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element"> Safety </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b84565a111f0487b87da9561d6d90d00.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b84565a111f0487b87da9561d6d90d00.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-aa11812de26e4fd2a1f8a275c0a2c39a.html" target="element"> Green transport operations are rewarded </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-537b37ec8d50472a975a6d25afe5aad6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-537b37ec8d50472a975a6d25afe5aad6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cd51ef7a6a1d4c52ad7da47fe3feeea1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd51ef7a6a1d4c52ad7da47fe3feeea1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element"> Public Image </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-827a575dc84d4322b5bc2d8c41864f5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-827a575dc84d4322b5bc2d8c41864f5c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d9a9b192aab044b798f8c1f83158fcac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d9a9b192aab044b798f8c1f83158fcac.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-60a0109e2adf4e388d9f4fe5f7a6c78d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-60a0109e2adf4e388d9f4fe5f7a6c78d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-0a463f8a9ebc4aa0bb3e6c4804c618a9.html" target="element"> Automation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-59b5d455617b4c2e9a9b1fcef1ac4c4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59b5d455617b4c2e9a9b1fcef1ac4c4e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0b65f449a34d4f529df4303000e34c4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b65f449a34d4f529df4303000e34c4c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element"> Safety </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-10c2d56b7d144822969b56749597caa7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10c2d56b7d144822969b56749597caa7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
																		<td> <a href="../elements/id-8952e69054914a26baf0393137927d53.html" target="element"> Value in return for shared data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22841fc34ade4cdb9df8e1b4a229c97e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22841fc34ade4cdb9df8e1b4a229c97e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
																		<td> <a href="../elements/id-af4ed21365854f178ede9b2579826aab.html" target="element"> More efficient handling of problems and disruptions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-57970b92600546108e1e2e8528774bcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57970b92600546108e1e2e8528774bcd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
																		<td> <a href="../elements/id-d51363589a9342719565689223a8704d.html" target="element"> Less surprises during operations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8a6a405f51b646c2b48eadebbd75310c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a6a405f51b646c2b48eadebbd75310c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c6976cd02d44fa0b36d4053f61d2516.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c6976cd02d44fa0b36d4053f61d2516.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b0b948655b394b25827b4f5dae771ec4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0b948655b394b25827b4f5dae771ec4.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-086c5c395e24440796eb4bbea4bbad95.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-086c5c395e24440796eb4bbea4bbad95.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element"> Safety </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0f9f81ce027f4f8ba688ef98917c846f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f9f81ce027f4f8ba688ef98917c846f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																		<td> <a href="../elements/id-7115113c14c44f859b8a206f0180113e.html" target="element"> Reductions in waiting and resting costs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5f2922ea5c3746dcbf47ea8f6df30e6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5f2922ea5c3746dcbf47ea8f6df30e6f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																		<td> <a href="../elements/id-026c6706366e4cc0b812ea02220e7fc5.html" target="element"> Simplified transition to use of CAVs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-225c30090a794ad186644f35dd0765d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-225c30090a794ad186644f35dd0765d8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																		<td> <a href="../elements/id-6e8d70059a8b4b0685d87dfd8d41c598.html" target="element"> Reductions in energy costs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8feb68b5394a41c791cf07bc749d9ef3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8feb68b5394a41c791cf07bc749d9ef3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																		<td> <a href="../elements/id-ebe9c129fdde4d968b6d9688faacca74.html" target="element"> Free access to traffic orchestration services </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-87b08e33c1084baca511d250c4a322f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-87b08e33c1084baca511d250c4a322f1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																		<td> <a href="../elements/id-9518dfa107b44c4a84078cfbad5f3111.html" target="element"> No need for extra training of personnel </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6b553b8d2edd4a87937a4b3cb6b17f83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b553b8d2edd4a87937a4b3cb6b17f83.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
																		<td> <a href="../elements/id-8952e69054914a26baf0393137927d53.html" target="element"> Value in return for shared data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ad7db732ef9341b381a13eddd26cc9cc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad7db732ef9341b381a13eddd26cc9cc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
																		<td> <a href="../elements/id-af4ed21365854f178ede9b2579826aab.html" target="element"> More efficient handling of problems and disruptions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-74734052952e47b29075687431f0a504.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-74734052952e47b29075687431f0a504.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
																		<td> <a href="../elements/id-61a9dc26f2e24f1c9886a598cd4a3584.html" target="element"> Contribute to and benefit from pro-active measures </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-644f7dfdf2a0447a98d27b1e2a381884.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-644f7dfdf2a0447a98d27b1e2a381884.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b4befb77085949f182a2d26a38b30723.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4befb77085949f182a2d26a38b30723.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
																		<td> <a href="../elements/id-aa11812de26e4fd2a1f8a275c0a2c39a.html" target="element"> Green transport operations are rewarded </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a99153fcf91a4b6e8531b7c749274bc3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a99153fcf91a4b6e8531b7c749274bc3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
																		<td> <a href="../elements/id-671ac386f0524e7086a401afcef5da95.html" target="element"> Greener behaviour </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-29621685cadd49deb836dd936778170d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29621685cadd49deb836dd936778170d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element"> Public Image </a> </td>
																		<td> <a href="../elements/id-671ac386f0524e7086a401afcef5da95.html" target="element"> Greener behaviour </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-190813fb14d54be685f7ed36f7040272.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-190813fb14d54be685f7ed36f7040272.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-e58a3b59316c4cb0865bf6d9b290df62.html" target="element"> Get more customized support </a> </td>
																		<td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c67392821afb44019aea5dcfc7acd2a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c67392821afb44019aea5dcfc7acd2a6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
																		<td> <a href="../elements/id-af4ed21365854f178ede9b2579826aab.html" target="element"> More efficient handling of problems and disruptions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bfacb53ecfd34dd996bde8612210e720.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bfacb53ecfd34dd996bde8612210e720.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0a463f8a9ebc4aa0bb3e6c4804c618a9.html" target="element"> Automation </a> </td>
																		<td> <a href="../elements/id-026c6706366e4cc0b812ea02220e7fc5.html" target="element"> Simplified transition to use of CAVs </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>