<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fleet Operator assessments</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fleet Operator assessments</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b93d8f343268465aba1434676706c62b.png" alt="Fleet Operator assessments" usemap="#id-b93d8f343268465aba1434676706c62bmap"/>
			   <map name="id-b93d8f343268465aba1434676706c62bmap">
				  		<area shape="rect" coords="107,154,227,209" href="../elements/id-0a463f8a9ebc4aa0bb3e6c4804c618a9.html"  target="element">
				  		<area shape="rect" coords="764,634,933,703" href="../elements/id-74e55d6d6fdc410e89d59006025b16aa.html"  target="element">
				  		<area shape="rect" coords="460,634,593,703" href="../elements/id-8bc64783d12148b2b1513a792b32c95b.html"  target="element">
				  		<area shape="rect" coords="605,634,738,703" href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html"  target="element">
				  		<area shape="rect" coords="782,514,915,583" href="../elements/id-31d69a25999f43538200931569d86b0d.html"  target="element">
				  		<area shape="rect" coords="488,382,604,451" href="../elements/id-24b9662776394cd2b53b91cd529e81b0.html"  target="element">
				  		<area shape="rect" coords="88,274,221,343" href="../elements/id-db2b583ca2c84d94a748d558367ce3c8.html"  target="element">
				  		<area shape="rect" coords="10,514,148,583" href="../elements/id-f34a7c94344d4b55bae7b7b9f82f6e69.html"  target="element">
				  		<area shape="rect" coords="19,382,139,451" href="../elements/id-5628bfb9fc794ed597225d76a7203190.html"  target="element">
				  		<area shape="rect" coords="808,382,941,451" href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html"  target="element">
				  		<area shape="rect" coords="371,514,492,583" href="../elements/id-2ae4eedaa21d49279fe47f90ad015243.html"  target="element">
				  		<area shape="rect" coords="316,382,437,451" href="../elements/id-61d652452de1424097caf05ace74e4f8.html"  target="element">
				  		<area shape="rect" coords="196,514,328,583" href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html"  target="element">
				  		<area shape="rect" coords="543,514,659,583" href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html"  target="element">
				  		<area shape="rect" coords="171,382,291,451" href="../elements/id-9f34c4987c8d411d8157b041db5b0bc8.html"  target="element">
				  		<area shape="rect" coords="1120,634,1253,703" href="../elements/id-613583c9e94245a19ba010f04c548b11.html"  target="element">
				  		<area shape="rect" coords="952,382,1097,451" href="../elements/id-ee100d53d5e44e4dbc3d0a7a45eb114b.html"  target="element">
				  		<area shape="rect" coords="986,514,1141,583" href="../elements/id-b5f61356400140a4ac979e914480c6f2.html"  target="element">
				  		<area shape="rect" coords="1120,382,1277,451" href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html"  target="element">
				  		<area shape="rect" coords="1300,382,1426,451" href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html"  target="element">
				  		<area shape="rect" coords="1264,634,1426,703" href="../elements/id-e893d5134a5d40fb83fc1aa835b65b3d.html"  target="element">
				  		<area shape="rect" coords="1169,514,1325,583" href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html"  target="element">
				  		<area shape="rect" coords="1204,154,1324,209" href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html"  target="element">
				  		<area shape="rect" coords="1060,154,1180,209" href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html"  target="element">
				  		<area shape="rect" coords="281,274,401,329" href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html"  target="element">
				  		<area shape="rect" coords="460,274,580,329" href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html"  target="element">
				  		<area shape="rect" coords="616,274,833,329" href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html"  target="element">
				  		<area shape="rect" coords="532,154,675,209" href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html"  target="element">
				  		<area shape="rect" coords="856,274,976,329" href="../elements/id-1644ac2ae92f4493b653b7835851765f.html"  target="element">
				  		<area shape="rect" coords="1000,274,1144,329" href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html"  target="element">
				  		<area shape="rect" coords="892,154,1012,209" href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html"  target="element">
				  		<area shape="rect" coords="645,10,765,65" href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
											    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
											    <td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
											    <td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element"> Safety </a> </td>
											    <td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
											    <td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
											    <td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
											    <td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
											    <td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element"> Public Image </a> </td>
											    <td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
											    <td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management </a> </td>
											    <td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e893d5134a5d40fb83fc1aa835b65b3d.html" target="element"> CAVs may be less resilient than manually controlled vehicles/vessels </a> </td>
											    <td> <a href="../elements/id-e893d5134a5d40fb83fc1aa835b65b3d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
											    <td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
											    <td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5f61356400140a4ac979e914480c6f2.html" target="element"> Varying access to competence, skills, technology, and tools </a> </td>
											    <td> <a href="../elements/id-b5f61356400140a4ac979e914480c6f2.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ee100d53d5e44e4dbc3d0a7a45eb114b.html" target="element"> Human factors cause unpredictability </a> </td>
											    <td> <a href="../elements/id-ee100d53d5e44e4dbc3d0a7a45eb114b.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-613583c9e94245a19ba010f04c548b11.html" target="element"> Lack of standards and regulations for data sharing </a> </td>
											    <td> <a href="../elements/id-613583c9e94245a19ba010f04c548b11.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9f34c4987c8d411d8157b041db5b0bc8.html" target="element"> Must adapt to transport policy </a> </td>
											    <td> <a href="../elements/id-9f34c4987c8d411d8157b041db5b0bc8.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element"> Limited utilisation of capacity </a> </td>
											    <td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted </a> </td>
											    <td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61d652452de1424097caf05ace74e4f8.html" target="element"> Some reward mechanisms for EVs </a> </td>
											    <td> <a href="../elements/id-61d652452de1424097caf05ace74e4f8.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2ae4eedaa21d49279fe47f90ad015243.html" target="element"> Unnecessary emissions and energy use </a> </td>
											    <td> <a href="../elements/id-2ae4eedaa21d49279fe47f90ad015243.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element"> Flexibility in case of disruptions is not rewarded </a> </td>
											    <td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5628bfb9fc794ed597225d76a7203190.html" target="element"> Demanding transition to use of CAVs </a> </td>
											    <td> <a href="../elements/id-5628bfb9fc794ed597225d76a7203190.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f34a7c94344d4b55bae7b7b9f82f6e69.html" target="element"> Need investment in green technologies </a> </td>
											    <td> <a href="../elements/id-f34a7c94344d4b55bae7b7b9f82f6e69.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db2b583ca2c84d94a748d558367ce3c8.html" target="element"> Fleet management is not adapted to CAVs </a> </td>
											    <td> <a href="../elements/id-db2b583ca2c84d94a748d558367ce3c8.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-24b9662776394cd2b53b91cd529e81b0.html" target="element"> Waiting and resting time reduces productivity </a> </td>
											    <td> <a href="../elements/id-24b9662776394cd2b53b91cd529e81b0.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-31d69a25999f43538200931569d86b0d.html" target="element"> Chose right vehicle for the job </a> </td>
											    <td> <a href="../elements/id-31d69a25999f43538200931569d86b0d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html" target="element"> Personnel costs are a dominating factor </a> </td>
											    <td> <a href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8bc64783d12148b2b1513a792b32c95b.html" target="element"> Competition increases cost reductions </a> </td>
											    <td> <a href="../elements/id-8bc64783d12148b2b1513a792b32c95b.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-74e55d6d6fdc410e89d59006025b16aa.html" target="element"> Higher maintenance cost with heterogeneous fleet </a> </td>
											    <td> <a href="../elements/id-74e55d6d6fdc410e89d59006025b16aa.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0a463f8a9ebc4aa0bb3e6c4804c618a9.html" target="element"> Automation </a> </td>
											    <td> <a href="../elements/id-0a463f8a9ebc4aa0bb3e6c4804c618a9.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-537b37ec8d50472a975a6d25afe5aad6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-537b37ec8d50472a975a6d25afe5aad6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-827a575dc84d4322b5bc2d8c41864f5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-827a575dc84d4322b5bc2d8c41864f5c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cd51ef7a6a1d4c52ad7da47fe3feeea1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cd51ef7a6a1d4c52ad7da47fe3feeea1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element"> Public Image </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-60a0109e2adf4e388d9f4fe5f7a6c78d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-60a0109e2adf4e388d9f4fe5f7a6c78d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-0a463f8a9ebc4aa0bb3e6c4804c618a9.html" target="element"> Automation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0b65f449a34d4f529df4303000e34c4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b65f449a34d4f529df4303000e34c4c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element"> Safety </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59b5d455617b4c2e9a9b1fcef1ac4c4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59b5d455617b4c2e9a9b1fcef1ac4c4e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8a6a405f51b646c2b48eadebbd75310c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a6a405f51b646c2b48eadebbd75310c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c6976cd02d44fa0b36d4053f61d2516.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c6976cd02d44fa0b36d4053f61d2516.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b0b948655b394b25827b4f5dae771ec4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0b948655b394b25827b4f5dae771ec4.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-086c5c395e24440796eb4bbea4bbad95.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-086c5c395e24440796eb4bbea4bbad95.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element"> Safety </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-644f7dfdf2a0447a98d27b1e2a381884.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-644f7dfdf2a0447a98d27b1e2a381884.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-227156e561b74cc9b364482caabb3028.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-227156e561b74cc9b364482caabb3028.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cfda68c84edd4a929fde0e6efcfd9899.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfda68c84edd4a929fde0e6efcfd9899.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b36e90074cae4bb7893402669dd87342.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b36e90074cae4bb7893402669dd87342.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-71b9f6801765476e91a8b6526816ccf7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71b9f6801765476e91a8b6526816ccf7.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-e893d5134a5d40fb83fc1aa835b65b3d.html" target="element"> CAVs may be less resilient than manually controlled vehicles/vessels </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-46a0ac800654454ba3865fe98486f8e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46a0ac800654454ba3865fe98486f8e4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																		<td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-698d80f312044101849b6f493665200c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-698d80f312044101849b6f493665200c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																		<td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0111f1edfcda42ab9c615ee405d4dd90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0111f1edfcda42ab9c615ee405d4dd90.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-b5f61356400140a4ac979e914480c6f2.html" target="element"> Varying access to competence, skills, technology, and tools </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9fea63df259244b38f65c6710e87b966.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9fea63df259244b38f65c6710e87b966.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ee100d53d5e44e4dbc3d0a7a45eb114b.html" target="element"> Human factors cause unpredictability </a> </td>
																		<td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bb42679f46f743b8ab8dcb2d4150c837.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bb42679f46f743b8ab8dcb2d4150c837.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-613583c9e94245a19ba010f04c548b11.html" target="element"> Lack of standards and regulations for data sharing </a> </td>
																		<td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4e25f35308644561a4650cc979c9e982.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e25f35308644561a4650cc979c9e982.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-9f34c4987c8d411d8157b041db5b0bc8.html" target="element"> Must adapt to transport policy </a> </td>
																		<td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b6fee3de65e346918328db0461e710bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6fee3de65e346918328db0461e710bb.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element"> Limited utilisation of capacity </a> </td>
																		<td> <a href="../elements/id-2ae4eedaa21d49279fe47f90ad015243.html" target="element"> Unnecessary emissions and energy use </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-25c51e23812e4bb1a3e85e560f49ffd9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-25c51e23812e4bb1a3e85e560f49ffd9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element"> Limited utilisation of capacity </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3be350891f844d75bdb8d787b2d907b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3be350891f844d75bdb8d787b2d907b5.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted </a> </td>
																		<td> <a href="../elements/id-2ae4eedaa21d49279fe47f90ad015243.html" target="element"> Unnecessary emissions and energy use </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9a31df99cf07472e94e009e74970101a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9a31df99cf07472e94e009e74970101a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d6c225c6a2384362a7416fb7453755c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6c225c6a2384362a7416fb7453755c1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted </a> </td>
																		<td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-76254424c2b14e84aad4456d54d50c45.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76254424c2b14e84aad4456d54d50c45.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-61d652452de1424097caf05ace74e4f8.html" target="element"> Some reward mechanisms for EVs </a> </td>
																		<td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d3cbb5c8f0b74001af44ff7ce68f5168.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d3cbb5c8f0b74001af44ff7ce68f5168.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2ae4eedaa21d49279fe47f90ad015243.html" target="element"> Unnecessary emissions and energy use </a> </td>
																		<td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0804085e73e84fa59a8dd556ded55a63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0804085e73e84fa59a8dd556ded55a63.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element"> Flexibility in case of disruptions is not rewarded </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f3a1a19cd0cf438b9b3d3c46dc67ed9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3a1a19cd0cf438b9b3d3c46dc67ed9d.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-5628bfb9fc794ed597225d76a7203190.html" target="element"> Demanding transition to use of CAVs </a> </td>
																		<td> <a href="../elements/id-f34a7c94344d4b55bae7b7b9f82f6e69.html" target="element"> Need investment in green technologies </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-251eb728b1bb4b85a7d3c6e522d12947.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-251eb728b1bb4b85a7d3c6e522d12947.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5628bfb9fc794ed597225d76a7203190.html" target="element"> Demanding transition to use of CAVs </a> </td>
																		<td> <a href="../elements/id-0a463f8a9ebc4aa0bb3e6c4804c618a9.html" target="element"> Automation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-be554ab5239442f3b69c057c70101e4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be554ab5239442f3b69c057c70101e4c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f34a7c94344d4b55bae7b7b9f82f6e69.html" target="element"> Need investment in green technologies </a> </td>
																		<td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-99dedb980f8d4c90beb29594d6f69299.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-99dedb980f8d4c90beb29594d6f69299.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f34a7c94344d4b55bae7b7b9f82f6e69.html" target="element"> Need investment in green technologies </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cf6685ef78b3449fbe75948fcfdb1e3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf6685ef78b3449fbe75948fcfdb1e3b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-db2b583ca2c84d94a748d558367ce3c8.html" target="element"> Fleet management is not adapted to CAVs </a> </td>
																		<td> <a href="../elements/id-0a463f8a9ebc4aa0bb3e6c4804c618a9.html" target="element"> Automation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-39a9a179b2cd43c0b56a1a7fdb5d38fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39a9a179b2cd43c0b56a1a7fdb5d38fa.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b9662776394cd2b53b91cd529e81b0.html" target="element"> Waiting and resting time reduces productivity </a> </td>
																		<td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b6aa93410ca5482188ada714388387f0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b6aa93410ca5482188ada714388387f0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-31d69a25999f43538200931569d86b0d.html" target="element"> Chose right vehicle for the job </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-093b22582d1c482994f563dbc2ed8ca6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-093b22582d1c482994f563dbc2ed8ca6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html" target="element"> Personnel costs are a dominating factor </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1e28090fbe954281b02a81c8cbb6d846.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1e28090fbe954281b02a81c8cbb6d846.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-8bc64783d12148b2b1513a792b32c95b.html" target="element"> Competition increases cost reductions </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-af40de8c6e2348d0a53eb2cc8f22693c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-af40de8c6e2348d0a53eb2cc8f22693c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-74e55d6d6fdc410e89d59006025b16aa.html" target="element"> Higher maintenance cost with heterogeneous fleet </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>