<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Transport Service Provider Goals</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Transport Service Provider Goals</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-15adfe5669a14b34941ed62b93897229.png" alt="Transport Service Provider Goals" usemap="#id-15adfe5669a14b34941ed62b93897229map"/>
			   <map name="id-15adfe5669a14b34941ed62b93897229map">
				  		<area shape="rect" coords="839,130,970,185" href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html"  target="element">
				  		<area shape="rect" coords="47,130,178,185" href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html"  target="element">
				  		<area shape="rect" coords="107,250,238,305" href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html"  target="element">
				  		<area shape="rect" coords="252,250,383,305" href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html"  target="element">
				  		<area shape="rect" coords="395,250,526,305" href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html"  target="element">
				  		<area shape="rect" coords="299,130,430,185" href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html"  target="element">
				  		<area shape="rect" coords="695,250,826,305" href="../elements/id-1644ac2ae92f4493b653b7835851765f.html"  target="element">
				  		<area shape="rect" coords="539,250,683,305" href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html"  target="element">
				  		<area shape="rect" coords="491,130,622,185" href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html"  target="element">
				  		<area shape="rect" coords="401,10,521,65" href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html"  target="element">
				  		<area shape="rect" coords="381,431,501,489" href="../elements/id-eee548bda41b4233888094f515e0c61c.html"  target="element">
				  		<area shape="rect" coords="622,346,779,401" href="../elements/id-1e85ce67639140a2bb56e430284a2441.html"  target="element">
				  		<area shape="rect" coords="790,346,940,401" href="../elements/id-11f1878bdffc477b9953e227fcf81e6b.html"  target="element">
				  		<area shape="rect" coords="309,346,429,401" href="../elements/id-acdbb706c4924e3abab2163ac390a62c.html"  target="element">
				  		<area shape="rect" coords="454,346,611,401" href="../elements/id-3270d2262e4b49418d67ab35db885e86.html"  target="element">
				  		<area shape="rect" coords="82,346,227,401" href="../elements/id-bb0fd9d56eab48d3bcb873f16f3c193f.html"  target="element">
				  		<area shape="rect" coords="10,431,155,489" href="../elements/id-32a6c4bda8fc4bd7a5f90b72702d7230.html"  target="element">
				  		<area shape="rect" coords="176,430,359,488" href="../elements/id-aedf689c4e4e4b5585dcde19cced9977.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-aedf689c4e4e4b5585dcde19cced9977.html" target="element"> More efficient handling of problems and disruptions </a> </td>
											    <td> <a href="../elements/id-aedf689c4e4e4b5585dcde19cced9977.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-32a6c4bda8fc4bd7a5f90b72702d7230.html" target="element"> Contribute to successful MTM </a> </td>
											    <td> <a href="../elements/id-32a6c4bda8fc4bd7a5f90b72702d7230.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bb0fd9d56eab48d3bcb873f16f3c193f.html" target="element"> Green transport chains are rewarded </a> </td>
											    <td> <a href="../elements/id-bb0fd9d56eab48d3bcb873f16f3c193f.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3270d2262e4b49418d67ab35db885e86.html" target="element"> More predicatabe services for customers </a> </td>
											    <td> <a href="../elements/id-3270d2262e4b49418d67ab35db885e86.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-acdbb706c4924e3abab2163ac390a62c.html" target="element"> More value in return for shared data </a> </td>
											    <td> <a href="../elements/id-acdbb706c4924e3abab2163ac390a62c.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-11f1878bdffc477b9953e227fcf81e6b.html" target="element"> More informed composition of transport chains </a> </td>
											    <td> <a href="../elements/id-11f1878bdffc477b9953e227fcf81e6b.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1e85ce67639140a2bb56e430284a2441.html" target="element"> Contribute to and benefit from pro-active measures </a> </td>
											    <td> <a href="../elements/id-1e85ce67639140a2bb56e430284a2441.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eee548bda41b4233888094f515e0c61c.html" target="element"> Cheaper transport </a> </td>
											    <td> <a href="../elements/id-eee548bda41b4233888094f515e0c61c.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
											    <td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
											    <td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
											    <td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element"> Safety </a> </td>
											    <td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
											    <td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
											    <td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
											    <td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
											    <td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element"> Public Image </a> </td>
											    <td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
											    <td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d1db243e272e4204b6199a7c848fee6d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d1db243e272e4204b6199a7c848fee6d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-32a6c4bda8fc4bd7a5f90b72702d7230.html" target="element"> Contribute to successful MTM </a> </td>
																		<td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element"> Public Image </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d010277d05cb43b7b0e35cb693457801.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d010277d05cb43b7b0e35cb693457801.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-bb0fd9d56eab48d3bcb873f16f3c193f.html" target="element"> Green transport chains are rewarded </a> </td>
																		<td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element"> Public Image </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-812d23a038484707b333708a6720d5a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-812d23a038484707b333708a6720d5a4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-bb0fd9d56eab48d3bcb873f16f3c193f.html" target="element"> Green transport chains are rewarded </a> </td>
																		<td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3957b0ccc4724202b3f0a9ea113198d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3957b0ccc4724202b3f0a9ea113198d7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4becc5e12020453f988088b4bfaa6b35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4becc5e12020453f988088b4bfaa6b35.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
																		<td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4f1ce128c13c4f45a6173ade3686ef41.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f1ce128c13c4f45a6173ade3686ef41.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
																		<td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element"> Public Image </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-02e6c021f32a4aaab621fe9ab54a5da9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02e6c021f32a4aaab621fe9ab54a5da9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
																		<td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0b65f449a34d4f529df4303000e34c4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b65f449a34d4f529df4303000e34c4c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element"> Safety </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59b5d455617b4c2e9a9b1fcef1ac4c4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59b5d455617b4c2e9a9b1fcef1ac4c4e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6fd077be2f5b48a98134b1fabb5f465a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6fd077be2f5b48a98134b1fabb5f465a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
																		<td> <a href="../elements/id-1e85ce67639140a2bb56e430284a2441.html" target="element"> Contribute to and benefit from pro-active measures </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e35fa25f0c424307a04d83caa23c229b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e35fa25f0c424307a04d83caa23c229b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
																		<td> <a href="../elements/id-3270d2262e4b49418d67ab35db885e86.html" target="element"> More predicatabe services for customers </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b809d1da742942a096e524d2fcfcf4b6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b809d1da742942a096e524d2fcfcf4b6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element"> Safety </a> </td>
																		<td> <a href="../elements/id-1e85ce67639140a2bb56e430284a2441.html" target="element"> Contribute to and benefit from pro-active measures </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8a6a405f51b646c2b48eadebbd75310c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a6a405f51b646c2b48eadebbd75310c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c6976cd02d44fa0b36d4053f61d2516.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c6976cd02d44fa0b36d4053f61d2516.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b0b948655b394b25827b4f5dae771ec4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0b948655b394b25827b4f5dae771ec4.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-57b4dd55f4694b6f86fff1c46eeed530.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57b4dd55f4694b6f86fff1c46eeed530.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1f82309e25ce432dbaf8aa8fa2c8c683.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1f82309e25ce432dbaf8aa8fa2c8c683.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																		<td> <a href="../elements/id-acdbb706c4924e3abab2163ac390a62c.html" target="element"> More value in return for shared data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a49bde4653144d1a9114e22287a6d10e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a49bde4653144d1a9114e22287a6d10e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																		<td> <a href="../elements/id-eee548bda41b4233888094f515e0c61c.html" target="element"> Cheaper transport </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-644f7dfdf2a0447a98d27b1e2a381884.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-644f7dfdf2a0447a98d27b1e2a381884.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-eb5fdbd10b5442c198b5dff0a97828a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eb5fdbd10b5442c198b5dff0a97828a4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
																		<td> <a href="../elements/id-aedf689c4e4e4b5585dcde19cced9977.html" target="element"> More efficient handling of problems and disruptions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f3c1531e5c7742898434ef68794384bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3c1531e5c7742898434ef68794384bb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
																		<td> <a href="../elements/id-aedf689c4e4e4b5585dcde19cced9977.html" target="element"> More efficient handling of problems and disruptions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bcfcedf74c864db1b292f6ab41e98a02.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bcfcedf74c864db1b292f6ab41e98a02.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
																		<td> <a href="../elements/id-11f1878bdffc477b9953e227fcf81e6b.html" target="element"> More informed composition of transport chains </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>