<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Decomposition Overview</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Decomposition Overview</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-implementation_deployment"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_implementation_deployment" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c8c7471e32a540828f3336cc5470fdf2.png" alt="Decomposition Overview" usemap="#id-c8c7471e32a540828f3336cc5470fdf2map"/>
			   <map name="id-c8c7471e32a540828f3336cc5470fdf2map">
				          <area shape="rect" coords="898,469,1083,549" href="../objects/id-6075af6a7af54987861b63805673139e.html" target="element" >
				  		<area shape="rect" coords="958,586,1078,641" href="../elements/id-021ee219f81041d982f5c492cfbcfcdb.html"  target="element">
				  		<area shape="rect" coords="548,358,668,413" href="../elements/id-4e3983478bd24a1e9abd12cd2e5cc098.html"  target="element">
				  		<area shape="rect" coords="634,490,754,545" href="../elements/id-b7d062a8303a49ef9577625cbe8010d9.html"  target="element">
				  		<area shape="rect" coords="490,490,610,545" href="../elements/id-49a24e9dbf624cffbf5a452e2d4dc90c.html"  target="element">
				  		<area shape="rect" coords="142,214,262,269" href="../elements/id-5c9566f198524de88951e0db5ec678d3.html"  target="element">
				  		<area shape="rect" coords="10,214,130,269" href="../elements/id-8a99a01173af49f1884b9f1663076df3.html"  target="element">
				  		<area shape="rect" coords="706,346,826,401" href="../elements/id-53341072725440bc9cd04e894b294385.html"  target="element">
				  		<area shape="rect" coords="850,244,970,299" href="../elements/id-db0d1595cb3943f18e65e631cdcbc377.html"  target="element">
				  		<area shape="rect" coords="852,22,972,77" href="../elements/id-7c7ca9f251c14bcd90040a0f53c57496.html"  target="element">
				  		<area shape="rect" coords="667,244,787,299" href="../elements/id-97adb34b9ba44a75ae42c98f89fd42e2.html"  target="element">
				  		<area shape="rect" coords="768,130,888,185" href="../elements/id-a74979079da64ad6978edb053d56ae90.html"  target="element">
				  		<area shape="rect" coords="598,10,718,65" href="../elements/id-6c0c16040149431c95a9d00ad94e65b3.html"  target="element">
				  		<area shape="rect" coords="574,130,694,185" href="../elements/id-6a489dea978f4936b9cb2dd06bfee28d.html"  target="element">
				  		<area shape="rect" coords="322,22,442,77" href="../elements/id-e1e0123b4d354da2a57b670cd577dcf8.html"  target="element">
				  		<area shape="rect" coords="322,130,442,185" href="../elements/id-12bd82ffb2ca4c0ba3fb0cd476b6bc35.html"  target="element">
				  		<area shape="rect" coords="394,346,514,401" href="../elements/id-f4713411ebe84ea5b4a3aeaaf5e7539a.html"  target="element">
				  		<area shape="rect" coords="479,214,599,269" href="../elements/id-14dfc5b81df8433bb2e65969021ade47.html"  target="element">
				  		<area shape="rect" coords="297,469,417,524" href="../elements/id-e73b01f7e6484b008c1aa6f1db6dc564.html"  target="element">
				  		<area shape="rect" coords="178,346,298,401" href="../elements/id-c969a64ca49240e5bb920532d4037e7b.html"  target="element">
				  		<area shape="rect" coords="94,469,214,524" href="../elements/id-defb6f7557844cb591f2e852aba4f8c5.html"  target="element">
				  		<area shape="rect" coords="58,76,199,131" href="../elements/id-feec486fca874b8aaa966cefa3cb37bf.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-feec486fca874b8aaa966cefa3cb37bf.html" target="element"> Data Management and Governance </a> </td>
											    <td> <a href="../elements/id-feec486fca874b8aaa966cefa3cb37bf.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-defb6f7557844cb591f2e852aba4f8c5.html" target="element"> Simulation Tool </a> </td>
											    <td> <a href="../elements/id-defb6f7557844cb591f2e852aba4f8c5.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c969a64ca49240e5bb920532d4037e7b.html" target="element"> Decision Support Tool </a> </td>
											    <td> <a href="../elements/id-c969a64ca49240e5bb920532d4037e7b.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e73b01f7e6484b008c1aa6f1db6dc564.html" target="element"> Visualisation Tool </a> </td>
											    <td> <a href="../elements/id-e73b01f7e6484b008c1aa6f1db6dc564.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-14dfc5b81df8433bb2e65969021ade47.html" target="element"> Knowledge Management Tool </a> </td>
											    <td> <a href="../elements/id-14dfc5b81df8433bb2e65969021ade47.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f4713411ebe84ea5b4a3aeaaf5e7539a.html" target="element"> Conflict Resolution Tool </a> </td>
											    <td> <a href="../elements/id-f4713411ebe84ea5b4a3aeaaf5e7539a.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-12bd82ffb2ca4c0ba3fb0cd476b6bc35.html" target="element"> Situation Detection Tool </a> </td>
											    <td> <a href="../elements/id-12bd82ffb2ca4c0ba3fb0cd476b6bc35.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e1e0123b4d354da2a57b670cd577dcf8.html" target="element"> Data Analytics Tool </a> </td>
											    <td> <a href="../elements/id-e1e0123b4d354da2a57b670cd577dcf8.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6a489dea978f4936b9cb2dd06bfee28d.html" target="element"> Scheduling Tool </a> </td>
											    <td> <a href="../elements/id-6a489dea978f4936b9cb2dd06bfee28d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6c0c16040149431c95a9d00ad94e65b3.html" target="element"> Capacity Balancing Tool </a> </td>
											    <td> <a href="../elements/id-6c0c16040149431c95a9d00ad94e65b3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a74979079da64ad6978edb053d56ae90.html" target="element"> Connected  Infrastructure Manager </a> </td>
											    <td> <a href="../elements/id-a74979079da64ad6978edb053d56ae90.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97adb34b9ba44a75ae42c98f89fd42e2.html" target="element"> Decision Making Tool </a> </td>
											    <td> <a href="../elements/id-97adb34b9ba44a75ae42c98f89fd42e2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7c7ca9f251c14bcd90040a0f53c57496.html" target="element"> Dispatcing Tool </a> </td>
											    <td> <a href="../elements/id-7c7ca9f251c14bcd90040a0f53c57496.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db0d1595cb3943f18e65e631cdcbc377.html" target="element"> Action Plan Manager </a> </td>
											    <td> <a href="../elements/id-db0d1595cb3943f18e65e631cdcbc377.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-53341072725440bc9cd04e894b294385.html" target="element"> Operation Plan Manager </a> </td>
											    <td> <a href="../elements/id-53341072725440bc9cd04e894b294385.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8a99a01173af49f1884b9f1663076df3.html" target="element"> Monitoring Tool </a> </td>
											    <td> <a href="../elements/id-8a99a01173af49f1884b9f1663076df3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5c9566f198524de88951e0db5ec678d3.html" target="element"> Data Sharing Tools </a> </td>
											    <td> <a href="../elements/id-5c9566f198524de88951e0db5ec678d3.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-49a24e9dbf624cffbf5a452e2d4dc90c.html" target="element"> Governance Area Manager </a> </td>
											    <td> <a href="../elements/id-49a24e9dbf624cffbf5a452e2d4dc90c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b7d062a8303a49ef9577625cbe8010d9.html" target="element"> Zone Manager </a> </td>
											    <td> <a href="../elements/id-b7d062a8303a49ef9577625cbe8010d9.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4e3983478bd24a1e9abd12cd2e5cc098.html" target="element"> Regulation Management Tool </a> </td>
											    <td> <a href="../elements/id-4e3983478bd24a1e9abd12cd2e5cc098.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-021ee219f81041d982f5c492cfbcfcdb.html" target="element"> Network Regulations Service </a> </td>
											    <td> <a href="../elements/id-021ee219f81041d982f5c492cfbcfcdb.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-6075af6a7af54987861b63805673139e.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-6075af6a7af54987861b63805673139e.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-f25bad9e34214450850df569640fcab8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f25bad9e34214450850df569640fcab8.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-feec486fca874b8aaa966cefa3cb37bf.html" target="element"> Data Management and Governance </a> </td>
																		<td> <a href="../elements/id-8a99a01173af49f1884b9f1663076df3.html" target="element"> Monitoring Tool </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0cfb563980a44a229ae72461d4095030.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0cfb563980a44a229ae72461d4095030.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-feec486fca874b8aaa966cefa3cb37bf.html" target="element"> Data Management and Governance </a> </td>
																		<td> <a href="../elements/id-5c9566f198524de88951e0db5ec678d3.html" target="element"> Data Sharing Tools </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1394ddf6bf094e62ad905da0de0fbc74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1394ddf6bf094e62ad905da0de0fbc74.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-defb6f7557844cb591f2e852aba4f8c5.html" target="element"> Simulation Tool </a> </td>
																		<td> <a href="../elements/id-e73b01f7e6484b008c1aa6f1db6dc564.html" target="element"> Visualisation Tool </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-195442b137fa4ac4a0cf9f9f2978a72c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-195442b137fa4ac4a0cf9f9f2978a72c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-c969a64ca49240e5bb920532d4037e7b.html" target="element"> Decision Support Tool </a> </td>
																		<td> <a href="../elements/id-defb6f7557844cb591f2e852aba4f8c5.html" target="element"> Simulation Tool </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ebf97be3a4634dd78bc7668b52d7d20f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ebf97be3a4634dd78bc7668b52d7d20f.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-c969a64ca49240e5bb920532d4037e7b.html" target="element"> Decision Support Tool </a> </td>
																		<td> <a href="../elements/id-e73b01f7e6484b008c1aa6f1db6dc564.html" target="element"> Visualisation Tool </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2c429f99d909414a8903c0872e87f77a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c429f99d909414a8903c0872e87f77a.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-f4713411ebe84ea5b4a3aeaaf5e7539a.html" target="element"> Conflict Resolution Tool </a> </td>
																		<td> <a href="../elements/id-c969a64ca49240e5bb920532d4037e7b.html" target="element"> Decision Support Tool </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5ef75a84071b416998b081c1cef86be9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5ef75a84071b416998b081c1cef86be9.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-12bd82ffb2ca4c0ba3fb0cd476b6bc35.html" target="element"> Situation Detection Tool </a> </td>
																		<td> <a href="../elements/id-e1e0123b4d354da2a57b670cd577dcf8.html" target="element"> Data Analytics Tool </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0719fd21f81448de8eaf8f6e36a7b017.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0719fd21f81448de8eaf8f6e36a7b017.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-6c0c16040149431c95a9d00ad94e65b3.html" target="element"> Capacity Balancing Tool </a> </td>
																		<td> <a href="../elements/id-6a489dea978f4936b9cb2dd06bfee28d.html" target="element"> Scheduling Tool </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f6e1fd8eb6e545859e70dbd60e9b83e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f6e1fd8eb6e545859e70dbd60e9b83e6.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-6c0c16040149431c95a9d00ad94e65b3.html" target="element"> Capacity Balancing Tool </a> </td>
																		<td> <a href="../elements/id-a74979079da64ad6978edb053d56ae90.html" target="element"> Connected  Infrastructure Manager </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-eddcb5bcdf044f33b657f9f9eb62c404.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-eddcb5bcdf044f33b657f9f9eb62c404.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-97adb34b9ba44a75ae42c98f89fd42e2.html" target="element"> Decision Making Tool </a> </td>
																		<td> <a href="../elements/id-db0d1595cb3943f18e65e631cdcbc377.html" target="element"> Action Plan Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-af80c34f1d554b52a21370430ffd251e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-af80c34f1d554b52a21370430ffd251e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/id-97adb34b9ba44a75ae42c98f89fd42e2.html" target="element"> Decision Making Tool </a> </td>
																		<td> <a href="../elements/id-53341072725440bc9cd04e894b294385.html" target="element"> Operation Plan Manager </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6dd05532eda64f5cb7b9dde3ba8b41d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6dd05532eda64f5cb7b9dde3ba8b41d5.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-97adb34b9ba44a75ae42c98f89fd42e2.html" target="element"> Decision Making Tool </a> </td>
																		<td> <a href="../elements/id-6a489dea978f4936b9cb2dd06bfee28d.html" target="element"> Scheduling Tool </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ae2cafc9ec6244d5909ec3f9e1fdb030.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae2cafc9ec6244d5909ec3f9e1fdb030.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-49a24e9dbf624cffbf5a452e2d4dc90c.html" target="element"> Governance Area Manager </a> </td>
																		<td> <a href="../elements/id-4e3983478bd24a1e9abd12cd2e5cc098.html" target="element"> Regulation Management Tool </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1d14d27cb853406bba8a18137764d897.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d14d27cb853406bba8a18137764d897.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-b7d062a8303a49ef9577625cbe8010d9.html" target="element"> Zone Manager </a> </td>
																		<td> <a href="../elements/id-4e3983478bd24a1e9abd12cd2e5cc098.html" target="element"> Regulation Management Tool </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>