<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Society and other stakeholder examples</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Society and other stakeholder examples</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-stakeholder"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_stakeholder" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-dbc34b4aa35e4219aaf7f1346ad18a8b.png" alt="Society and other stakeholder examples" usemap="#id-dbc34b4aa35e4219aaf7f1346ad18a8bmap"/>
			   <map name="id-dbc34b4aa35e4219aaf7f1346ad18a8bmap">
				  		<area shape="rect" coords="766,10,886,65" href="../elements/id-631ac0da606e4b7ca4082f70f9726008.html"  target="element">
				  		<area shape="rect" coords="407,490,527,561" href="../elements/id-f11dd5cfd1cb4f8a893df01bec2b1497.html"  target="element">
				  		<area shape="rect" coords="89,382,209,453" href="../elements/id-9a76b4fea3904081a65d8a9fb8df711e.html"  target="element">
				  		<area shape="rect" coords="118,142,238,213" href="../elements/id-beac0276ece14bec9b6398bb7ce2f791.html"  target="element">
				  		<area shape="rect" coords="598,142,731,213" href="../elements/id-b3239dc485ff41b7aece1f7a2c3d9179.html"  target="element">
				  		<area shape="rect" coords="550,382,683,453" href="../elements/id-37f7ebee02bc427f94ea9331d09057e2.html"  target="element">
				  		<area shape="rect" coords="910,382,1043,453" href="../elements/id-94ee505490f648ca98123e77e30142d0.html"  target="element">
				  		<area shape="rect" coords="1078,274,1211,345" href="../elements/id-765dbe6d72154552a4b2e2ea35c6c2a1.html"  target="element">
				  		<area shape="rect" coords="1078,382,1211,453" href="../elements/id-ec512f68dee942f19818da6172320f56.html"  target="element">
				  		<area shape="rect" coords="885,142,1018,213" href="../elements/id-f8370c3759b144f996ac47d148c8bbcb.html"  target="element">
				  		<area shape="rect" coords="1162,142,1295,213" href="../elements/id-218d4d82001c4cbb83bd9d91236a5d16.html"  target="element">
				  		<area shape="rect" coords="1234,274,1367,345" href="../elements/id-59cf5d4f5a85479ca287fd9e15baddbe.html"  target="element">
				  		<area shape="rect" coords="1246,382,1379,453" href="../elements/id-a090a2afeb5246ac8bec8fe39d7304e0.html"  target="element">
				  		<area shape="rect" coords="694,382,827,453" href="../elements/id-c6a04f0ebbd646b8b5378d305dc2e847.html"  target="element">
				  		<area shape="rect" coords="202,274,335,345" href="../elements/id-a234a4fb6a41471495150019feabc61d.html"  target="element">
				  		<area shape="rect" coords="10,274,143,345" href="../elements/id-a17d03fdedb247c4b506bf334bf8390a.html"  target="element">
				  		<area shape="rect" coords="70,490,203,561" href="../elements/id-c4049fe37c5e422dae68d87120be10b6.html"  target="element">
				  		<area shape="rect" coords="598,490,731,561" href="../elements/id-f9553849af0e42e0af47d8cd1741029e.html"  target="element">
				  		<area shape="rect" coords="358,142,491,213" href="../elements/id-4fd5d010ca9e47ab8fbdf32cbb8d735a.html"  target="element">
				  		<area shape="rect" coords="874,274,1030,345" href="../elements/id-ea107585340843e398e7729e618fcbbc.html"  target="element">
				  		<area shape="rect" coords="394,382,527,453" href="../elements/id-323245833c19430f8c51ab45a100eb9f.html"  target="element">
				  		<area shape="rect" coords="370,274,503,345" href="../elements/id-a1d1a79123f84df398844387837616c3.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-a1d1a79123f84df398844387837616c3.html" target="element"> Customs </a> </td>
											    <td> <a href="../elements/id-a1d1a79123f84df398844387837616c3.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-323245833c19430f8c51ab45a100eb9f.html" target="element"> Health Authories </a> </td>
											    <td> <a href="../elements/id-323245833c19430f8c51ab45a100eb9f.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ea107585340843e398e7729e618fcbbc.html" target="element"> Standardisation bodies </a> </td>
											    <td> <a href="../elements/id-ea107585340843e398e7729e618fcbbc.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4fd5d010ca9e47ab8fbdf32cbb8d735a.html" target="element"> Boarder Control </a> </td>
											    <td> <a href="../elements/id-4fd5d010ca9e47ab8fbdf32cbb8d735a.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f9553849af0e42e0af47d8cd1741029e.html" target="element"> Defence Sector </a> </td>
											    <td> <a href="../elements/id-f9553849af0e42e0af47d8cd1741029e.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c4049fe37c5e422dae68d87120be10b6.html" target="element"> Climate Conserned Organization </a> </td>
											    <td> <a href="../elements/id-c4049fe37c5e422dae68d87120be10b6.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a17d03fdedb247c4b506bf334bf8390a.html" target="element"> OEM </a> </td>
											    <td> <a href="../elements/id-a17d03fdedb247c4b506bf334bf8390a.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a234a4fb6a41471495150019feabc61d.html" target="element"> Software Developers </a> </td>
											    <td> <a href="../elements/id-a234a4fb6a41471495150019feabc61d.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c6a04f0ebbd646b8b5378d305dc2e847.html" target="element"> Environmental Authorities </a> </td>
											    <td> <a href="../elements/id-c6a04f0ebbd646b8b5378d305dc2e847.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a090a2afeb5246ac8bec8fe39d7304e0.html" target="element"> Cities </a> </td>
											    <td> <a href="../elements/id-a090a2afeb5246ac8bec8fe39d7304e0.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-59cf5d4f5a85479ca287fd9e15baddbe.html" target="element"> Local Governments </a> </td>
											    <td> <a href="../elements/id-59cf5d4f5a85479ca287fd9e15baddbe.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-218d4d82001c4cbb83bd9d91236a5d16.html" target="element"> Regulator </a> </td>
											    <td> <a href="../elements/id-218d4d82001c4cbb83bd9d91236a5d16.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f8370c3759b144f996ac47d148c8bbcb.html" target="element"> Legal Authorities </a> </td>
											    <td> <a href="../elements/id-f8370c3759b144f996ac47d148c8bbcb.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ec512f68dee942f19818da6172320f56.html" target="element"> EU EC </a> </td>
											    <td> <a href="../elements/id-ec512f68dee942f19818da6172320f56.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-765dbe6d72154552a4b2e2ea35c6c2a1.html" target="element"> Government </a> </td>
											    <td> <a href="../elements/id-765dbe6d72154552a4b2e2ea35c6c2a1.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-94ee505490f648ca98123e77e30142d0.html" target="element"> Port/terminal authority </a> </td>
											    <td> <a href="../elements/id-94ee505490f648ca98123e77e30142d0.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-37f7ebee02bc427f94ea9331d09057e2.html" target="element"> Safety Authorities </a> </td>
											    <td> <a href="../elements/id-37f7ebee02bc427f94ea9331d09057e2.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b3239dc485ff41b7aece1f7a2c3d9179.html" target="element"> Authority </a> </td>
											    <td> <a href="../elements/id-b3239dc485ff41b7aece1f7a2c3d9179.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-beac0276ece14bec9b6398bb7ce2f791.html" target="element"> Solution Provider </a> </td>
											    <td> <a href="../elements/id-beac0276ece14bec9b6398bb7ce2f791.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9a76b4fea3904081a65d8a9fb8df711e.html" target="element"> NGO for Environment </a> </td>
											    <td> <a href="../elements/id-9a76b4fea3904081a65d8a9fb8df711e.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f11dd5cfd1cb4f8a893df01bec2b1497.html" target="element"> Emergency Manager </a> </td>
											    <td> <a href="../elements/id-f11dd5cfd1cb4f8a893df01bec2b1497.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-631ac0da606e4b7ca4082f70f9726008.html" target="element"> Certification Authority </a> </td>
											    <td> <a href="../elements/id-631ac0da606e4b7ca4082f70f9726008.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-a8f17c8b0c4d45b5b55aaadbed58a276.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8f17c8b0c4d45b5b55aaadbed58a276.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-a1d1a79123f84df398844387837616c3.html" target="element"> Customs </a> </td>
																		<td> <a href="../elements/id-b3239dc485ff41b7aece1f7a2c3d9179.html" target="element"> Authority </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fc5e9dfa77804ff7a8576ced38bc55ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fc5e9dfa77804ff7a8576ced38bc55ad.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-323245833c19430f8c51ab45a100eb9f.html" target="element"> Health Authories </a> </td>
																		<td> <a href="../elements/id-b3239dc485ff41b7aece1f7a2c3d9179.html" target="element"> Authority </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da1766d9c49247c8845d675f9e19a421.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da1766d9c49247c8845d675f9e19a421.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-323245833c19430f8c51ab45a100eb9f.html" target="element"> Health Authories </a> </td>
																		<td> <a href="../elements/id-f11dd5cfd1cb4f8a893df01bec2b1497.html" target="element"> Emergency Manager </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bc0f8e1a83ea473094d2cecc02d0dc5e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bc0f8e1a83ea473094d2cecc02d0dc5e.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-ea107585340843e398e7729e618fcbbc.html" target="element"> Standardisation bodies </a> </td>
																		<td> <a href="../elements/id-b3239dc485ff41b7aece1f7a2c3d9179.html" target="element"> Authority </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5b05d333798147538893fc412ca35011.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5b05d333798147538893fc412ca35011.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-4fd5d010ca9e47ab8fbdf32cbb8d735a.html" target="element"> Boarder Control </a> </td>
																		<td> <a href="../elements/id-b3239dc485ff41b7aece1f7a2c3d9179.html" target="element"> Authority </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ce60846b4b174e329751a0515289eadf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce60846b4b174e329751a0515289eadf.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-f9553849af0e42e0af47d8cd1741029e.html" target="element"> Defence Sector </a> </td>
																		<td> <a href="../elements/id-f11dd5cfd1cb4f8a893df01bec2b1497.html" target="element"> Emergency Manager </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a899502bb73f41f3bf484d2853e3f1b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a899502bb73f41f3bf484d2853e3f1b1.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-c4049fe37c5e422dae68d87120be10b6.html" target="element"> Climate Conserned Organization </a> </td>
																		<td> <a href="../elements/id-9a76b4fea3904081a65d8a9fb8df711e.html" target="element"> NGO for Environment </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-73651b30185145798f444c73cb4d844c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-73651b30185145798f444c73cb4d844c.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-a17d03fdedb247c4b506bf334bf8390a.html" target="element"> OEM </a> </td>
																		<td> <a href="../elements/id-beac0276ece14bec9b6398bb7ce2f791.html" target="element"> Solution Provider </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c82512c2431d47c1a1a4b497c4fdbd06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c82512c2431d47c1a1a4b497c4fdbd06.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-a234a4fb6a41471495150019feabc61d.html" target="element"> Software Developers </a> </td>
																		<td> <a href="../elements/id-beac0276ece14bec9b6398bb7ce2f791.html" target="element"> Solution Provider </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3ceed1ccaec44a978e6d95d48e80c6d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3ceed1ccaec44a978e6d95d48e80c6d1.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-c6a04f0ebbd646b8b5378d305dc2e847.html" target="element"> Environmental Authorities </a> </td>
																		<td> <a href="../elements/id-b3239dc485ff41b7aece1f7a2c3d9179.html" target="element"> Authority </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-42b4a295f76f4ab5b368ca3d791646c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42b4a295f76f4ab5b368ca3d791646c6.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-a090a2afeb5246ac8bec8fe39d7304e0.html" target="element"> Cities </a> </td>
																		<td> <a href="../elements/id-59cf5d4f5a85479ca287fd9e15baddbe.html" target="element"> Local Governments </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-14c9b93393d14142b6c03e0f529598ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-14c9b93393d14142b6c03e0f529598ff.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-59cf5d4f5a85479ca287fd9e15baddbe.html" target="element"> Local Governments </a> </td>
																		<td> <a href="../elements/id-218d4d82001c4cbb83bd9d91236a5d16.html" target="element"> Regulator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ccae2c71778a415f94500c677f12281a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ccae2c71778a415f94500c677f12281a.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-f8370c3759b144f996ac47d148c8bbcb.html" target="element"> Legal Authorities </a> </td>
																		<td> <a href="../elements/id-b3239dc485ff41b7aece1f7a2c3d9179.html" target="element"> Authority </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5e895915d75d4d0784faf19199393f85.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5e895915d75d4d0784faf19199393f85.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-ec512f68dee942f19818da6172320f56.html" target="element"> EU EC </a> </td>
																		<td> <a href="../elements/id-765dbe6d72154552a4b2e2ea35c6c2a1.html" target="element"> Government </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b3add774a7fc44abbf1b2ca5ea7c24ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b3add774a7fc44abbf1b2ca5ea7c24ae.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-765dbe6d72154552a4b2e2ea35c6c2a1.html" target="element"> Government </a> </td>
																		<td> <a href="../elements/id-218d4d82001c4cbb83bd9d91236a5d16.html" target="element"> Regulator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e6e90816c0c547fda2049131e8a4706f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6e90816c0c547fda2049131e8a4706f.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-94ee505490f648ca98123e77e30142d0.html" target="element"> Port/terminal authority </a> </td>
																		<td> <a href="../elements/id-b3239dc485ff41b7aece1f7a2c3d9179.html" target="element"> Authority </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-581814c4ce4c44e99b9fb107bfc9dc3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-581814c4ce4c44e99b9fb107bfc9dc3d.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-37f7ebee02bc427f94ea9331d09057e2.html" target="element"> Safety Authorities </a> </td>
																		<td> <a href="../elements/id-b3239dc485ff41b7aece1f7a2c3d9179.html" target="element"> Authority </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-dd933b2211a84162933b741a94588d58.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd933b2211a84162933b741a94588d58.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/id-631ac0da606e4b7ca4082f70f9726008.html" target="element"> Certification Authority </a> </td>
																		<td> <a href="../elements/id-b3239dc485ff41b7aece1f7a2c3d9179.html" target="element"> Authority </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>