<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Transport Service Provider Functionality</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Transport Service Provider Functionality</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-b206ae0fdd6c40ba9f46a35a3562ad1d.png" alt="Transport Service Provider Functionality" usemap="#id-b206ae0fdd6c40ba9f46a35a3562ad1dmap"/>
			   <map name="id-b206ae0fdd6c40ba9f46a35a3562ad1dmap">
				  				<area shape="rect" coords="34,322,154,377" href="../elements/id-f5224f1062e041c5a380affaa8d2b88d.html"  target="element">

				  		<area shape="rect" coords="10,286,195,395" href="../elements/id-10771c673f6149bd9343f91317786f78.html"  target="element">
				  						<area shape="rect" coords="638,106,758,161" href="../views/id-5046816a24b948eaa27f5c4921b9ed74.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="614,70,783,167" href="../elements/id-73f19146524a44688f2863c9f7860d4e.html"  target="element">
				  						<area shape="rect" coords="638,202,758,257" href="../views/id-1aaef94f59b1414aa13c889e922f8d53.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="614,178,783,275" href="../elements/id-acf820dc93c14ba9837a6bd25aeab51f.html"  target="element">
				  						<area shape="rect" coords="638,322,758,377" href="../views/id-375ae0e542b74e91a0f784d35f9a8b1a.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="614,286,783,383" href="../elements/id-014e3c82971a4a44b5b2f8d8f4ffe486.html"  target="element">

				  		<area shape="rect" coords="578,22,807,407" href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html"  target="element">
				  		<area shape="rect" coords="10,10,179,65" href="../elements/id-9faca8d222af456bbbac44cde386fa00.html"  target="element">
				  				<area shape="rect" coords="34,154,167,215" href="../elements/id-b4b214461b594fedaeae61ea1321fc7a.html"  target="element">

				  		<area shape="rect" coords="10,130,195,239" href="../elements/id-eff15aa1e6ec4314a99ea14358180189.html"  target="element">
				  								<area shape="rect" coords="302,262,447,323" href="../elements/id-0916119a72ed42078c0b7bd8af09c058.html"  target="element">

				  						<area shape="rect" coords="278,226,495,347" href="../elements/id-a82098a2b154401ea0cd083990775931.html"  target="element">
				  								<area shape="rect" coords="302,118,445,173" href="../elements/id-23663dbcf5ee489a8e8b238203a7d800.html"  target="element">

				  						<area shape="rect" coords="278,82,495,197" href="../elements/id-1a543aa1e4804f72832d29a86c17f3d4.html"  target="element">

				  				<area shape="rect" coords="254,46,519,371" href="../elements/id-0852c49f562f45cb93f78a936d277086.html"  target="element">

				          <area shape="rect" coords="230,10,543,395" href="../objects/id-86495323e34149948efc68bc5f6e7989.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-86495323e34149948efc68bc5f6e7989.html" target="element"> System of Interest </a> </td>
									           <td> <a href="../objects/id-86495323e34149948efc68bc5f6e7989.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-0852c49f562f45cb93f78a936d277086.html" target="element"> Transport Chain Management </a> </td>
													    <td> <a href="../elements/id-0852c49f562f45cb93f78a936d277086.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-1a543aa1e4804f72832d29a86c17f3d4.html" target="element"> Transport Chain Planning </a> </td>
															    <td> <a href="../elements/id-1a543aa1e4804f72832d29a86c17f3d4.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-23663dbcf5ee489a8e8b238203a7d800.html" target="element"> Report Planned Transport Chains </a> </td>
																	    <td> <a href="../elements/id-23663dbcf5ee489a8e8b238203a7d800.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/id-a82098a2b154401ea0cd083990775931.html" target="element"> Transport Chain Follow-Up </a> </td>
															    <td> <a href="../elements/id-a82098a2b154401ea0cd083990775931.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/id-0916119a72ed42078c0b7bd8af09c058.html" target="element"> Handle Network Issues </a> </td>
																	    <td> <a href="../elements/id-0916119a72ed42078c0b7bd8af09c058.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/id-eff15aa1e6ec4314a99ea14358180189.html" target="element"> Transport Service Provider </a> </td>
											    <td> <a href="../elements/id-eff15aa1e6ec4314a99ea14358180189.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-b4b214461b594fedaeae61ea1321fc7a.html" target="element"> Transport Service Provision </a> </td>
													    <td> <a href="../elements/id-b4b214461b594fedaeae61ea1321fc7a.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9faca8d222af456bbbac44cde386fa00.html" target="element"> Transport User </a> </td>
											    <td> <a href="../elements/id-9faca8d222af456bbbac44cde386fa00.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html" target="element"> Traffic Orchestrator </a> </td>
											    <td> <a href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-014e3c82971a4a44b5b2f8d8f4ffe486.html" target="element"> Coordination with Transport Actors </a> </td>
													    <td> <a href="../elements/id-014e3c82971a4a44b5b2f8d8f4ffe486.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-375ae0e542b74e91a0f784d35f9a8b1a.html" target="view"> Coordination with Transport Actors </a> </td>
															    <td> <a href="../views/id-375ae0e542b74e91a0f784d35f9a8b1a.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-acf820dc93c14ba9837a6bd25aeab51f.html" target="element"> Data Sharing </a> </td>
													    <td> <a href="../elements/id-acf820dc93c14ba9837a6bd25aeab51f.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-1aaef94f59b1414aa13c889e922f8d53.html" target="view"> Data Sharing </a> </td>
															    <td> <a href="../views/id-1aaef94f59b1414aa13c889e922f8d53.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-73f19146524a44688f2863c9f7860d4e.html" target="element"> Transport Data Management </a> </td>
													    <td> <a href="../elements/id-73f19146524a44688f2863c9f7860d4e.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-5046816a24b948eaa27f5c4921b9ed74.html" target="view"> Transport Data Management </a> </td>
															    <td> <a href="../views/id-5046816a24b948eaa27f5c4921b9ed74.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
											
											<tr>
											    <td> <a href="../elements/id-10771c673f6149bd9343f91317786f78.html" target="element"> Fleet Operator </a> </td>
											    <td> <a href="../elements/id-10771c673f6149bd9343f91317786f78.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-f5224f1062e041c5a380affaa8d2b88d.html" target="element"> Transport Operation </a> </td>
													    <td> <a href="../elements/id-f5224f1062e041c5a380affaa8d2b88d.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-dc94bf0ca4c34ae693175249f9b2ca4f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dc94bf0ca4c34ae693175249f9b2ca4f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-0852c49f562f45cb93f78a936d277086.html" target="element"> Transport Chain Management </a> </td>
																				<td> <a href="../elements/id-1a543aa1e4804f72832d29a86c17f3d4.html" target="element"> Transport Chain Planning </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4796b5d227be478191ced520c641f2d3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4796b5d227be478191ced520c641f2d3.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-0852c49f562f45cb93f78a936d277086.html" target="element"> Transport Chain Management </a> </td>
																				<td> <a href="../elements/id-a82098a2b154401ea0cd083990775931.html" target="element"> Transport Chain Follow-Up </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-50754d7dd2da4757b4ee0193d94c5dd7.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-50754d7dd2da4757b4ee0193d94c5dd7.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/id-1a543aa1e4804f72832d29a86c17f3d4.html" target="element"> Transport Chain Planning </a> </td>
																						<td> <a href="../elements/id-a82098a2b154401ea0cd083990775931.html" target="element"> Transport Chain Follow-Up </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/id-1d46e5f5ca4c4213a0c0de3b4a0d282e.html" target="element">  </a> </td>
																								<td> <a href="../elements/id-1d46e5f5ca4c4213a0c0de3b4a0d282e.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																								<td> <a href="../elements/id-23663dbcf5ee489a8e8b238203a7d800.html" target="element"> Report Planned Transport Chains </a> </td>
																								<td> <a href="../elements/id-73f19146524a44688f2863c9f7860d4e.html" target="element"> Transport Data Management </a> </td>
																							</tr>

															
																					<tr>
																						<td> <a href="../elements/id-068763d9cb0448b4b9a3c3cc43e7a909.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-068763d9cb0448b4b9a3c3cc43e7a909.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/id-a82098a2b154401ea0cd083990775931.html" target="element"> Transport Chain Follow-Up </a> </td>
																						<td> <a href="../elements/id-0916119a72ed42078c0b7bd8af09c058.html" target="element"> Handle Network Issues </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/id-961e07343f214911ac0788031c18f462.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-961e07343f214911ac0788031c18f462.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/id-a82098a2b154401ea0cd083990775931.html" target="element"> Transport Chain Follow-Up </a> </td>
																						<td> <a href="../elements/id-1a543aa1e4804f72832d29a86c17f3d4.html" target="element"> Transport Chain Planning </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/id-125f9473f795414b89c32d4e1694dc34.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-125f9473f795414b89c32d4e1694dc34.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-eff15aa1e6ec4314a99ea14358180189.html" target="element"> Transport Service Provider </a> </td>
																		<td> <a href="../elements/id-0852c49f562f45cb93f78a936d277086.html" target="element"> Transport Chain Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-108c92588f0d455a846572dd29dccc65.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-108c92588f0d455a846572dd29dccc65.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-eff15aa1e6ec4314a99ea14358180189.html" target="element"> Transport Service Provider </a> </td>
																		<td> <a href="../elements/id-b4b214461b594fedaeae61ea1321fc7a.html" target="element"> Transport Service Provision </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-a69d9b3585694631ad414295987b8fbc.html" target="element"> serving </a> </td>
																				<td> <a href="../elements/id-a69d9b3585694631ad414295987b8fbc.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-b4b214461b594fedaeae61ea1321fc7a.html" target="element"> Transport Service Provision </a> </td>
																				<td> <a href="../elements/id-9faca8d222af456bbbac44cde386fa00.html" target="element"> Transport User </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0cc0dc2c67d94497a0e615022a8048fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0cc0dc2c67d94497a0e615022a8048fa.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html" target="element"> Traffic Orchestrator </a> </td>
																		<td> <a href="../elements/id-acf820dc93c14ba9837a6bd25aeab51f.html" target="element"> Data Sharing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1bdea1f197e342abaab526ec9c783c7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1bdea1f197e342abaab526ec9c783c7a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html" target="element"> Traffic Orchestrator </a> </td>
																		<td> <a href="../elements/id-014e3c82971a4a44b5b2f8d8f4ffe486.html" target="element"> Coordination with Transport Actors </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-303bdf4256594d0bbfcad420f092cbdc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-303bdf4256594d0bbfcad420f092cbdc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html" target="element"> Traffic Orchestrator </a> </td>
																		<td> <a href="../elements/id-73f19146524a44688f2863c9f7860d4e.html" target="element"> Transport Data Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f1b58ff0f954fa88d54fbca2aaf2d04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f1b58ff0f954fa88d54fbca2aaf2d04.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html" target="element"> Traffic Orchestrator </a> </td>
																		<td> <a href="../elements/id-acf820dc93c14ba9837a6bd25aeab51f.html" target="element"> Data Sharing </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-57cb54a5ae5f4baba8929d298bf85f43.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-57cb54a5ae5f4baba8929d298bf85f43.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-014e3c82971a4a44b5b2f8d8f4ffe486.html" target="element"> Coordination with Transport Actors </a> </td>
																				<td> <a href="../elements/id-a82098a2b154401ea0cd083990775931.html" target="element"> Transport Chain Follow-Up </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
																			<tr>
																				<td> <a href="../elements/id-c8297c1445904a199f6dcb39a7a7f53d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c8297c1445904a199f6dcb39a7a7f53d.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-acf820dc93c14ba9837a6bd25aeab51f.html" target="element"> Data Sharing </a> </td>
																				<td> <a href="../elements/id-0852c49f562f45cb93f78a936d277086.html" target="element"> Transport Chain Management </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
											
																	<tr>
																		<td> <a href="../elements/id-a8b3ea9e3d6c4d64bd95de74355f2da5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8b3ea9e3d6c4d64bd95de74355f2da5.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-10771c673f6149bd9343f91317786f78.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-f5224f1062e041c5a380affaa8d2b88d.html" target="element"> Transport Operation </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f795cd73625641aa9c052fb239272ca1.html" target="element"> serving </a> </td>
																				<td> <a href="../elements/id-f795cd73625641aa9c052fb239272ca1.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-f5224f1062e041c5a380affaa8d2b88d.html" target="element"> Transport Operation </a> </td>
																				<td> <a href="../elements/id-eff15aa1e6ec4314a99ea14358180189.html" target="element"> Transport Service Provider </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>