<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Fleet Operator Functionality</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Fleet Operator Functionality</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-business_process_cooperation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-df77a74054214494a6c203ca5ad6e29f.png" alt="Fleet Operator Functionality" usemap="#id-df77a74054214494a6c203ca5ad6e29fmap"/>
			   <map name="id-df77a74054214494a6c203ca5ad6e29fmap">
				  						<area shape="rect" coords="646,214,779,269" href="../views/id-1aaef94f59b1414aa13c889e922f8d53.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="622,190,803,275" href="../elements/id-acf820dc93c14ba9837a6bd25aeab51f.html"  target="element">
				  						<area shape="rect" coords="646,322,779,377" href="../views/id-5046816a24b948eaa27f5c4921b9ed74.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="622,286,803,383" href="../elements/id-73f19146524a44688f2863c9f7860d4e.html"  target="element">
				  						<area shape="rect" coords="646,106,779,167" href="../views/id-375ae0e542b74e91a0f784d35f9a8b1a.html"  target="view">
				  				    <!-- Other diagram objects -->

				  				<area shape="rect" coords="622,70,803,179" href="../elements/id-014e3c82971a4a44b5b2f8d8f4ffe486.html"  target="element">

				  		<area shape="rect" coords="586,34,827,395" href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html"  target="element">
				  		<area shape="rect" coords="22,340,142,395" href="../elements/id-eff15aa1e6ec4314a99ea14358180189.html"  target="element">
				  						<area shape="rect" coords="298,202,455,257" href="../elements/id-06516116788b4e9281eeba3cee0e26fd.html"  target="element">
				  						<area shape="rect" coords="298,298,455,353" href="../elements/id-8061afddd62f4599bd2d3afed8f53cfd.html"  target="element">
				  						<area shape="rect" coords="298,115,455,170" href="../elements/id-d5d929b2441041c797a6782fe0b49130.html"  target="element">

				  				<area shape="rect" coords="262,58,503,371" href="../elements/id-8fee8b2782174dd4abb3960f3798ac15.html"  target="element">

				          <area shape="rect" coords="226,10,539,395" href="../objects/id-60bbc7885ff244359d4ebd084fe5f11f.html" target="element" >
				  				<area shape="rect" coords="34,154,154,209" href="../elements/id-f1fc391c8c6d414b98ede378823fc508.html"  target="element">
				  				<area shape="rect" coords="34,226,154,281" href="../elements/id-f5224f1062e041c5a380affaa8d2b88d.html"  target="element">
				  				<area shape="rect" coords="34,82,154,137" href="../elements/id-93e0ed6ca495468992992ed636d6693d.html"  target="element">

				  		<area shape="rect" coords="10,58,179,299" href="../elements/id-10771c673f6149bd9343f91317786f78.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-10771c673f6149bd9343f91317786f78.html" target="element"> Fleet Operator </a> </td>
											    <td> <a href="../elements/id-10771c673f6149bd9343f91317786f78.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-93e0ed6ca495468992992ed636d6693d.html" target="element"> Resource Allocation </a> </td>
													    <td> <a href="../elements/id-93e0ed6ca495468992992ed636d6693d.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f5224f1062e041c5a380affaa8d2b88d.html" target="element"> Transport Operation </a> </td>
													    <td> <a href="../elements/id-f5224f1062e041c5a380affaa8d2b88d.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f1fc391c8c6d414b98ede378823fc508.html" target="element"> Transfer </a> </td>
													    <td> <a href="../elements/id-f1fc391c8c6d414b98ede378823fc508.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-60bbc7885ff244359d4ebd084fe5f11f.html" target="element"> System of Interest </a> </td>
									           <td> <a href="../objects/id-60bbc7885ff244359d4ebd084fe5f11f.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-8fee8b2782174dd4abb3960f3798ac15.html" target="element"> Transport Operation Management </a> </td>
													    <td> <a href="../elements/id-8fee8b2782174dd4abb3960f3798ac15.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-d5d929b2441041c797a6782fe0b49130.html" target="element"> Updates on Ongoing Transports </a> </td>
															    <td> <a href="../elements/id-d5d929b2441041c797a6782fe0b49130.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-8061afddd62f4599bd2d3afed8f53cfd.html" target="element"> Request Transport Operation in Network </a> </td>
															    <td> <a href="../elements/id-8061afddd62f4599bd2d3afed8f53cfd.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-06516116788b4e9281eeba3cee0e26fd.html" target="element"> Operation Planning </a> </td>
															    <td> <a href="../elements/id-06516116788b4e9281eeba3cee0e26fd.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/id-eff15aa1e6ec4314a99ea14358180189.html" target="element"> Transport Service Provider </a> </td>
											    <td> <a href="../elements/id-eff15aa1e6ec4314a99ea14358180189.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html" target="element"> Traffic Orchestrator </a> </td>
											    <td> <a href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-014e3c82971a4a44b5b2f8d8f4ffe486.html" target="element"> Coordination with Transport Actors </a> </td>
													    <td> <a href="../elements/id-014e3c82971a4a44b5b2f8d8f4ffe486.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-375ae0e542b74e91a0f784d35f9a8b1a.html" target="view"> Coordination with Transport Actors </a> </td>
															    <td> <a href="../views/id-375ae0e542b74e91a0f784d35f9a8b1a.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-73f19146524a44688f2863c9f7860d4e.html" target="element"> Transport Data Management </a> </td>
													    <td> <a href="../elements/id-73f19146524a44688f2863c9f7860d4e.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-5046816a24b948eaa27f5c4921b9ed74.html" target="view"> Transport Data Management </a> </td>
															    <td> <a href="../views/id-5046816a24b948eaa27f5c4921b9ed74.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
													<tr>
													    <td> <a href="../elements/id-acf820dc93c14ba9837a6bd25aeab51f.html" target="element"> Data Sharing </a> </td>
													    <td> <a href="../elements/id-acf820dc93c14ba9837a6bd25aeab51f.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../views/id-1aaef94f59b1414aa13c889e922f8d53.html" target="view"> Data Sharing </a> </td>
															    <td> <a href="../views/id-1aaef94f59b1414aa13c889e922f8d53.html" target="view" class="i18n-viewpoint-"> </a> </td>
															</tr>
													    <!-- Other graphical objects -->

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-cfc50b39bd63466999daad79f9d8f2a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfc50b39bd63466999daad79f9d8f2a2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-10771c673f6149bd9343f91317786f78.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-93e0ed6ca495468992992ed636d6693d.html" target="element"> Resource Allocation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2f93bd2f625e44d2839220e2e216baa5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2f93bd2f625e44d2839220e2e216baa5.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-10771c673f6149bd9343f91317786f78.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-93e0ed6ca495468992992ed636d6693d.html" target="element"> Resource Allocation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a8b3ea9e3d6c4d64bd95de74355f2da5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a8b3ea9e3d6c4d64bd95de74355f2da5.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-10771c673f6149bd9343f91317786f78.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-f5224f1062e041c5a380affaa8d2b88d.html" target="element"> Transport Operation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4309203cdc7f4ed88f88cfd40aa6bffa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4309203cdc7f4ed88f88cfd40aa6bffa.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-10771c673f6149bd9343f91317786f78.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-8fee8b2782174dd4abb3960f3798ac15.html" target="element"> Transport Operation Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-403109d3c2404cf1bf8e3cb2f6b9231d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-403109d3c2404cf1bf8e3cb2f6b9231d.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-10771c673f6149bd9343f91317786f78.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-f1fc391c8c6d414b98ede378823fc508.html" target="element"> Transfer </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-f795cd73625641aa9c052fb239272ca1.html" target="element"> serving </a> </td>
																				<td> <a href="../elements/id-f795cd73625641aa9c052fb239272ca1.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-f5224f1062e041c5a380affaa8d2b88d.html" target="element"> Transport Operation </a> </td>
																				<td> <a href="../elements/id-eff15aa1e6ec4314a99ea14358180189.html" target="element"> Transport Service Provider </a> </td>
																			</tr>

											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
																			<tr>
																				<td> <a href="../elements/id-14dfd8eb57ee43459969878e76fe2a29.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-14dfd8eb57ee43459969878e76fe2a29.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-8fee8b2782174dd4abb3960f3798ac15.html" target="element"> Transport Operation Management </a> </td>
																				<td> <a href="../elements/id-d5d929b2441041c797a6782fe0b49130.html" target="element"> Updates on Ongoing Transports </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-d3a77430c195407999db26fc34b19197.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d3a77430c195407999db26fc34b19197.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-8fee8b2782174dd4abb3960f3798ac15.html" target="element"> Transport Operation Management </a> </td>
																				<td> <a href="../elements/id-8061afddd62f4599bd2d3afed8f53cfd.html" target="element"> Request Transport Operation in Network </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-37f8b60ea1f34356af64e26314f863a6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-37f8b60ea1f34356af64e26314f863a6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-8fee8b2782174dd4abb3960f3798ac15.html" target="element"> Transport Operation Management </a> </td>
																				<td> <a href="../elements/id-06516116788b4e9281eeba3cee0e26fd.html" target="element"> Operation Planning </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-43d1fbeb2a5f473eac080d94b7ea4b9a.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-43d1fbeb2a5f473eac080d94b7ea4b9a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/id-d5d929b2441041c797a6782fe0b49130.html" target="element"> Updates on Ongoing Transports </a> </td>
																						<td> <a href="../elements/id-06516116788b4e9281eeba3cee0e26fd.html" target="element"> Operation Planning </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-6a0216af55fc447dabeda5658c6c6ca3.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-6a0216af55fc447dabeda5658c6c6ca3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/id-8061afddd62f4599bd2d3afed8f53cfd.html" target="element"> Request Transport Operation in Network </a> </td>
																						<td> <a href="../elements/id-73f19146524a44688f2863c9f7860d4e.html" target="element"> Transport Data Management </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-9776a34487134f308dca6ff95ef1de4b.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-9776a34487134f308dca6ff95ef1de4b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/id-06516116788b4e9281eeba3cee0e26fd.html" target="element"> Operation Planning </a> </td>
																						<td> <a href="../elements/id-8061afddd62f4599bd2d3afed8f53cfd.html" target="element"> Request Transport Operation in Network </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/id-1bdea1f197e342abaab526ec9c783c7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1bdea1f197e342abaab526ec9c783c7a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html" target="element"> Traffic Orchestrator </a> </td>
																		<td> <a href="../elements/id-014e3c82971a4a44b5b2f8d8f4ffe486.html" target="element"> Coordination with Transport Actors </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fff42c686685441791fd9ce0e4cb5727.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fff42c686685441791fd9ce0e4cb5727.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html" target="element"> Traffic Orchestrator </a> </td>
																		<td> <a href="../elements/id-014e3c82971a4a44b5b2f8d8f4ffe486.html" target="element"> Coordination with Transport Actors </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-64a13e1aecfe45deb05800bd07f574ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-64a13e1aecfe45deb05800bd07f574ff.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html" target="element"> Traffic Orchestrator </a> </td>
																		<td> <a href="../elements/id-73f19146524a44688f2863c9f7860d4e.html" target="element"> Transport Data Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-303bdf4256594d0bbfcad420f092cbdc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-303bdf4256594d0bbfcad420f092cbdc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html" target="element"> Traffic Orchestrator </a> </td>
																		<td> <a href="../elements/id-73f19146524a44688f2863c9f7860d4e.html" target="element"> Transport Data Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0cc0dc2c67d94497a0e615022a8048fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0cc0dc2c67d94497a0e615022a8048fa.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html" target="element"> Traffic Orchestrator </a> </td>
																		<td> <a href="../elements/id-acf820dc93c14ba9837a6bd25aeab51f.html" target="element"> Data Sharing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3f1b58ff0f954fa88d54fbca2aaf2d04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3f1b58ff0f954fa88d54fbca2aaf2d04.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-2a0ec8e9df024ce1b5deeecee3733be3.html" target="element"> Traffic Orchestrator </a> </td>
																		<td> <a href="../elements/id-acf820dc93c14ba9837a6bd25aeab51f.html" target="element"> Data Sharing </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-51ad5dc3652a459e98f88b6a33900eb5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-51ad5dc3652a459e98f88b6a33900eb5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-014e3c82971a4a44b5b2f8d8f4ffe486.html" target="element"> Coordination with Transport Actors </a> </td>
																				<td> <a href="../elements/id-06516116788b4e9281eeba3cee0e26fd.html" target="element"> Operation Planning </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c5cc131d2b664a8ca38c51106495c5a5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c5cc131d2b664a8ca38c51106495c5a5.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-014e3c82971a4a44b5b2f8d8f4ffe486.html" target="element"> Coordination with Transport Actors </a> </td>
																				<td> <a href="../elements/id-d5d929b2441041c797a6782fe0b49130.html" target="element"> Updates on Ongoing Transports </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
																			<tr>
																				<td> <a href="../elements/id-9aa004e3b91a40ffaef7e02425a9d2c3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9aa004e3b91a40ffaef7e02425a9d2c3.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-acf820dc93c14ba9837a6bd25aeab51f.html" target="element"> Data Sharing </a> </td>
																				<td> <a href="../elements/id-06516116788b4e9281eeba3cee0e26fd.html" target="element"> Operation Planning </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-99b77efe14c64515aa2e439cd7c75735.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-99b77efe14c64515aa2e439cd7c75735.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-acf820dc93c14ba9837a6bd25aeab51f.html" target="element"> Data Sharing </a> </td>
																				<td> <a href="../elements/id-d5d929b2441041c797a6782fe0b49130.html" target="element"> Updates on Ongoing Transports </a> </td>
																			</tr>

															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>