<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Network User Goals</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Network User Goals</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f37020f2c51b4aa796986b04b087ea2e.png" alt="Network User Goals" usemap="#id-f37020f2c51b4aa796986b04b087ea2emap"/>
			   <map name="id-f37020f2c51b4aa796986b04b087ea2emap">
				  		<area shape="rect" coords="483,634,628,689" href="../elements/id-9fb73b4281424723b20d9d6fe626c58d.html"  target="element">
				  		<area shape="rect" coords="886,526,1006,581" href="../elements/id-a9aad23ea5b84d52a2498912f6623ba3.html"  target="element">
				  		<area shape="rect" coords="1080,474,1200,529" href="../elements/id-641aaf94bdb24ddba2e1f0e013216311.html"  target="element">
				  		<area shape="rect" coords="211,550,359,621" href="../elements/id-549cd32ab29249c8baec52b77625dc08.html"  target="element">
				  		<area shape="rect" coords="442,538,562,593" href="../elements/id-0f7ea3f35a8f46bdbebf08bb1c48e8bb.html"  target="element">
				  		<area shape="rect" coords="959,382,1079,437" href="../elements/id-36a08fabbf8a4b0d968b893b7a0f67ee.html"  target="element">
				  		<area shape="rect" coords="802,450,922,505" href="../elements/id-948e1f4884c0435088df33ec4f9e1f53.html"  target="element">
				  		<area shape="rect" coords="598,550,718,605" href="../elements/id-399b04eda2364a2096efd938f46ea7d1.html"  target="element">
				  		<area shape="rect" coords="633,450,791,521" href="../elements/id-c415ee5c294c4903a24a96fb294fce76.html"  target="element">
				  		<area shape="rect" coords="358,472,478,527" href="../elements/id-2b63f89315d8418ea5f13bcb760841c5.html"  target="element">
				          <area shape="rect" coords="1390,74,1575,169" href="../objects/id-caab8c7cc12e440592ce2a645bffd453.html" target="element" >
				  		<area shape="rect" coords="225,472,345,527" href="../elements/id-a3a0dbcab0224e35905bb485d80150a9.html"  target="element">
				  		<area shape="rect" coords="190,406,310,461" href="../elements/id-264f881efbba48a8890c2e279e4aa438.html"  target="element">
				  		<area shape="rect" coords="10,334,161,407" href="../elements/id-8fb9b39b18d84b4f96e77d423eeb46c5.html"  target="element">
				  		<area shape="rect" coords="166,334,286,389" href="../elements/id-224a048fdde54e66ab7215d5188ff0ca.html"  target="element">
				  		<area shape="rect" coords="1126,176,1246,231" href="../elements/id-f31bcd95671d415995e7695e6e962510.html"  target="element">
				  		<area shape="rect" coords="202,166,322,221" href="../elements/id-dd156a16ddb54b8392779512b41a59e3.html"  target="element">
				  		<area shape="rect" coords="970,177,1079,230" href="../elements/id-1accea2d45d84a149579e9f82bfa2bb7.html"  target="element">
				  		<area shape="rect" coords="802,176,946,232" href="../elements/id-aa7b7d207c384323b56155c3b77765bc.html"  target="element">
				  		<area shape="rect" coords="351,166,484,221" href="../elements/id-bf69f5115c104711ade6aa9f6e1f76bc.html"  target="element">
				  		<area shape="rect" coords="671,176,791,231" href="../elements/id-9e54de753d374aa7bcc8ac3fa9ad5313.html"  target="element">
				  		<area shape="rect" coords="47,166,167,221" href="../elements/id-17fb51e33ef84d86bfcb3aa9190f9eea.html"  target="element">
				  		<area shape="rect" coords="526,292,646,365" href="../elements/id-d397d7f6bf7f4e0b9702ad4b075ad522.html"  target="element">
				  		<area shape="rect" coords="370,292,490,365" href="../elements/id-fc2b4ac68ae34e6db1da0b2bdbc1bd1e.html"  target="element">
				  		<area shape="rect" coords="514,168,634,239" href="../elements/id-a47bf4f2050d4d0c89b4190661149cdb.html"  target="element">
				  		<area shape="rect" coords="658,10,778,65" href="../elements/id-0e326829a58641dc907198c32f249ed6.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0e326829a58641dc907198c32f249ed6.html" target="element"> Network User </a> </td>
											    <td> <a href="../elements/id-0e326829a58641dc907198c32f249ed6.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a47bf4f2050d4d0c89b4190661149cdb.html" target="element"> Easy adaption to traffic and network </a> </td>
											    <td> <a href="../elements/id-a47bf4f2050d4d0c89b4190661149cdb.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc2b4ac68ae34e6db1da0b2bdbc1bd1e.html" target="element"> Incident/obstruction handling </a> </td>
											    <td> <a href="../elements/id-fc2b4ac68ae34e6db1da0b2bdbc1bd1e.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d397d7f6bf7f4e0b9702ad4b075ad522.html" target="element"> Support and automation </a> </td>
											    <td> <a href="../elements/id-d397d7f6bf7f4e0b9702ad4b075ad522.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-17fb51e33ef84d86bfcb3aa9190f9eea.html" target="element"> Rewards and penalities </a> </td>
											    <td> <a href="../elements/id-17fb51e33ef84d86bfcb3aa9190f9eea.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e54de753d374aa7bcc8ac3fa9ad5313.html" target="element"> Working conditions </a> </td>
											    <td> <a href="../elements/id-9e54de753d374aa7bcc8ac3fa9ad5313.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf69f5115c104711ade6aa9f6e1f76bc.html" target="element"> Acknowledgement and competence </a> </td>
											    <td> <a href="../elements/id-bf69f5115c104711ade6aa9f6e1f76bc.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aa7b7d207c384323b56155c3b77765bc.html" target="element"> Optimal and predictable journey </a> </td>
											    <td> <a href="../elements/id-aa7b7d207c384323b56155c3b77765bc.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1accea2d45d84a149579e9f82bfa2bb7.html" target="element"> Safety </a> </td>
											    <td> <a href="../elements/id-1accea2d45d84a149579e9f82bfa2bb7.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd156a16ddb54b8392779512b41a59e3.html" target="element"> Green </a> </td>
											    <td> <a href="../elements/id-dd156a16ddb54b8392779512b41a59e3.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f31bcd95671d415995e7695e6e962510.html" target="element"> Costs </a> </td>
											    <td> <a href="../elements/id-f31bcd95671d415995e7695e6e962510.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-224a048fdde54e66ab7215d5188ff0ca.html" target="element"> Desired behaviour is rewarded </a> </td>
											    <td> <a href="../elements/id-224a048fdde54e66ab7215d5188ff0ca.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8fb9b39b18d84b4f96e77d423eeb46c5.html" target="element"> Easy to avoid undesired behaviour and penalties </a> </td>
											    <td> <a href="../elements/id-8fb9b39b18d84b4f96e77d423eeb46c5.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-264f881efbba48a8890c2e279e4aa438.html" target="element"> Easy to be green </a> </td>
											    <td> <a href="../elements/id-264f881efbba48a8890c2e279e4aa438.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a3a0dbcab0224e35905bb485d80150a9.html" target="element"> Green behaviour support </a> </td>
											    <td> <a href="../elements/id-a3a0dbcab0224e35905bb485d80150a9.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-caab8c7cc12e440592ce2a645bffd453.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-caab8c7cc12e440592ce2a645bffd453.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-2b63f89315d8418ea5f13bcb760841c5.html" target="element"> Support in case of disruptions </a> </td>
											    <td> <a href="../elements/id-2b63f89315d8418ea5f13bcb760841c5.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c415ee5c294c4903a24a96fb294fce76.html" target="element"> Support and traffic predictions adapted to needs </a> </td>
											    <td> <a href="../elements/id-c415ee5c294c4903a24a96fb294fce76.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-399b04eda2364a2096efd938f46ea7d1.html" target="element"> Easy to make use of support </a> </td>
											    <td> <a href="../elements/id-399b04eda2364a2096efd938f46ea7d1.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-948e1f4884c0435088df33ec4f9e1f53.html" target="element"> Easy and dynamic planning support </a> </td>
											    <td> <a href="../elements/id-948e1f4884c0435088df33ec4f9e1f53.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-36a08fabbf8a4b0d968b893b7a0f67ee.html" target="element"> No accidents </a> </td>
											    <td> <a href="../elements/id-36a08fabbf8a4b0d968b893b7a0f67ee.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0f7ea3f35a8f46bdbebf08bb1c48e8bb.html" target="element"> Automation adapted to needs </a> </td>
											    <td> <a href="../elements/id-0f7ea3f35a8f46bdbebf08bb1c48e8bb.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-549cd32ab29249c8baec52b77625dc08.html" target="element"> Reductions in training and license requirements </a> </td>
											    <td> <a href="../elements/id-549cd32ab29249c8baec52b77625dc08.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-641aaf94bdb24ddba2e1f0e013216311.html" target="element"> No need for new / extra equipment and systems </a> </td>
											    <td> <a href="../elements/id-641aaf94bdb24ddba2e1f0e013216311.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9aad23ea5b84d52a2498912f6623ba3.html" target="element"> Value in return for shared data </a> </td>
											    <td> <a href="../elements/id-a9aad23ea5b84d52a2498912f6623ba3.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9fb73b4281424723b20d9d6fe626c58d.html" target="element"> No responsibility when automation fails </a> </td>
											    <td> <a href="../elements/id-9fb73b4281424723b20d9d6fe626c58d.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-dfbe2b69286a416ea4f83dc8f4fca522.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dfbe2b69286a416ea4f83dc8f4fca522.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0e326829a58641dc907198c32f249ed6.html" target="element"> Network User </a> </td>
																		<td> <a href="../elements/id-dd156a16ddb54b8392779512b41a59e3.html" target="element"> Green </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-42deab82632d4cbabecee19811556a80.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42deab82632d4cbabecee19811556a80.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0e326829a58641dc907198c32f249ed6.html" target="element"> Network User </a> </td>
																		<td> <a href="../elements/id-1accea2d45d84a149579e9f82bfa2bb7.html" target="element"> Safety </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-84aaf58eb5cc46f3b57baee7da7d0340.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-84aaf58eb5cc46f3b57baee7da7d0340.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0e326829a58641dc907198c32f249ed6.html" target="element"> Network User </a> </td>
																		<td> <a href="../elements/id-aa7b7d207c384323b56155c3b77765bc.html" target="element"> Optimal and predictable journey </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-967b95ee098b4946889ad0f9fb2ece5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-967b95ee098b4946889ad0f9fb2ece5c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0e326829a58641dc907198c32f249ed6.html" target="element"> Network User </a> </td>
																		<td> <a href="../elements/id-a47bf4f2050d4d0c89b4190661149cdb.html" target="element"> Easy adaption to traffic and network </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-deac9fb725394806a198002dbab13306.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-deac9fb725394806a198002dbab13306.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0e326829a58641dc907198c32f249ed6.html" target="element"> Network User </a> </td>
																		<td> <a href="../elements/id-f31bcd95671d415995e7695e6e962510.html" target="element"> Costs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ed78e5dfefc2415e915b906722b48041.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ed78e5dfefc2415e915b906722b48041.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0e326829a58641dc907198c32f249ed6.html" target="element"> Network User </a> </td>
																		<td> <a href="../elements/id-17fb51e33ef84d86bfcb3aa9190f9eea.html" target="element"> Rewards and penalities </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f9d70aaafc994b6dbf85a6e44b076e88.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f9d70aaafc994b6dbf85a6e44b076e88.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0e326829a58641dc907198c32f249ed6.html" target="element"> Network User </a> </td>
																		<td> <a href="../elements/id-bf69f5115c104711ade6aa9f6e1f76bc.html" target="element"> Acknowledgement and competence </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5465e4dd3ab645f7aa5ae5255bfe1c83.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5465e4dd3ab645f7aa5ae5255bfe1c83.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-0e326829a58641dc907198c32f249ed6.html" target="element"> Network User </a> </td>
																		<td> <a href="../elements/id-9e54de753d374aa7bcc8ac3fa9ad5313.html" target="element"> Working conditions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-01b9ba962f754708a117cb6976411868.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-01b9ba962f754708a117cb6976411868.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a47bf4f2050d4d0c89b4190661149cdb.html" target="element"> Easy adaption to traffic and network </a> </td>
																		<td> <a href="../elements/id-d397d7f6bf7f4e0b9702ad4b075ad522.html" target="element"> Support and automation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4d18249b62ac46479e2554781ed4a53e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d18249b62ac46479e2554781ed4a53e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-a47bf4f2050d4d0c89b4190661149cdb.html" target="element"> Easy adaption to traffic and network </a> </td>
																		<td> <a href="../elements/id-948e1f4884c0435088df33ec4f9e1f53.html" target="element"> Easy and dynamic planning support </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9d858d1a3b8347eda21f5d3414fb8afc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9d858d1a3b8347eda21f5d3414fb8afc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc2b4ac68ae34e6db1da0b2bdbc1bd1e.html" target="element"> Incident/obstruction handling </a> </td>
																		<td> <a href="../elements/id-a47bf4f2050d4d0c89b4190661149cdb.html" target="element"> Easy adaption to traffic and network </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-63e5e603cd754d02bd8aa33bf0cb5b26.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-63e5e603cd754d02bd8aa33bf0cb5b26.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc2b4ac68ae34e6db1da0b2bdbc1bd1e.html" target="element"> Incident/obstruction handling </a> </td>
																		<td> <a href="../elements/id-2b63f89315d8418ea5f13bcb760841c5.html" target="element"> Support in case of disruptions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ef02ef033be54f299abaeaea390d7441.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef02ef033be54f299abaeaea390d7441.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-d397d7f6bf7f4e0b9702ad4b075ad522.html" target="element"> Support and automation </a> </td>
																		<td> <a href="../elements/id-c415ee5c294c4903a24a96fb294fce76.html" target="element"> Support and traffic predictions adapted to needs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5914ea1534ac41c8bc11f6a26a4826e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5914ea1534ac41c8bc11f6a26a4826e8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-d397d7f6bf7f4e0b9702ad4b075ad522.html" target="element"> Support and automation </a> </td>
																		<td> <a href="../elements/id-399b04eda2364a2096efd938f46ea7d1.html" target="element"> Easy to make use of support </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b475e4852c594ebcb701305a8c592af1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b475e4852c594ebcb701305a8c592af1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-d397d7f6bf7f4e0b9702ad4b075ad522.html" target="element"> Support and automation </a> </td>
																		<td> <a href="../elements/id-0f7ea3f35a8f46bdbebf08bb1c48e8bb.html" target="element"> Automation adapted to needs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-55f33ea2c52f4f16817ac5b6d3617ba8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-55f33ea2c52f4f16817ac5b6d3617ba8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-d397d7f6bf7f4e0b9702ad4b075ad522.html" target="element"> Support and automation </a> </td>
																		<td> <a href="../elements/id-9fb73b4281424723b20d9d6fe626c58d.html" target="element"> No responsibility when automation fails </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b26b25fce4ab4c1c8f786df52ff471f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b26b25fce4ab4c1c8f786df52ff471f2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-17fb51e33ef84d86bfcb3aa9190f9eea.html" target="element"> Rewards and penalities </a> </td>
																		<td> <a href="../elements/id-224a048fdde54e66ab7215d5188ff0ca.html" target="element"> Desired behaviour is rewarded </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b69d44f3dd7a42b8beb356edd8afbd8a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b69d44f3dd7a42b8beb356edd8afbd8a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-17fb51e33ef84d86bfcb3aa9190f9eea.html" target="element"> Rewards and penalities </a> </td>
																		<td> <a href="../elements/id-8fb9b39b18d84b4f96e77d423eeb46c5.html" target="element"> Easy to avoid undesired behaviour and penalties </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-62d4c6323a504e7cae7b938c8adf944a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-62d4c6323a504e7cae7b938c8adf944a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-9e54de753d374aa7bcc8ac3fa9ad5313.html" target="element"> Working conditions </a> </td>
																		<td> <a href="../elements/id-948e1f4884c0435088df33ec4f9e1f53.html" target="element"> Easy and dynamic planning support </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9922d6efdb1945869d413c848008acdd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9922d6efdb1945869d413c848008acdd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-bf69f5115c104711ade6aa9f6e1f76bc.html" target="element"> Acknowledgement and competence </a> </td>
																		<td> <a href="../elements/id-399b04eda2364a2096efd938f46ea7d1.html" target="element"> Easy to make use of support </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d09728fc3c0946f2b460e7e0573b5752.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d09728fc3c0946f2b460e7e0573b5752.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-bf69f5115c104711ade6aa9f6e1f76bc.html" target="element"> Acknowledgement and competence </a> </td>
																		<td> <a href="../elements/id-224a048fdde54e66ab7215d5188ff0ca.html" target="element"> Desired behaviour is rewarded </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cafab29c748541a598518ad7a7d5d8da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cafab29c748541a598518ad7a7d5d8da.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-bf69f5115c104711ade6aa9f6e1f76bc.html" target="element"> Acknowledgement and competence </a> </td>
																		<td> <a href="../elements/id-549cd32ab29249c8baec52b77625dc08.html" target="element"> Reductions in training and license requirements </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0b68708b05a644ca95283261a53ea063.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b68708b05a644ca95283261a53ea063.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-aa7b7d207c384323b56155c3b77765bc.html" target="element"> Optimal and predictable journey </a> </td>
																		<td> <a href="../elements/id-948e1f4884c0435088df33ec4f9e1f53.html" target="element"> Easy and dynamic planning support </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-54df2ed46ce841f7a38bed1d0994f661.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54df2ed46ce841f7a38bed1d0994f661.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-aa7b7d207c384323b56155c3b77765bc.html" target="element"> Optimal and predictable journey </a> </td>
																		<td> <a href="../elements/id-a9aad23ea5b84d52a2498912f6623ba3.html" target="element"> Value in return for shared data </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-720ea0efec4a4beca1e3045a33e41723.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-720ea0efec4a4beca1e3045a33e41723.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1accea2d45d84a149579e9f82bfa2bb7.html" target="element"> Safety </a> </td>
																		<td> <a href="../elements/id-36a08fabbf8a4b0d968b893b7a0f67ee.html" target="element"> No accidents </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c4753cc3b6c64bf6b2a7006fd741c953.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c4753cc3b6c64bf6b2a7006fd741c953.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd156a16ddb54b8392779512b41a59e3.html" target="element"> Green </a> </td>
																		<td> <a href="../elements/id-224a048fdde54e66ab7215d5188ff0ca.html" target="element"> Desired behaviour is rewarded </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6b726142b7814dd6983800b2710fd646.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6b726142b7814dd6983800b2710fd646.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd156a16ddb54b8392779512b41a59e3.html" target="element"> Green </a> </td>
																		<td> <a href="../elements/id-264f881efbba48a8890c2e279e4aa438.html" target="element"> Easy to be green </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bcbefb4a59b6402b9fc63e30296dd4ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bcbefb4a59b6402b9fc63e30296dd4ba.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd156a16ddb54b8392779512b41a59e3.html" target="element"> Green </a> </td>
																		<td> <a href="../elements/id-a3a0dbcab0224e35905bb485d80150a9.html" target="element"> Green behaviour support </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4999090f291b420384d94256bf3e71d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4999090f291b420384d94256bf3e71d2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f31bcd95671d415995e7695e6e962510.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-641aaf94bdb24ddba2e1f0e013216311.html" target="element"> No need for new / extra equipment and systems </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-89781593c6cb43bc88fda098a712505d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-89781593c6cb43bc88fda098a712505d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-c415ee5c294c4903a24a96fb294fce76.html" target="element"> Support and traffic predictions adapted to needs </a> </td>
																		<td> <a href="../elements/id-9e54de753d374aa7bcc8ac3fa9ad5313.html" target="element"> Working conditions </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-deb6bf98e2784dc6abaa05ecd7d973da.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-deb6bf98e2784dc6abaa05ecd7d973da.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-549cd32ab29249c8baec52b77625dc08.html" target="element"> Reductions in training and license requirements </a> </td>
																		<td> <a href="../elements/id-f31bcd95671d415995e7695e6e962510.html" target="element"> Costs </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>