<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Traffic Orchestrator Drivers</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Traffic Orchestrator Drivers</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-621c6a0892bc440ba4066946455434ec.png" alt="Traffic Orchestrator Drivers" usemap="#id-621c6a0892bc440ba4066946455434ecmap"/>
			   <map name="id-621c6a0892bc440ba4066946455434ecmap">
				  		<area shape="rect" coords="249,406,416,477" href="../elements/id-9f207cfeeec245c1a677d2400d191596.html"  target="element">
				  		<area shape="rect" coords="57,46,190,117" href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html"  target="element">
				  		<area shape="rect" coords="57,154,190,225" href="../elements/id-fd6f2a0d046a42a38f262c5f36ec402e.html"  target="element">
				  		<area shape="rect" coords="213,154,395,225" href="../elements/id-f38a033745c0483ea6416c8d39d6f8b7.html"  target="element">
				  		<area shape="rect" coords="429,154,562,225" href="../elements/id-4e6cbb7d8fa44b9eab3bddc606dde46c.html"  target="element">
				          <area shape="rect" coords="1233,286,1426,392" href="../objects/id-d477b520833b4bdd90b526385a2f274a.html" target="element" >
				  		<area shape="rect" coords="285,610,430,684" href="../elements/id-18dcd3fee3a0493d8e9ca9dbe9e4eef9.html"  target="element">
				  		<area shape="rect" coords="777,759,982,814" href="../elements/id-f909134d9c7d4d8f8414b901d8eaf149.html"  target="element">
				  		<area shape="rect" coords="394,759,562,814" href="../elements/id-d9e641e44cc747b48dd5570938658646.html"  target="element">
				  		<area shape="rect" coords="1005,760,1150,814" href="../elements/id-e729973e92be4f0fa7bddac84d88711e.html"  target="element">
				  		<area shape="rect" coords="595,762,767,817" href="../elements/id-2239377e5a3c400ea12e5ce465f762ee.html"  target="element">
				          <area shape="rect" coords="1233,577,1418,687" href="../objects/id-2741b863f69249a6885a3cfd93039e01.html" target="element" >
				  		<area shape="rect" coords="981,593,1139,671" href="../elements/id-c289bcaeebab41989f7b475406692853.html"  target="element">
				  		<area shape="rect" coords="58,766,202,814" href="../elements/id-a6f0708e479945c38178516c2c0d5935.html"  target="element">
				  		<area shape="rect" coords="93,610,250,684" href="../elements/id-99fe51e99e5d4f2da0121fb42ae444b9.html"  target="element">
				  		<area shape="rect" coords="453,610,609,683" href="../elements/id-40833978dc1148fcb17c7591d5b02155.html"  target="element">
				  		<area shape="rect" coords="1065,375,1185,453" href="../elements/id-f8f7ccf8e3344f23a4faec06d9c39e7a.html"  target="element">
				  		<area shape="rect" coords="754,375,898,449" href="../elements/id-29af37ed90c24088aac6ddde5d659883.html"  target="element">
				  		<area shape="rect" coords="453,375,609,467" href="../elements/id-e463f49aadc846f69fbc9be5cbc14741.html"  target="element">
				  		<area shape="rect" coords="735,593,916,671" href="../elements/id-04a1b15f19cf47dcbdbaaff4d2a44892.html"  target="element">
				  		<area shape="rect" coords="10,490,142,538" href="../elements/id-4adee986118d4827aec05718829fcdd7.html"  target="element">
				  		<area shape="rect" coords="621,375,741,453" href="../elements/id-e78f68ea3ccd4cd8b553fd594010f5ee.html"  target="element">
				  		<area shape="rect" coords="10,375,202,446" href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html"  target="element">
				  		<area shape="rect" coords="873,154,1006,225" href="../elements/id-28a4222b1b804e4eb372797f470b8bb6.html"  target="element">
				  		<area shape="rect" coords="681,154,814,225" href="../elements/id-9df4ba31637b4811ae01e6b03a4d90b1.html"  target="element">
				  		<area shape="rect" coords="526,10,659,81" href="../elements/id-9d1837c606414843be269ca82b237630.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9d1837c606414843be269ca82b237630.html" target="element"> Traffic Orchestrator </a> </td>
											    <td> <a href="../elements/id-9d1837c606414843be269ca82b237630.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9df4ba31637b4811ae01e6b03a4d90b1.html" target="element"> Safe traffic </a> </td>
											    <td> <a href="../elements/id-9df4ba31637b4811ae01e6b03a4d90b1.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28a4222b1b804e4eb372797f470b8bb6.html" target="element"> Efficient traffic </a> </td>
											    <td> <a href="../elements/id-28a4222b1b804e4eb372797f470b8bb6.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> Control traffic flows </a> </td>
											    <td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e78f68ea3ccd4cd8b553fd594010f5ee.html" target="element"> Removal of human errors </a> </td>
											    <td> <a href="../elements/id-e78f68ea3ccd4cd8b553fd594010f5ee.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4adee986118d4827aec05718829fcdd7.html" target="element"> Mixed traffic is a challenge </a> </td>
											    <td> <a href="../elements/id-4adee986118d4827aec05718829fcdd7.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-04a1b15f19cf47dcbdbaaff4d2a44892.html" target="element"> Limited coordination within networks and across modes and networks </a> </td>
											    <td> <a href="../elements/id-04a1b15f19cf47dcbdbaaff4d2a44892.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e463f49aadc846f69fbc9be5cbc14741.html" target="element"> Limit the impact of or prevent incidents and accidents </a> </td>
											    <td> <a href="../elements/id-e463f49aadc846f69fbc9be5cbc14741.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29af37ed90c24088aac6ddde5d659883.html" target="element"> Operation during abnormal situations </a> </td>
											    <td> <a href="../elements/id-29af37ed90c24088aac6ddde5d659883.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f8f7ccf8e3344f23a4faec06d9c39e7a.html" target="element"> Better utilisation of network </a> </td>
											    <td> <a href="../elements/id-f8f7ccf8e3344f23a4faec06d9c39e7a.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-40833978dc1148fcb17c7591d5b02155.html" target="element"> Limited decision support and limited automation in decisons </a> </td>
											    <td> <a href="../elements/id-40833978dc1148fcb17c7591d5b02155.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-99fe51e99e5d4f2da0121fb42ae444b9.html" target="element"> No/limited communications with network users for some modes </a> </td>
											    <td> <a href="../elements/id-99fe51e99e5d4f2da0121fb42ae444b9.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a6f0708e479945c38178516c2c0d5935.html" target="element"> Ongoing standardisation </a> </td>
											    <td> <a href="../elements/id-a6f0708e479945c38178516c2c0d5935.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c289bcaeebab41989f7b475406692853.html" target="element"> Traffic volume varies depending on time/situation </a> </td>
											    <td> <a href="../elements/id-c289bcaeebab41989f7b475406692853.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-2741b863f69249a6885a3cfd93039e01.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2741b863f69249a6885a3cfd93039e01.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-2239377e5a3c400ea12e5ce465f762ee.html" target="element"> New responsibilities and tasks might be needed </a> </td>
											    <td> <a href="../elements/id-2239377e5a3c400ea12e5ce465f762ee.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e729973e92be4f0fa7bddac84d88711e.html" target="element"> Insufficient transport demand management </a> </td>
											    <td> <a href="../elements/id-e729973e92be4f0fa7bddac84d88711e.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d9e641e44cc747b48dd5570938658646.html" target="element"> Limited data sharing with operators and service providers </a> </td>
											    <td> <a href="../elements/id-d9e641e44cc747b48dd5570938658646.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f909134d9c7d4d8f8414b901d8eaf149.html" target="element"> Limited data sharing across roles, governance areas, modes and networks </a> </td>
											    <td> <a href="../elements/id-f909134d9c7d4d8f8414b901d8eaf149.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-18dcd3fee3a0493d8e9ca9dbe9e4eef9.html" target="element"> Standardised and automated control mechanisms not widely deployed </a> </td>
											    <td> <a href="../elements/id-18dcd3fee3a0493d8e9ca9dbe9e4eef9.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-d477b520833b4bdd90b526385a2f274a.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-d477b520833b4bdd90b526385a2f274a.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-4e6cbb7d8fa44b9eab3bddc606dde46c.html" target="element"> Green transport </a> </td>
											    <td> <a href="../elements/id-4e6cbb7d8fa44b9eab3bddc606dde46c.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f38a033745c0483ea6416c8d39d6f8b7.html" target="element"> Good society (justice, life quality, inclusion, city/universal design) </a> </td>
											    <td> <a href="../elements/id-f38a033745c0483ea6416c8d39d6f8b7.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fd6f2a0d046a42a38f262c5f36ec402e.html" target="element"> Prioritise and fulfill transport demands </a> </td>
											    <td> <a href="../elements/id-fd6f2a0d046a42a38f262c5f36ec402e.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html" target="element"> Sustainable transport </a> </td>
											    <td> <a href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9f207cfeeec245c1a677d2400d191596.html" target="element"> Limited support for distribution of traffic across modes and networks </a> </td>
											    <td> <a href="../elements/id-9f207cfeeec245c1a677d2400d191596.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-aedc3e07c34e44728e2e63db46a8f035.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aedc3e07c34e44728e2e63db46a8f035.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-9df4ba31637b4811ae01e6b03a4d90b1.html" target="element"> Safe traffic </a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> Control traffic flows </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1c9ecdb2bf4b4b5f903387917cf3aa2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1c9ecdb2bf4b4b5f903387917cf3aa2c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-9df4ba31637b4811ae01e6b03a4d90b1.html" target="element"> Safe traffic </a> </td>
																		<td> <a href="../elements/id-e463f49aadc846f69fbc9be5cbc14741.html" target="element"> Limit the impact of or prevent incidents and accidents </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bf649f73d48341dbae3a99957c667711.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf649f73d48341dbae3a99957c667711.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-28a4222b1b804e4eb372797f470b8bb6.html" target="element"> Efficient traffic </a> </td>
																		<td> <a href="../elements/id-f8f7ccf8e3344f23a4faec06d9c39e7a.html" target="element"> Better utilisation of network </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-45b92a806eec412cae4800776d0c0141.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-45b92a806eec412cae4800776d0c0141.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-28a4222b1b804e4eb372797f470b8bb6.html" target="element"> Efficient traffic </a> </td>
																		<td> <a href="../elements/id-29af37ed90c24088aac6ddde5d659883.html" target="element"> Operation during abnormal situations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dab8f96d39394f0f88a27081b5e862cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dab8f96d39394f0f88a27081b5e862cd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-28a4222b1b804e4eb372797f470b8bb6.html" target="element"> Efficient traffic </a> </td>
																		<td> <a href="../elements/id-e78f68ea3ccd4cd8b553fd594010f5ee.html" target="element"> Removal of human errors </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-21618826ef974c19ba599159aab6d344.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-21618826ef974c19ba599159aab6d344.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-28a4222b1b804e4eb372797f470b8bb6.html" target="element"> Efficient traffic </a> </td>
																		<td> <a href="../elements/id-e463f49aadc846f69fbc9be5cbc14741.html" target="element"> Limit the impact of or prevent incidents and accidents </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-688f786dd2e84a0f961b2a788cdd2645.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-688f786dd2e84a0f961b2a788cdd2645.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> Control traffic flows </a> </td>
																		<td> <a href="../elements/id-28a4222b1b804e4eb372797f470b8bb6.html" target="element"> Efficient traffic </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6a88b81f09394ac186f643805421801a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a88b81f09394ac186f643805421801a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> Control traffic flows </a> </td>
																		<td> <a href="../elements/id-99fe51e99e5d4f2da0121fb42ae444b9.html" target="element"> No/limited communications with network users for some modes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b4427fa639c84c4d95100189c20cbd8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4427fa639c84c4d95100189c20cbd8b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> Control traffic flows </a> </td>
																		<td> <a href="../elements/id-40833978dc1148fcb17c7591d5b02155.html" target="element"> Limited decision support and limited automation in decisons </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b8900bd0ff484bc88e44b397d9d9d6a0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8900bd0ff484bc88e44b397d9d9d6a0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> Control traffic flows </a> </td>
																		<td> <a href="../elements/id-18dcd3fee3a0493d8e9ca9dbe9e4eef9.html" target="element"> Standardised and automated control mechanisms not widely deployed </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b4da6e4ca2a44e3091bd460282b0ac09.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4da6e4ca2a44e3091bd460282b0ac09.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> Control traffic flows </a> </td>
																		<td> <a href="../elements/id-c289bcaeebab41989f7b475406692853.html" target="element"> Traffic volume varies depending on time/situation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-166d4ddc971f4f79af0238e58794f348.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-166d4ddc971f4f79af0238e58794f348.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> Control traffic flows </a> </td>
																		<td> <a href="../elements/id-9f207cfeeec245c1a677d2400d191596.html" target="element"> Limited support for distribution of traffic across modes and networks </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-348d4c8aa38048c1ab2fba82eb18fe9e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-348d4c8aa38048c1ab2fba82eb18fe9e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-e78f68ea3ccd4cd8b553fd594010f5ee.html" target="element"> Removal of human errors </a> </td>
																		<td> <a href="../elements/id-9df4ba31637b4811ae01e6b03a4d90b1.html" target="element"> Safe traffic </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-29871007feda41a68ea730de375f1ff3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-29871007feda41a68ea730de375f1ff3.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-e78f68ea3ccd4cd8b553fd594010f5ee.html" target="element"> Removal of human errors </a> </td>
																		<td> <a href="../elements/id-40833978dc1148fcb17c7591d5b02155.html" target="element"> Limited decision support and limited automation in decisons </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ac6d0bd0c7bc4492b1eaf604b9cd9121.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac6d0bd0c7bc4492b1eaf604b9cd9121.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4adee986118d4827aec05718829fcdd7.html" target="element"> Mixed traffic is a challenge </a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> Control traffic flows </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-aef20e9cf2a7420989bba266c99a5962.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aef20e9cf2a7420989bba266c99a5962.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-e463f49aadc846f69fbc9be5cbc14741.html" target="element"> Limit the impact of or prevent incidents and accidents </a> </td>
																		<td> <a href="../elements/id-40833978dc1148fcb17c7591d5b02155.html" target="element"> Limited decision support and limited automation in decisons </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3e8e059cf8c64cbcbd1cace308eab5dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e8e059cf8c64cbcbd1cace308eab5dc.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-e463f49aadc846f69fbc9be5cbc14741.html" target="element"> Limit the impact of or prevent incidents and accidents </a> </td>
																		<td> <a href="../elements/id-99fe51e99e5d4f2da0121fb42ae444b9.html" target="element"> No/limited communications with network users for some modes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7c4375f6ff024008b309118aa5a10c54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7c4375f6ff024008b309118aa5a10c54.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-e463f49aadc846f69fbc9be5cbc14741.html" target="element"> Limit the impact of or prevent incidents and accidents </a> </td>
																		<td> <a href="../elements/id-18dcd3fee3a0493d8e9ca9dbe9e4eef9.html" target="element"> Standardised and automated control mechanisms not widely deployed </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-07b4c0eecbc64eae9942e9177cf8d6f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-07b4c0eecbc64eae9942e9177cf8d6f7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-29af37ed90c24088aac6ddde5d659883.html" target="element"> Operation during abnormal situations </a> </td>
																		<td> <a href="../elements/id-04a1b15f19cf47dcbdbaaff4d2a44892.html" target="element"> Limited coordination within networks and across modes and networks </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-195883cd93bb4901849672ae136cdeb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-195883cd93bb4901849672ae136cdeb4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-29af37ed90c24088aac6ddde5d659883.html" target="element"> Operation during abnormal situations </a> </td>
																		<td> <a href="../elements/id-40833978dc1148fcb17c7591d5b02155.html" target="element"> Limited decision support and limited automation in decisons </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fe518faa965d44eda37a74619f030d2c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fe518faa965d44eda37a74619f030d2c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-29af37ed90c24088aac6ddde5d659883.html" target="element"> Operation during abnormal situations </a> </td>
																		<td> <a href="../elements/id-9f207cfeeec245c1a677d2400d191596.html" target="element"> Limited support for distribution of traffic across modes and networks </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1525a2b24bcf49a29fff55ac59713022.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1525a2b24bcf49a29fff55ac59713022.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f8f7ccf8e3344f23a4faec06d9c39e7a.html" target="element"> Better utilisation of network </a> </td>
																		<td> <a href="../elements/id-c289bcaeebab41989f7b475406692853.html" target="element"> Traffic volume varies depending on time/situation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7e3cea5e2b1a43b4a7dfc498d10ab45b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e3cea5e2b1a43b4a7dfc498d10ab45b.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-40833978dc1148fcb17c7591d5b02155.html" target="element"> Limited decision support and limited automation in decisons </a> </td>
																		<td> <a href="../elements/id-04a1b15f19cf47dcbdbaaff4d2a44892.html" target="element"> Limited coordination within networks and across modes and networks </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ad23754d7c014180a44ad8922ec5e23f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ad23754d7c014180a44ad8922ec5e23f.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-a6f0708e479945c38178516c2c0d5935.html" target="element"> Ongoing standardisation </a> </td>
																		<td> <a href="../elements/id-99fe51e99e5d4f2da0121fb42ae444b9.html" target="element"> No/limited communications with network users for some modes </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d6a7e5d2b49a408c99375d0b9c253fca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6a7e5d2b49a408c99375d0b9c253fca.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-a6f0708e479945c38178516c2c0d5935.html" target="element"> Ongoing standardisation </a> </td>
																		<td> <a href="../elements/id-18dcd3fee3a0493d8e9ca9dbe9e4eef9.html" target="element"> Standardised and automated control mechanisms not widely deployed </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-b4c9064b9add4faaa2d6883b6f16a321.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b4c9064b9add4faaa2d6883b6f16a321.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-2239377e5a3c400ea12e5ce465f762ee.html" target="element"> New responsibilities and tasks might be needed </a> </td>
																		<td> <a href="../elements/id-04a1b15f19cf47dcbdbaaff4d2a44892.html" target="element"> Limited coordination within networks and across modes and networks </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-31de58b60bc24d3ba9024a2d69cc88f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31de58b60bc24d3ba9024a2d69cc88f8.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-2239377e5a3c400ea12e5ce465f762ee.html" target="element"> New responsibilities and tasks might be needed </a> </td>
																		<td> <a href="../elements/id-40833978dc1148fcb17c7591d5b02155.html" target="element"> Limited decision support and limited automation in decisons </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-bf80756869e047c6a1189856aec21b8f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf80756869e047c6a1189856aec21b8f.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-e729973e92be4f0fa7bddac84d88711e.html" target="element"> Insufficient transport demand management </a> </td>
																		<td> <a href="../elements/id-c289bcaeebab41989f7b475406692853.html" target="element"> Traffic volume varies depending on time/situation </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a841dedf97a64876a045841d0f0ea994.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a841dedf97a64876a045841d0f0ea994.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-d9e641e44cc747b48dd5570938658646.html" target="element"> Limited data sharing with operators and service providers </a> </td>
																		<td> <a href="../elements/id-40833978dc1148fcb17c7591d5b02155.html" target="element"> Limited decision support and limited automation in decisons </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-1042d9429eff492eb56ed901a73f3585.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1042d9429eff492eb56ed901a73f3585.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-f909134d9c7d4d8f8414b901d8eaf149.html" target="element"> Limited data sharing across roles, governance areas, modes and networks </a> </td>
																		<td> <a href="../elements/id-04a1b15f19cf47dcbdbaaff4d2a44892.html" target="element"> Limited coordination within networks and across modes and networks </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-ee08dd1f0e7f4f76bfe92c3513f4b87f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee08dd1f0e7f4f76bfe92c3513f4b87f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4e6cbb7d8fa44b9eab3bddc606dde46c.html" target="element"> Green transport </a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> Control traffic flows </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-44f87a38b5164b9da0a4095d2abb28aa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-44f87a38b5164b9da0a4095d2abb28aa.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f38a033745c0483ea6416c8d39d6f8b7.html" target="element"> Good society (justice, life quality, inclusion, city/universal design) </a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> Control traffic flows </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c6ae8ac5d6a4623aa6e83f77dafc4ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c6ae8ac5d6a4623aa6e83f77dafc4ea.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f38a033745c0483ea6416c8d39d6f8b7.html" target="element"> Good society (justice, life quality, inclusion, city/universal design) </a> </td>
																		<td> <a href="../elements/id-e463f49aadc846f69fbc9be5cbc14741.html" target="element"> Limit the impact of or prevent incidents and accidents </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-47870a981dad463090b232afc14b3cbf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47870a981dad463090b232afc14b3cbf.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-fd6f2a0d046a42a38f262c5f36ec402e.html" target="element"> Prioritise and fulfill transport demands </a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> Control traffic flows </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-88a7e53d56314a9fbe2e07f809b9678b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88a7e53d56314a9fbe2e07f809b9678b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html" target="element"> Sustainable transport </a> </td>
																		<td> <a href="../elements/id-9df4ba31637b4811ae01e6b03a4d90b1.html" target="element"> Safe traffic </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9edeb30276fc4a16ba92a6cc8dfb4a7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9edeb30276fc4a16ba92a6cc8dfb4a7d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html" target="element"> Sustainable transport </a> </td>
																		<td> <a href="../elements/id-4e6cbb7d8fa44b9eab3bddc606dde46c.html" target="element"> Green transport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9da80921446d4729afc7dbe53b45f594.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9da80921446d4729afc7dbe53b45f594.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html" target="element"> Sustainable transport </a> </td>
																		<td> <a href="../elements/id-f38a033745c0483ea6416c8d39d6f8b7.html" target="element"> Good society (justice, life quality, inclusion, city/universal design) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-54073d86487c445a9f6b72e7df55744e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54073d86487c445a9f6b72e7df55744e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html" target="element"> Sustainable transport </a> </td>
																		<td> <a href="../elements/id-fd6f2a0d046a42a38f262c5f36ec402e.html" target="element"> Prioritise and fulfill transport demands </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-70672899a4854b08853e96a4a0903bb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-70672899a4854b08853e96a4a0903bb2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html" target="element"> Sustainable transport </a> </td>
																		<td> <a href="../elements/id-28a4222b1b804e4eb372797f470b8bb6.html" target="element"> Efficient traffic </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c430f82f293455fab64091015ba5036.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c430f82f293455fab64091015ba5036.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html" target="element"> Sustainable transport </a> </td>
																		<td> <a href="../elements/id-9d1837c606414843be269ca82b237630.html" target="element"> Traffic Orchestrator </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>