<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Feet Operator Drivers</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Feet Operator Drivers</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-stakeholder"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_stakeholder" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-6a60d45fe26747ec8a0c5fd8606c3f7c.png" alt="Feet Operator Drivers" usemap="#id-6a60d45fe26747ec8a0c5fd8606c3f7cmap"/>
			   <map name="id-6a60d45fe26747ec8a0c5fd8606c3f7cmap">
				  		<area shape="rect" coords="466,576,599,647" href="../elements/id-f93ba84bc1bc428d808aefdcd1a25816.html"  target="element">
				  		<area shape="rect" coords="996,573,1116,650" href="../elements/id-fa32d7d04ccc40f5806e977bf8a6531e.html"  target="element">
				  		<area shape="rect" coords="872,529,992,593" href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html"  target="element">
				  		<area shape="rect" coords="753,584,873,661" href="../elements/id-61d652452de1424097caf05ace74e4f8.html"  target="element">
				  		<area shape="rect" coords="590,414,722,514" href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html"  target="element">
				  		<area shape="rect" coords="682,157,802,212" href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html"  target="element">
				  		<area shape="rect" coords="1115,493,1255,585" href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html"  target="element">
				  		<area shape="rect" coords="10,414,130,514" href="../elements/id-b5f61356400140a4ac979e914480c6f2.html"  target="element">
				  		<area shape="rect" coords="10,274,167,358" href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html"  target="element">
				  		<area shape="rect" coords="617,274,737,358" href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html"  target="element">
				  		<area shape="rect" coords="418,414,586,514" href="../elements/id-0011104ef4084dd1939f609a90fbb6cd.html"  target="element">
				  		<area shape="rect" coords="485,274,613,358" href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html"  target="element">
				  		<area shape="rect" coords="551,157,671,212" href="../elements/id-74de9ef00a67422695206174abd3edcd.html"  target="element">
				  		<area shape="rect" coords="418,10,538,65" href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html"  target="element">
				  		<area shape="rect" coords="356,274,482,358" href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html"  target="element">
				  		<area shape="rect" coords="804,157,948,212" href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html"  target="element">
				  		<area shape="rect" coords="622,584,754,639" href="../elements/id-9785ad3e7e9642c1befbc1de5d927e80.html"  target="element">
				  		<area shape="rect" coords="334,584,454,683" href="../elements/id-2b1a7bb6aa8c4cbebf72c1cd615da315.html"  target="element">
				  		<area shape="rect" coords="729,414,849,491" href="../elements/id-9f34c4987c8d411d8157b041db5b0bc8.html"  target="element">
				          <area shape="rect" coords="820,10,1005,89" href="../objects/id-a3822fe0629e4f9998e60f95d4dd4e1f.html" target="element" >
				  		<area shape="rect" coords="853,414,973,491" href="../elements/id-5628bfb9fc794ed597225d76a7203190.html"  target="element">
				  		<area shape="rect" coords="169,682,297,782" href="../elements/id-e893d5134a5d40fb83fc1aa835b65b3d.html"  target="element">
				  		<area shape="rect" coords="326,157,506,212" href="../elements/id-24b376ae74e34fc788d5a894385e477e.html"  target="element">
				          <area shape="rect" coords="46,22,239,103" href="../objects/id-78ec883110bf42e282895625e8145fef.html" target="element" >
				  		<area shape="rect" coords="976,414,1116,491" href="../elements/id-db2b583ca2c84d94a748d558367ce3c8.html"  target="element">
				  		<area shape="rect" coords="129,577,297,647" href="../elements/id-0a8391c4d3974bf7b343124b46b02b48.html"  target="element">
				  		<area shape="rect" coords="130,414,286,515" href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html"  target="element">
				  		<area shape="rect" coords="95,157,275,212" href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html"  target="element">
				  		<area shape="rect" coords="960,157,1104,212" href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html"  target="element">
				  		<area shape="rect" coords="853,274,973,358" href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html"  target="element">
				  		<area shape="rect" coords="735,274,855,358" href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
											    <td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
											    <td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
											    <td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
											    <td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management on vehicle/vessel, cargo, load factor, type of transport, ... </a> </td>
											    <td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0a8391c4d3974bf7b343124b46b02b48.html" target="element"> Customers benefit from acceptance of data sharing with traffic orchestrator </a> </td>
											    <td> <a href="../elements/id-0a8391c4d3974bf7b343124b46b02b48.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-db2b583ca2c84d94a748d558367ce3c8.html" target="element"> Fleet management is not adapted to CAVs </a> </td>
											    <td> <a href="../elements/id-db2b583ca2c84d94a748d558367ce3c8.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-78ec883110bf42e282895625e8145fef.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-78ec883110bf42e282895625e8145fef.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
											    <td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e893d5134a5d40fb83fc1aa835b65b3d.html" target="element"> CAVs may be less resilient than manually control vehicle/vessels </a> </td>
											    <td> <a href="../elements/id-e893d5134a5d40fb83fc1aa835b65b3d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5628bfb9fc794ed597225d76a7203190.html" target="element"> Demanding transition to use of CAVs </a> </td>
											    <td> <a href="../elements/id-5628bfb9fc794ed597225d76a7203190.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-a3822fe0629e4f9998e60f95d4dd4e1f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a3822fe0629e4f9998e60f95d4dd4e1f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-9f34c4987c8d411d8157b041db5b0bc8.html" target="element"> Must adapt to transport policy </a> </td>
											    <td> <a href="../elements/id-9f34c4987c8d411d8157b041db5b0bc8.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2b1a7bb6aa8c4cbebf72c1cd615da315.html" target="element"> Ongoing work makes CAVs more mature </a> </td>
											    <td> <a href="../elements/id-2b1a7bb6aa8c4cbebf72c1cd615da315.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9785ad3e7e9642c1befbc1de5d927e80.html" target="element"> OEMs adapt vehicles/vessels to the policy </a> </td>
											    <td> <a href="../elements/id-9785ad3e7e9642c1befbc1de5d927e80.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element"> Public image </a> </td>
											    <td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
											    <td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
											    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
											    <td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element"> Limited utilisation of capacity </a> </td>
											    <td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0011104ef4084dd1939f609a90fbb6cd.html" target="element"> Network problems do not induce transhipments between modes and networks </a> </td>
											    <td> <a href="../elements/id-0011104ef4084dd1939f609a90fbb6cd.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element"> Flexibility in case of disruptions is not rewarded </a> </td>
											    <td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Low/late/hurried adaption of operations to current and upcoming traffic situations </a> </td>
											    <td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5f61356400140a4ac979e914480c6f2.html" target="element"> Varying access to competence, skills and tools </a> </td>
											    <td> <a href="../elements/id-b5f61356400140a4ac979e914480c6f2.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html" target="element"> Personnel costs are a dominating factor </a> </td>
											    <td> <a href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
											    <td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted to desired behaviour </a> </td>
											    <td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-61d652452de1424097caf05ace74e4f8.html" target="element"> Some reward mechanisms for EVs </a> </td>
											    <td> <a href="../elements/id-61d652452de1424097caf05ace74e4f8.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html" target="element"> Low load factor </a> </td>
											    <td> <a href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa32d7d04ccc40f5806e977bf8a6531e.html" target="element"> Resting time reduces productivity of vehicles </a> </td>
											    <td> <a href="../elements/id-fa32d7d04ccc40f5806e977bf8a6531e.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f93ba84bc1bc428d808aefdcd1a25816.html" target="element"> Vulnerability wrt skills and competence </a> </td>
											    <td> <a href="../elements/id-f93ba84bc1bc428d808aefdcd1a25816.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-1d174ece77b14c6681c3753b64103a72.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d174ece77b14c6681c3753b64103a72.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																		<td> <a href="../elements/id-9f34c4987c8d411d8157b041db5b0bc8.html" target="element"> Must adapt to transport policy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-15a07660d6d64ea5adac5104778453c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15a07660d6d64ea5adac5104778453c5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																		<td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted to desired behaviour </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-69ffb70abb62463085402570e36b7e05.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-69ffb70abb62463085402570e36b7e05.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																		<td> <a href="../elements/id-61d652452de1424097caf05ace74e4f8.html" target="element"> Some reward mechanisms for EVs </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8e18c61c6fc342ef9502e1eef1aa9c3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e18c61c6fc342ef9502e1eef1aa9c3b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																		<td> <a href="../elements/id-5628bfb9fc794ed597225d76a7203190.html" target="element"> Demanding transition to use of CAVs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c5bd413bef234746bed5033adcb70f67.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5bd413bef234746bed5033adcb70f67.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																		<td> <a href="../elements/id-db2b583ca2c84d94a748d558367ce3c8.html" target="element"> Fleet management is not adapted to CAVs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e52a614d818148d99bb652f54175957a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e52a614d818148d99bb652f54175957a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																		<td> <a href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html" target="element"> Low load factor </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ff224bc1976240d996ab0a569c36e794.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff224bc1976240d996ab0a569c36e794.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-edbdb82a210f40c299b573d46337947a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-edbdb82a210f40c299b573d46337947a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ddbd0eeb3abf4dc595f51415c61a215d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ddbd0eeb3abf4dc595f51415c61a215d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Low/late/hurried adaption of operations to current and upcoming traffic situations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b36e90074cae4bb7893402669dd87342.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b36e90074cae4bb7893402669dd87342.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management on vehicle/vessel, cargo, load factor, type of transport, ... </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cfda68c84edd4a929fde0e6efcfd9899.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfda68c84edd4a929fde0e6efcfd9899.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management on vehicle/vessel, cargo, load factor, type of transport, ... </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Low/late/hurried adaption of operations to current and upcoming traffic situations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-be15369a628944a19e552b8c1aac46ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-be15369a628944a19e552b8c1aac46ca.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-0a8391c4d3974bf7b343124b46b02b48.html" target="element"> Customers benefit from acceptance of data sharing with traffic orchestrator </a> </td>
																		<td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management on vehicle/vessel, cargo, load factor, type of transport, ... </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-feb87ec3eea74eaaa647b0783615f6fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-feb87ec3eea74eaaa647b0783615f6fb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6952d3969d944beb8db10bdb77ec7e64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6952d3969d944beb8db10bdb77ec7e64.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b8df86386acd4b8a81f74a55214b3011.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8df86386acd4b8a81f74a55214b3011.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22ac96cbff8d4c74b82718213b584eba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22ac96cbff8d4c74b82718213b584eba.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Low/late/hurried adaption of operations to current and upcoming traffic situations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-71b9f6801765476e91a8b6526816ccf7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-71b9f6801765476e91a8b6526816ccf7.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-e893d5134a5d40fb83fc1aa835b65b3d.html" target="element"> CAVs may be less resilient than manually control vehicle/vessels </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-83426fb5d0354ead85f33016897f4528.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-83426fb5d0354ead85f33016897f4528.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-2b1a7bb6aa8c4cbebf72c1cd615da315.html" target="element"> Ongoing work makes CAVs more mature </a> </td>
																		<td> <a href="../elements/id-5628bfb9fc794ed597225d76a7203190.html" target="element"> Demanding transition to use of CAVs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-65c2ff78064248e1a931357eb5f06dc0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65c2ff78064248e1a931357eb5f06dc0.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-2b1a7bb6aa8c4cbebf72c1cd615da315.html" target="element"> Ongoing work makes CAVs more mature </a> </td>
																		<td> <a href="../elements/id-e893d5134a5d40fb83fc1aa835b65b3d.html" target="element"> CAVs may be less resilient than manually control vehicle/vessels </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-66cf4d988abb4e989f58bd31584c3302.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-66cf4d988abb4e989f58bd31584c3302.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-9785ad3e7e9642c1befbc1de5d927e80.html" target="element"> OEMs adapt vehicles/vessels to the policy </a> </td>
																		<td> <a href="../elements/id-9f34c4987c8d411d8157b041db5b0bc8.html" target="element"> Must adapt to transport policy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-982d4b78936c4176af789b45d45d8603.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-982d4b78936c4176af789b45d45d8603.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element"> Public image </a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-41864f64aece470389081fcfc3480ff6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41864f64aece470389081fcfc3480ff6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-42ed6b1f85604becb4d1a1eaad12416b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42ed6b1f85604becb4d1a1eaad12416b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7eb050eb4704ddba52a4925dd1d702d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7eb050eb4704ddba52a4925dd1d702d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element"> Public image </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d0f0887bfb444beb334452a0bad847f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d0f0887bfb444beb334452a0bad847f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf2b85565e954082b70736731417ee3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf2b85565e954082b70736731417ee3b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13dbdf25fc474b84918ac08c934ec637.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13dbdf25fc474b84918ac08c934ec637.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0a96a67a85524150ab5755c82acb323c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a96a67a85524150ab5755c82acb323c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8477528226fe496e9732b3e04f10e029.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8477528226fe496e9732b3e04f10e029.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element"> Limited utilisation of capacity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bf7dc97e9eda47b68375f46c244effec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf7dc97e9eda47b68375f46c244effec.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element"> Flexibility in case of disruptions is not rewarded </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-31987c85763442fe8324131f801a7088.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-31987c85763442fe8324131f801a7088.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-0011104ef4084dd1939f609a90fbb6cd.html" target="element"> Network problems do not induce transhipments between modes and networks </a> </td>
																		<td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element"> Limited utilisation of capacity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-57958b64f23b46a18a8042eb860c9399.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-57958b64f23b46a18a8042eb860c9399.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-0011104ef4084dd1939f609a90fbb6cd.html" target="element"> Network problems do not induce transhipments between modes and networks </a> </td>
																		<td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element"> Flexibility in case of disruptions is not rewarded </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0111f1edfcda42ab9c615ee405d4dd90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0111f1edfcda42ab9c615ee405d4dd90.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-b5f61356400140a4ac979e914480c6f2.html" target="element"> Varying access to competence, skills and tools </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Low/late/hurried adaption of operations to current and upcoming traffic situations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9b7d3f65e7e3414d81641ec89c17981f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b7d3f65e7e3414d81641ec89c17981f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-fa0224bbe3064e56b1dbc3ef91aadc02.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fa0224bbe3064e56b1dbc3ef91aadc02.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-f93ba84bc1bc428d808aefdcd1a25816.html" target="element"> Vulnerability wrt skills and competence </a> </td>
																		<td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element"> Limited utilisation of capacity </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>