<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Feet Operator Drivers WS</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Feet Operator Drivers WS</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-stakeholder"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_stakeholder" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-69e8607f6abd41219d414458403c5a79.png" alt="Feet Operator Drivers WS" usemap="#id-69e8607f6abd41219d414458403c5a79map"/>
			   <map name="id-69e8607f6abd41219d414458403c5a79map">
				  		<area shape="rect" coords="901,387,1034,458" href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html"  target="element">
				  		<area shape="rect" coords="844,527,964,604" href="../elements/id-fa32d7d04ccc40f5806e977bf8a6531e.html"  target="element">
				  		<area shape="rect" coords="750,387,870,451" href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html"  target="element">
				  		<area shape="rect" coords="567,527,699,627" href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html"  target="element">
				  		<area shape="rect" coords="580,170,713,225" href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html"  target="element">
				  		<area shape="rect" coords="10,527,130,627" href="../elements/id-b5f61356400140a4ac979e914480c6f2.html"  target="element">
				  		<area shape="rect" coords="10,387,167,471" href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html"  target="element">
				  		<area shape="rect" coords="563,387,683,471" href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html"  target="element">
				  		<area shape="rect" coords="404,387,532,471" href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html"  target="element">
				  		<area shape="rect" coords="448,170,568,225" href="../elements/id-74de9ef00a67422695206174abd3edcd.html"  target="element">
				  		<area shape="rect" coords="340,10,460,65" href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html"  target="element">
				  		<area shape="rect" coords="268,387,394,471" href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html"  target="element">
				  		<area shape="rect" coords="726,170,870,225" href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html"  target="element">
				          <area shape="rect" coords="742,10,927,111" href="../objects/id-ad94a0daad47446cb10f7ea29c0af6ea.html" target="element" >
				  		<area shape="rect" coords="228,170,408,225" href="../elements/id-24b376ae74e34fc788d5a894385e477e.html"  target="element">
				          <area shape="rect" coords="17,10,210,123" href="../objects/id-060b34931a8c49f4b5b06d5e60710d8b.html" target="element" >
				  		<area shape="rect" coords="219,527,416,628" href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html"  target="element">
				  		<area shape="rect" coords="17,170,197,225" href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html"  target="element">
				  		<area shape="rect" coords="896,170,1040,225" href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html"  target="element">
				  		<area shape="rect" coords="796,287,916,360" href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html"  target="element">
				  		<area shape="rect" coords="652,287,772,360" href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
											    <td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
											    <td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
											    <td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
											    <td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management on vehicle/vessel, cargo, load factor, type of transport, ... </a> </td>
											    <td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-060b34931a8c49f4b5b06d5e60710d8b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-060b34931a8c49f4b5b06d5e60710d8b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
											    <td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-ad94a0daad47446cb10f7ea29c0af6ea.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ad94a0daad47446cb10f7ea29c0af6ea.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element"> Public image </a> </td>
											    <td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
											    <td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
											    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
											    <td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element"> Limited utilisation of capacity </a> </td>
											    <td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element"> Flexibility in case of disruptions is not rewarded </a> </td>
											    <td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Low/late/hurried adaption of operations to current and upcoming traffic situations </a> </td>
											    <td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5f61356400140a4ac979e914480c6f2.html" target="element"> Varying access to competence, skills and tools </a> </td>
											    <td> <a href="../elements/id-b5f61356400140a4ac979e914480c6f2.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
											    <td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted to desired behaviour </a> </td>
											    <td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html" target="element"> Low load factor </a> </td>
											    <td> <a href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa32d7d04ccc40f5806e977bf8a6531e.html" target="element"> Resting time reduces productivity of vehicles </a> </td>
											    <td> <a href="../elements/id-fa32d7d04ccc40f5806e977bf8a6531e.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html" target="element"> Personnel costs are a dominating factor </a> </td>
											    <td> <a href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-15a07660d6d64ea5adac5104778453c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15a07660d6d64ea5adac5104778453c5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																		<td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted to desired behaviour </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e52a614d818148d99bb652f54175957a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e52a614d818148d99bb652f54175957a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																		<td> <a href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html" target="element"> Low load factor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b7617e2173224cd19899a6f1e12b44a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7617e2173224cd19899a6f1e12b44a2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																		<td> <a href="../elements/id-fa32d7d04ccc40f5806e977bf8a6531e.html" target="element"> Resting time reduces productivity of vehicles </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ff224bc1976240d996ab0a569c36e794.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff224bc1976240d996ab0a569c36e794.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6153ad9e5df647e092b81aa0708d61bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6153ad9e5df647e092b81aa0708d61bd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html" target="element"> Personnel costs are a dominating factor </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-edbdb82a210f40c299b573d46337947a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-edbdb82a210f40c299b573d46337947a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ddbd0eeb3abf4dc595f51415c61a215d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ddbd0eeb3abf4dc595f51415c61a215d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Low/late/hurried adaption of operations to current and upcoming traffic situations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b36e90074cae4bb7893402669dd87342.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b36e90074cae4bb7893402669dd87342.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management on vehicle/vessel, cargo, load factor, type of transport, ... </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cfda68c84edd4a929fde0e6efcfd9899.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfda68c84edd4a929fde0e6efcfd9899.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management on vehicle/vessel, cargo, load factor, type of transport, ... </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Low/late/hurried adaption of operations to current and upcoming traffic situations </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-feb87ec3eea74eaaa647b0783615f6fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-feb87ec3eea74eaaa647b0783615f6fb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6952d3969d944beb8db10bdb77ec7e64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6952d3969d944beb8db10bdb77ec7e64.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b8df86386acd4b8a81f74a55214b3011.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8df86386acd4b8a81f74a55214b3011.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22ac96cbff8d4c74b82718213b584eba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22ac96cbff8d4c74b82718213b584eba.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Low/late/hurried adaption of operations to current and upcoming traffic situations </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-982d4b78936c4176af789b45d45d8603.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-982d4b78936c4176af789b45d45d8603.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element"> Public image </a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-41864f64aece470389081fcfc3480ff6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41864f64aece470389081fcfc3480ff6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-42ed6b1f85604becb4d1a1eaad12416b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42ed6b1f85604becb4d1a1eaad12416b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a7eb050eb4704ddba52a4925dd1d702d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7eb050eb4704ddba52a4925dd1d702d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element"> Public image </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d0f0887bfb444beb334452a0bad847f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d0f0887bfb444beb334452a0bad847f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf2b85565e954082b70736731417ee3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf2b85565e954082b70736731417ee3b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13dbdf25fc474b84918ac08c934ec637.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13dbdf25fc474b84918ac08c934ec637.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0a96a67a85524150ab5755c82acb323c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a96a67a85524150ab5755c82acb323c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8477528226fe496e9732b3e04f10e029.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8477528226fe496e9732b3e04f10e029.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element"> Limited utilisation of capacity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bf7dc97e9eda47b68375f46c244effec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf7dc97e9eda47b68375f46c244effec.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element"> Flexibility in case of disruptions is not rewarded </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0111f1edfcda42ab9c615ee405d4dd90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0111f1edfcda42ab9c615ee405d4dd90.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-b5f61356400140a4ac979e914480c6f2.html" target="element"> Varying access to competence, skills and tools </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Low/late/hurried adaption of operations to current and upcoming traffic situations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9b7d3f65e7e3414d81641ec89c17981f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9b7d3f65e7e3414d81641ec89c17981f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a12886ebe3884ecd9f1f3249f2c5768a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a12886ebe3884ecd9f1f3249f2c5768a.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted to desired behaviour </a> </td>
																		<td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element"> Limited utilisation of capacity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-10c5c4fbdc4244fba01cd469d6a08c06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10c5c4fbdc4244fba01cd469d6a08c06.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted to desired behaviour </a> </td>
																		<td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element"> Flexibility in case of disruptions is not rewarded </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>