<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Informing process</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Informing process</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-aaa02449a7cd4411aab54ae93f97a6b3.png" alt="Informing process" usemap="#id-aaa02449a7cd4411aab54ae93f97a6b3map"/>
			   <map name="id-aaa02449a7cd4411aab54ae93f97a6b3map">
				  				<area shape="rect" coords="490,490,659,545" href="../elements/id-a01ccf8dc27e4fccb3f18ea3a5acdc81.html"  target="element">

				  		<area shape="rect" coords="82,454,791,563" href="../elements/id-4ddf8882a9fa4ddd84ce23fd27ba3423.html"  target="element">
				  				<area shape="rect" coords="634,154,754,209" href="../elements/id-379ac316177840e0b85623355f195138.html"  target="element">
				  				<area shape="rect" coords="262,166,382,221" href="../elements/id-9952d34b64b84116adb76f01c4983894.html"  target="element">

				  		<area shape="rect" coords="82,130,791,251" href="../elements/id-7784423ebae54f70b3d3bd01719fee0f.html"  target="element">
				  		<area shape="rect" coords="82,10,791,131" href="../elements/id-5e856601d1af461a9fb62d4e78a47c1f.html"  target="element">
				  				<area shape="rect" coords="502,376,664,431" href="../elements/id-944e5f90dc694d2ba1d50dac474b857b.html"  target="element">
				  				<area shape="rect" coords="178,322,298,377" href="../elements/id-b8d1507ea2d64a89babb016c0f4d7967.html"  target="element">
				  				<area shape="rect" coords="346,322,466,377" href="../elements/id-36ebaf8d6d9744efa1c2f4d98cb45aa4.html"  target="element">
				  				<area shape="rect" coords="634,298,754,353" href="../elements/id-52df6015d0684eb1950db4481797fc3e.html"  target="element">

				  		<area shape="rect" coords="82,250,791,455" href="../elements/id-c8418057bdb547d3ab98f8bb67b2862e.html"  target="element">
				  		<area shape="rect" coords="10,250,863,455" href="../elements/id-5cf5c3c999674da5a291a2e0f99978ac.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-5cf5c3c999674da5a291a2e0f99978ac.html" target="element"> Informing </a> </td>
											    <td> <a href="../elements/id-5cf5c3c999674da5a291a2e0f99978ac.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c8418057bdb547d3ab98f8bb67b2862e.html" target="element"> Network User </a> </td>
											    <td> <a href="../elements/id-c8418057bdb547d3ab98f8bb67b2862e.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-52df6015d0684eb1950db4481797fc3e.html" target="element"> Notify Arrival </a> </td>
													    <td> <a href="../elements/id-52df6015d0684eb1950db4481797fc3e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-36ebaf8d6d9744efa1c2f4d98cb45aa4.html" target="element"> Report Traffic Situation </a> </td>
													    <td> <a href="../elements/id-36ebaf8d6d9744efa1c2f4d98cb45aa4.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b8d1507ea2d64a89babb016c0f4d7967.html" target="element"> Report Network Conditions </a> </td>
													    <td> <a href="../elements/id-b8d1507ea2d64a89babb016c0f4d7967.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-944e5f90dc694d2ba1d50dac474b857b.html" target="element"> Provide Transport Operation Information </a> </td>
													    <td> <a href="../elements/id-944e5f90dc694d2ba1d50dac474b857b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5e856601d1af461a9fb62d4e78a47c1f.html" target="element"> Traffic Orchestrator </a> </td>
											    <td> <a href="../elements/id-5e856601d1af461a9fb62d4e78a47c1f.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7784423ebae54f70b3d3bd01719fee0f.html" target="element"> Network Manager </a> </td>
											    <td> <a href="../elements/id-7784423ebae54f70b3d3bd01719fee0f.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-9952d34b64b84116adb76f01c4983894.html" target="element"> Monitor network </a> </td>
													    <td> <a href="../elements/id-9952d34b64b84116adb76f01c4983894.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-379ac316177840e0b85623355f195138.html" target="element"> Receive real arrival time </a> </td>
													    <td> <a href="../elements/id-379ac316177840e0b85623355f195138.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4ddf8882a9fa4ddd84ce23fd27ba3423.html" target="element"> Rout Planner </a> </td>
											    <td> <a href="../elements/id-4ddf8882a9fa4ddd84ce23fd27ba3423.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a01ccf8dc27e4fccb3f18ea3a5acdc81.html" target="element"> Receive Transport Operation </a> </td>
													    <td> <a href="../elements/id-a01ccf8dc27e4fccb3f18ea3a5acdc81.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-d5e5f75b2d02419c90d35c80ad1b9c5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5e5f75b2d02419c90d35c80ad1b9c5d.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-c8418057bdb547d3ab98f8bb67b2862e.html" target="element"> Network User </a> </td>
																		<td> <a href="../elements/id-52df6015d0684eb1950db4481797fc3e.html" target="element"> Notify Arrival </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e33cb45481bd479aae567d3577e031bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e33cb45481bd479aae567d3577e031bd.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-c8418057bdb547d3ab98f8bb67b2862e.html" target="element"> Network User </a> </td>
																		<td> <a href="../elements/id-36ebaf8d6d9744efa1c2f4d98cb45aa4.html" target="element"> Report Traffic Situation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac58a2df2d074d2c8710a1f56dc58522.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac58a2df2d074d2c8710a1f56dc58522.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-c8418057bdb547d3ab98f8bb67b2862e.html" target="element"> Network User </a> </td>
																		<td> <a href="../elements/id-b8d1507ea2d64a89babb016c0f4d7967.html" target="element"> Report Network Conditions </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-04b7dcd47ca14fe1895c8eec47a1a991.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-04b7dcd47ca14fe1895c8eec47a1a991.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-c8418057bdb547d3ab98f8bb67b2862e.html" target="element"> Network User </a> </td>
																		<td> <a href="../elements/id-944e5f90dc694d2ba1d50dac474b857b.html" target="element"> Provide Transport Operation Information </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d73c78be2e674499b04f609bd77b89d2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d73c78be2e674499b04f609bd77b89d2.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-52df6015d0684eb1950db4481797fc3e.html" target="element"> Notify Arrival </a> </td>
																				<td> <a href="../elements/id-379ac316177840e0b85623355f195138.html" target="element"> Receive real arrival time </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-3f2cccb4175749719fb062afff3b3fc4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3f2cccb4175749719fb062afff3b3fc4.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-36ebaf8d6d9744efa1c2f4d98cb45aa4.html" target="element"> Report Traffic Situation </a> </td>
																				<td> <a href="../elements/id-9952d34b64b84116adb76f01c4983894.html" target="element"> Monitor network </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-78931a8beb404f84ad640984f1af74d7.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-78931a8beb404f84ad640984f1af74d7.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-b8d1507ea2d64a89babb016c0f4d7967.html" target="element"> Report Network Conditions </a> </td>
																				<td> <a href="../elements/id-9952d34b64b84116adb76f01c4983894.html" target="element"> Monitor network </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9d777d109bf54f48b5cb918a84c79e9b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9d777d109bf54f48b5cb918a84c79e9b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-944e5f90dc694d2ba1d50dac474b857b.html" target="element"> Provide Transport Operation Information </a> </td>
																				<td> <a href="../elements/id-a01ccf8dc27e4fccb3f18ea3a5acdc81.html" target="element"> Receive Transport Operation </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d5f4bef09a994f64bcef2484760103c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d5f4bef09a994f64bcef2484760103c0.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-7784423ebae54f70b3d3bd01719fee0f.html" target="element"> Network Manager </a> </td>
																		<td> <a href="../elements/id-9952d34b64b84116adb76f01c4983894.html" target="element"> Monitor network </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a90e4ce239f94540ab4423ea269c923e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a90e4ce239f94540ab4423ea269c923e.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-7784423ebae54f70b3d3bd01719fee0f.html" target="element"> Network Manager </a> </td>
																		<td> <a href="../elements/id-379ac316177840e0b85623355f195138.html" target="element"> Receive real arrival time </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-334c039997d0418d9387fb443be758e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-334c039997d0418d9387fb443be758e0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-9952d34b64b84116adb76f01c4983894.html" target="element"> Monitor network </a> </td>
																				<td> <a href="../elements/id-36ebaf8d6d9744efa1c2f4d98cb45aa4.html" target="element"> Report Traffic Situation </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-bec3a9403646438db6df70e3b3aba66b.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-bec3a9403646438db6df70e3b3aba66b.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/id-9952d34b64b84116adb76f01c4983894.html" target="element"> Monitor network </a> </td>
																				<td> <a href="../elements/id-b8d1507ea2d64a89babb016c0f4d7967.html" target="element"> Report Network Conditions </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-db2a5230770a41cb8c0677180409f23e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-db2a5230770a41cb8c0677180409f23e.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-4ddf8882a9fa4ddd84ce23fd27ba3423.html" target="element"> Rout Planner </a> </td>
																		<td> <a href="../elements/id-a01ccf8dc27e4fccb3f18ea3a5acdc81.html" target="element"> Receive Transport Operation </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>