<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Traffic Orchestrator Drivers WS2</title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Traffic Orchestrator Drivers WS2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c8c296e1c4f3426289db8242adaede17.png" alt="Traffic Orchestrator Drivers WS2" usemap="#id-c8c296e1c4f3426289db8242adaede17map"/>
			   <map name="id-c8c296e1c4f3426289db8242adaede17map">
				  		<area shape="rect" coords="886,267,1034,357" href="../elements/id-960d43edbacc4ce5a5b973fd205944d7.html"  target="element">
				  		<area shape="rect" coords="862,213,982,268" href="../elements/id-72497cc5aa034496b4cbf3e256a2935d.html"  target="element">
				  		<area shape="rect" coords="1043,223,1163,278" href="../elements/id-70db7533552646f7a6473a11d8ea8d5f.html"  target="element">
				  		<area shape="rect" coords="1243,334,1363,389" href="../elements/id-9a89019821f74b4c9dcc59c19efd2521.html"  target="element">
				  				<area shape="rect" coords="1268,348,1388,403" href="../elements/id-58c9b815cb3543e798d2aab849e9df9c.html"  target="element">

				  		<area shape="rect" coords="1150,316,1270,371" href="../elements/id-5750ae990ab94c80ac5a8d412fada7b9.html"  target="element">
				  		<area shape="rect" coords="1065,294,1185,349" href="../elements/id-46ac38fbda8f47fd951906070bd53f56.html"  target="element">
				  		<area shape="rect" coords="1124,256,1244,311" href="../elements/id-8798f8d0ba9745d2bc1cfd89e173b4ae.html"  target="element">
				  		<area shape="rect" coords="1222,694,1383,759" href="../elements/id-c266cc81e7bd4d0a8e7d8289cb99c724.html"  target="element">
				  		<area shape="rect" coords="1013,694,1133,749" href="../elements/id-f4e3aae9e0894996bdabacf7cb2e58a0.html"  target="element">
				  		<area shape="rect" coords="1013,567,1133,656" href="../elements/id-adf9215293db45dfbbac38f8b3907949.html"  target="element">
				  		<area shape="rect" coords="1000,485,1120,570" href="../elements/id-2dcaab799bf841f3b9caaceed40f344c.html"  target="element">
				  		<area shape="rect" coords="842,574,1002,650" href="../elements/id-10e201aaf9074bcd8a1e7af694aae26e.html"  target="element">
				  		<area shape="rect" coords="828,438,948,493" href="../elements/id-d1373088cc6343f39c4274aeac8984be.html"  target="element">
				  		<area shape="rect" coords="598,808,751,875" href="../elements/id-1100a245ba4f440886c077fd7da055ce.html"  target="element">
				  		<area shape="rect" coords="724,721,873,823" href="../elements/id-cac21962329145a6bbd440d420018ad0.html"  target="element">
				  		<area shape="rect" coords="816,500,960,574" href="../elements/id-882dc31a46ba4827b027be7c590937ac.html"  target="element">
				  		<area shape="rect" coords="724,610,803,695" href="../elements/id-32d866e3681842d6aff55ac1b18d20c8.html"  target="element">
				  		<area shape="rect" coords="688,513,808,599" href="../elements/id-b1390dda1592435daa51de2331cbc149.html"  target="element">
				  		<area shape="rect" coords="672,188,792,243" href="../elements/id-1aa5ab8b5cf54c0faf7980a4d8ce0302.html"  target="element">
				  		<area shape="rect" coords="442,356,562,411" href="../elements/id-82f5d652f507487f857c0dbe90826df6.html"  target="element">
				  		<area shape="rect" coords="502,538,646,611" href="../elements/id-e5ab76ff8db14ab08c5ec2b89c0bd38d.html"  target="element">
				  		<area shape="rect" coords="466,730,586,823" href="../elements/id-98474eb6305f4a7d9704b5aa6de5f210.html"  target="element">
				  		<area shape="rect" coords="288,730,408,785" href="../elements/id-bf072f4a308f46eba3693e36b553f719.html"  target="element">
				  		<area shape="rect" coords="359,574,479,629" href="../elements/id-21e43485f1074a7caed3ab26dee03468.html"  target="element">
				  		<area shape="rect" coords="514,418,634,494" href="../elements/id-07aa8ce2525242cfaf69c7e5c981816c.html"  target="element">
				  		<area shape="rect" coords="359,500,479,555" href="../elements/id-c0eca542bad64bdda115e845930f20fb.html"  target="element">
				  		<area shape="rect" coords="154,723,274,808" href="../elements/id-355b3108436847c68762bdd83d2e1113.html"  target="element">
				  		<area shape="rect" coords="35,723,155,778" href="../elements/id-04795d56543b4945a206ba28b5064a3a.html"  target="element">
				  		<area shape="rect" coords="204,532,324,587" href="../elements/id-052e3eadc31e494eb635fab7706070f0.html"  target="element">
				  		<area shape="rect" coords="35,478,155,533" href="../elements/id-2bae794aceb24417b85b42b9919bdfbd.html"  target="element">
				  		<area shape="rect" coords="1150,136,1270,191" href="../elements/id-a9f55c1cc0a34ccbbf8dfdebbe397157.html"  target="element">
				  		<area shape="rect" coords="10,370,180,439" href="../elements/id-d0610d0c110a40aa8e30f47b2a103fbd.html"  target="element">
				  		<area shape="rect" coords="274,206,422,275" href="../elements/id-ae9b7549e9394f3fac4adf5634b15a2e.html"  target="element">
				          <area shape="rect" coords="816,10,1001,99" href="../objects/id-2173c1f9c3104deaad512b1d4e3023c5.html" target="element" >
				  		<area shape="rect" coords="394,166,527,237" href="../elements/id-cc0f723ea1ed4632a54c6db53b97029d.html"  target="element">
				  		<area shape="rect" coords="842,154,975,225" href="../elements/id-3f4918e3900649089dc3b793e529cf1b.html"  target="element">
				  		<area shape="rect" coords="658,274,791,345" href="../elements/id-104e18963f0845cd87b3dfc8592da276.html"  target="element">
				  		<area shape="rect" coords="214,130,347,201" href="../elements/id-2b334303e39847ebaf94c1ac7fff47da.html"  target="element">
				  		<area shape="rect" coords="1006,118,1139,189" href="../elements/id-7ed2c6bd8fbc4e7184f87cb1b221bed7.html"  target="element">
				  		<area shape="rect" coords="442,286,575,357" href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html"  target="element">
				  		<area shape="rect" coords="136,430,269,501" href="../elements/id-4e6cbb7d8fa44b9eab3bddc606dde46c.html"  target="element">
				          <area shape="rect" coords="160,22,413,119" href="../objects/id-f152cedd8a3842b8808294f914249918.html" target="element" >
				          <area shape="rect" coords="1015,10,1254,107" href="../objects/id-7407949a6c1245ed8559ca0f90d2ac1f.html" target="element" >
				  		<area shape="rect" coords="323,646,480,724" href="../elements/id-99fe51e99e5d4f2da0121fb42ae444b9.html"  target="element">
				  		<area shape="rect" coords="568,646,724,724" href="../elements/id-40833978dc1148fcb17c7591d5b02155.html"  target="element">
				  		<area shape="rect" coords="1132,418,1252,496" href="../elements/id-f8f7ccf8e3344f23a4faec06d9c39e7a.html"  target="element">
				  		<area shape="rect" coords="922,420,1066,494" href="../elements/id-29af37ed90c24088aac6ddde5d659883.html"  target="element">
				  		<area shape="rect" coords="706,431,862,500" href="../elements/id-e463f49aadc846f69fbc9be5cbc14741.html"  target="element">
				  		<area shape="rect" coords="850,646,1031,724" href="../elements/id-04a1b15f19cf47dcbdbaaff4d2a44892.html"  target="element">
				  		<area shape="rect" coords="131,646,263,724" href="../elements/id-4adee986118d4827aec05718829fcdd7.html"  target="element">
				  		<area shape="rect" coords="323,418,515,489" href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html"  target="element">
				  		<area shape="rect" coords="538,10,671,81" href="../elements/id-9d1837c606414843be269ca82b237630.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-9d1837c606414843be269ca82b237630.html" target="element"> Traffic Orchestrator </a> </td>
											    <td> <a href="../elements/id-9d1837c606414843be269ca82b237630.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> oPrioritise and control traffic flows </a> </td>
											    <td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4adee986118d4827aec05718829fcdd7.html" target="element"> Mixed traffic is a challenge </a> </td>
											    <td> <a href="../elements/id-4adee986118d4827aec05718829fcdd7.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-04a1b15f19cf47dcbdbaaff4d2a44892.html" target="element"> Limited coordination within networks and across modes and networks </a> </td>
											    <td> <a href="../elements/id-04a1b15f19cf47dcbdbaaff4d2a44892.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e463f49aadc846f69fbc9be5cbc14741.html" target="element"> oPrevent and limit incidents and accidents </a> </td>
											    <td> <a href="../elements/id-e463f49aadc846f69fbc9be5cbc14741.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-29af37ed90c24088aac6ddde5d659883.html" target="element"> oOperation during abnormal situations </a> </td>
											    <td> <a href="../elements/id-29af37ed90c24088aac6ddde5d659883.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f8f7ccf8e3344f23a4faec06d9c39e7a.html" target="element"> oBetter utilisation of network </a> </td>
											    <td> <a href="../elements/id-f8f7ccf8e3344f23a4faec06d9c39e7a.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-40833978dc1148fcb17c7591d5b02155.html" target="element"> Limited decision support and automation </a> </td>
											    <td> <a href="../elements/id-40833978dc1148fcb17c7591d5b02155.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-99fe51e99e5d4f2da0121fb42ae444b9.html" target="element"> No/limited communications with network users </a> </td>
											    <td> <a href="../elements/id-99fe51e99e5d4f2da0121fb42ae444b9.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-7407949a6c1245ed8559ca0f90d2ac1f.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-7407949a6c1245ed8559ca0f90d2ac1f.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-f152cedd8a3842b8808294f914249918.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-f152cedd8a3842b8808294f914249918.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-4e6cbb7d8fa44b9eab3bddc606dde46c.html" target="element"> oGreen transport </a> </td>
											    <td> <a href="../elements/id-4e6cbb7d8fa44b9eab3bddc606dde46c.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html" target="element"> oSustainable transport </a> </td>
											    <td> <a href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7ed2c6bd8fbc4e7184f87cb1b221bed7.html" target="element"> Private Traffic Orchestrator </a> </td>
											    <td> <a href="../elements/id-7ed2c6bd8fbc4e7184f87cb1b221bed7.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2b334303e39847ebaf94c1ac7fff47da.html" target="element"> Public Traffic Orchestrator </a> </td>
											    <td> <a href="../elements/id-2b334303e39847ebaf94c1ac7fff47da.html" target="element" class="i18n-elementtype-Stakeholder">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-104e18963f0845cd87b3dfc8592da276.html" target="element"> oEfficient and resilient support of transport demands </a> </td>
											    <td> <a href="../elements/id-104e18963f0845cd87b3dfc8592da276.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f4918e3900649089dc3b793e529cf1b.html" target="element"> oProfit </a> </td>
											    <td> <a href="../elements/id-3f4918e3900649089dc3b793e529cf1b.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cc0f723ea1ed4632a54c6db53b97029d.html" target="element"> oSocial economics </a> </td>
											    <td> <a href="../elements/id-cc0f723ea1ed4632a54c6db53b97029d.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-2173c1f9c3104deaad512b1d4e3023c5.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-2173c1f9c3104deaad512b1d4e3023c5.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-ae9b7549e9394f3fac4adf5634b15a2e.html" target="element"> Vurnerable users should be coordinated and prioritised </a> </td>
											    <td> <a href="../elements/id-ae9b7549e9394f3fac4adf5634b15a2e.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d0610d0c110a40aa8e30f47b2a103fbd.html" target="element"> Demonstrate that orchestration is lowering CO2 emission Must be ensured </a> </td>
											    <td> <a href="../elements/id-d0610d0c110a40aa8e30f47b2a103fbd.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a9f55c1cc0a34ccbbf8dfdebbe397157.html" target="element"> Access to data to enhance own products and services </a> </td>
											    <td> <a href="../elements/id-a9f55c1cc0a34ccbbf8dfdebbe397157.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2bae794aceb24417b85b42b9919bdfbd.html" target="element"> Limited economic incentives </a> </td>
											    <td> <a href="../elements/id-2bae794aceb24417b85b42b9919bdfbd.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-052e3eadc31e494eb635fab7706070f0.html" target="element"> Data sharing is a challenge </a> </td>
											    <td> <a href="../elements/id-052e3eadc31e494eb635fab7706070f0.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-04795d56543b4945a206ba28b5064a3a.html" target="element"> CAVS are a chellenge </a> </td>
											    <td> <a href="../elements/id-04795d56543b4945a206ba28b5064a3a.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-355b3108436847c68762bdd83d2e1113.html" target="element"> Usability related to CAVs - who are responisble </a> </td>
											    <td> <a href="../elements/id-355b3108436847c68762bdd83d2e1113.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c0eca542bad64bdda115e845930f20fb.html" target="element"> Prioritasion is not defined clearly enough </a> </td>
											    <td> <a href="../elements/id-c0eca542bad64bdda115e845930f20fb.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-07aa8ce2525242cfaf69c7e5c981816c.html" target="element"> Infrastructure must arrabe for security - redundancy </a> </td>
											    <td> <a href="../elements/id-07aa8ce2525242cfaf69c7e5c981816c.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-21e43485f1074a7caed3ab26dee03468.html" target="element"> Navigation service exists for air transport </a> </td>
											    <td> <a href="../elements/id-21e43485f1074a7caed3ab26dee03468.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf072f4a308f46eba3693e36b553f719.html" target="element"> Data exchange is not standardised </a> </td>
											    <td> <a href="../elements/id-bf072f4a308f46eba3693e36b553f719.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-98474eb6305f4a7d9704b5aa6de5f210.html" target="element"> Must collect and analyse data - AI (not commonly used today) </a> </td>
											    <td> <a href="../elements/id-98474eb6305f4a7d9704b5aa6de5f210.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e5ab76ff8db14ab08c5ec2b89c0bd38d.html" target="element"> Privacy is not an issue if they receive something in return </a> </td>
											    <td> <a href="../elements/id-e5ab76ff8db14ab08c5ec2b89c0bd38d.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-82f5d652f507487f857c0dbe90826df6.html" target="element"> Sustsainability is optional - not always respected </a> </td>
											    <td> <a href="../elements/id-82f5d652f507487f857c0dbe90826df6.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1aa5ab8b5cf54c0faf7980a4d8ce0302.html" target="element"> Must be able to see the bigger picture </a> </td>
											    <td> <a href="../elements/id-1aa5ab8b5cf54c0faf7980a4d8ce0302.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b1390dda1592435daa51de2331cbc149.html" target="element"> Interacts solely with network users and not with service providers </a> </td>
											    <td> <a href="../elements/id-b1390dda1592435daa51de2331cbc149.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-32d866e3681842d6aff55ac1b18d20c8.html" target="element"> Data has high value </a> </td>
											    <td> <a href="../elements/id-32d866e3681842d6aff55ac1b18d20c8.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-882dc31a46ba4827b027be7c590937ac.html" target="element"> PT operators/services may cooperate with railway operators </a> </td>
											    <td> <a href="../elements/id-882dc31a46ba4827b027be7c590937ac.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-cac21962329145a6bbd440d420018ad0.html" target="element"> Fleet operators will share info on capacities to get more passengers in case of disruptions in other networks </a> </td>
											    <td> <a href="../elements/id-cac21962329145a6bbd440d420018ad0.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1100a245ba4f440886c077fd7da055ce.html" target="element"> Information security and cyber security are challenging - integrity </a> </td>
											    <td> <a href="../elements/id-1100a245ba4f440886c077fd7da055ce.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d1373088cc6343f39c4274aeac8984be.html" target="element"> Safety is empasized </a> </td>
											    <td> <a href="../elements/id-d1373088cc6343f39c4274aeac8984be.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-10e201aaf9074bcd8a1e7af694aae26e.html" target="element"> Coordination across operators and service providers are sub-optimal to the society </a> </td>
											    <td> <a href="../elements/id-10e201aaf9074bcd8a1e7af694aae26e.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2dcaab799bf841f3b9caaceed40f344c.html" target="element"> Coordination across areas in airtraffic control: ATM and UTM (drones) </a> </td>
											    <td> <a href="../elements/id-2dcaab799bf841f3b9caaceed40f344c.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-adf9215293db45dfbbac38f8b3907949.html" target="element"> Municipalities know a lot today but are not able to use the insight </a> </td>
											    <td> <a href="../elements/id-adf9215293db45dfbbac38f8b3907949.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f4e3aae9e0894996bdabacf7cb2e58a0.html" target="element"> Manual handling of special events </a> </td>
											    <td> <a href="../elements/id-f4e3aae9e0894996bdabacf7cb2e58a0.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c266cc81e7bd4d0a8e7d8289cb99c724.html" target="element"> Must be robust and have capacity/handle workload </a> </td>
											    <td> <a href="../elements/id-c266cc81e7bd4d0a8e7d8289cb99c724.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8798f8d0ba9745d2bc1cfd89e173b4ae.html" target="element"> TRUST </a> </td>
											    <td> <a href="../elements/id-8798f8d0ba9745d2bc1cfd89e173b4ae.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-46ac38fbda8f47fd951906070bd53f56.html" target="element"> Transparency is needed </a> </td>
											    <td> <a href="../elements/id-46ac38fbda8f47fd951906070bd53f56.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5750ae990ab94c80ac5a8d412fada7b9.html" target="element"> Fair </a> </td>
											    <td> <a href="../elements/id-5750ae990ab94c80ac5a8d412fada7b9.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-58c9b815cb3543e798d2aab849e9df9c.html" target="element"> Assessment </a> </td>
													    <td> <a href="../elements/id-58c9b815cb3543e798d2aab849e9df9c.html" target="element" class="i18n-elementtype-Assessment">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9a89019821f74b4c9dcc59c19efd2521.html" target="element"> Fainess may depend on who sees </a> </td>
											    <td> <a href="../elements/id-9a89019821f74b4c9dcc59c19efd2521.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70db7533552646f7a6473a11d8ea8d5f.html" target="element"> MUst be independent wrt fleet operators, etc. </a> </td>
											    <td> <a href="../elements/id-70db7533552646f7a6473a11d8ea8d5f.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-72497cc5aa034496b4cbf3e256a2935d.html" target="element"> Must consider costs when investments are done </a> </td>
											    <td> <a href="../elements/id-72497cc5aa034496b4cbf3e256a2935d.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-960d43edbacc4ce5a5b973fd205944d7.html" target="element"> Losts can be reduced if disruptions can be handled in a good way - need data </a> </td>
											    <td> <a href="../elements/id-960d43edbacc4ce5a5b973fd205944d7.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-6a88b81f09394ac186f643805421801a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a88b81f09394ac186f643805421801a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> oPrioritise and control traffic flows </a> </td>
																		<td> <a href="../elements/id-99fe51e99e5d4f2da0121fb42ae444b9.html" target="element"> No/limited communications with network users </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ac6d0bd0c7bc4492b1eaf604b9cd9121.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac6d0bd0c7bc4492b1eaf604b9cd9121.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4adee986118d4827aec05718829fcdd7.html" target="element"> Mixed traffic is a challenge </a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> oPrioritise and control traffic flows </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-07b71862c2804efc87e980f21e43f31d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-07b71862c2804efc87e980f21e43f31d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-04a1b15f19cf47dcbdbaaff4d2a44892.html" target="element"> Limited coordination within networks and across modes and networks </a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> oPrioritise and control traffic flows </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3e8e059cf8c64cbcbd1cace308eab5dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3e8e059cf8c64cbcbd1cace308eab5dc.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e463f49aadc846f69fbc9be5cbc14741.html" target="element"> oPrevent and limit incidents and accidents </a> </td>
																		<td> <a href="../elements/id-99fe51e99e5d4f2da0121fb42ae444b9.html" target="element"> No/limited communications with network users </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-07b4c0eecbc64eae9942e9177cf8d6f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-07b4c0eecbc64eae9942e9177cf8d6f7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29af37ed90c24088aac6ddde5d659883.html" target="element"> oOperation during abnormal situations </a> </td>
																		<td> <a href="../elements/id-04a1b15f19cf47dcbdbaaff4d2a44892.html" target="element"> Limited coordination within networks and across modes and networks </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-195883cd93bb4901849672ae136cdeb4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-195883cd93bb4901849672ae136cdeb4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-29af37ed90c24088aac6ddde5d659883.html" target="element"> oOperation during abnormal situations </a> </td>
																		<td> <a href="../elements/id-40833978dc1148fcb17c7591d5b02155.html" target="element"> Limited decision support and automation </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-ee08dd1f0e7f4f76bfe92c3513f4b87f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ee08dd1f0e7f4f76bfe92c3513f4b87f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4e6cbb7d8fa44b9eab3bddc606dde46c.html" target="element"> oGreen transport </a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> oPrioritise and control traffic flows </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9edeb30276fc4a16ba92a6cc8dfb4a7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9edeb30276fc4a16ba92a6cc8dfb4a7d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html" target="element"> oSustainable transport </a> </td>
																		<td> <a href="../elements/id-4e6cbb7d8fa44b9eab3bddc606dde46c.html" target="element"> oGreen transport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c430f82f293455fab64091015ba5036.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c430f82f293455fab64091015ba5036.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html" target="element"> oSustainable transport </a> </td>
																		<td> <a href="../elements/id-9d1837c606414843be269ca82b237630.html" target="element"> Traffic Orchestrator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-535993758128406bb4ec46385f9569bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-535993758128406bb4ec46385f9569bf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html" target="element"> oSustainable transport </a> </td>
																		<td> <a href="../elements/id-104e18963f0845cd87b3dfc8592da276.html" target="element"> oEfficient and resilient support of transport demands </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7e7cc32bf4c44c5eb86c4f337007405a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7e7cc32bf4c44c5eb86c4f337007405a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7ed2c6bd8fbc4e7184f87cb1b221bed7.html" target="element"> Private Traffic Orchestrator </a> </td>
																		<td> <a href="../elements/id-3f4918e3900649089dc3b793e529cf1b.html" target="element"> oProfit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b91fa704e5f7414e9f4082d95c425dea.html" target="element"> Specialisation of </a> </td>
																		<td> <a href="../elements/id-b91fa704e5f7414e9f4082d95c425dea.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7ed2c6bd8fbc4e7184f87cb1b221bed7.html" target="element"> Private Traffic Orchestrator </a> </td>
																		<td> <a href="../elements/id-9d1837c606414843be269ca82b237630.html" target="element"> Traffic Orchestrator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-7a9e93a97e9f43f0a6a53e0b613fae66.html" target="element"> Specialisation of </a> </td>
																		<td> <a href="../elements/id-7a9e93a97e9f43f0a6a53e0b613fae66.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-2b334303e39847ebaf94c1ac7fff47da.html" target="element"> Public Traffic Orchestrator </a> </td>
																		<td> <a href="../elements/id-9d1837c606414843be269ca82b237630.html" target="element"> Traffic Orchestrator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-54073d86487c445a9f6b72e7df55744e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-54073d86487c445a9f6b72e7df55744e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-104e18963f0845cd87b3dfc8592da276.html" target="element"> oEfficient and resilient support of transport demands </a> </td>
																		<td> <a href="../elements/id-82bf0a0e5b2a48c484f21e6983c2a6d2.html" target="element"> oPrioritise and control traffic flows </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c8f4777f37dd450aab5b87c6885bb8ec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8f4777f37dd450aab5b87c6885bb8ec.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-104e18963f0845cd87b3dfc8592da276.html" target="element"> oEfficient and resilient support of transport demands </a> </td>
																		<td> <a href="../elements/id-3f4918e3900649089dc3b793e529cf1b.html" target="element"> oProfit </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-70672899a4854b08853e96a4a0903bb2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-70672899a4854b08853e96a4a0903bb2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-104e18963f0845cd87b3dfc8592da276.html" target="element"> oEfficient and resilient support of transport demands </a> </td>
																		<td> <a href="../elements/id-29af37ed90c24088aac6ddde5d659883.html" target="element"> oOperation during abnormal situations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bf649f73d48341dbae3a99957c667711.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf649f73d48341dbae3a99957c667711.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-104e18963f0845cd87b3dfc8592da276.html" target="element"> oEfficient and resilient support of transport demands </a> </td>
																		<td> <a href="../elements/id-f8f7ccf8e3344f23a4faec06d9c39e7a.html" target="element"> oBetter utilisation of network </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-21618826ef974c19ba599159aab6d344.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-21618826ef974c19ba599159aab6d344.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-104e18963f0845cd87b3dfc8592da276.html" target="element"> oEfficient and resilient support of transport demands </a> </td>
																		<td> <a href="../elements/id-e463f49aadc846f69fbc9be5cbc14741.html" target="element"> oPrevent and limit incidents and accidents </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a01c45c154f94d668d5fa48cb2297f2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a01c45c154f94d668d5fa48cb2297f2d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cc0f723ea1ed4632a54c6db53b97029d.html" target="element"> oSocial economics </a> </td>
																		<td> <a href="../elements/id-2b334303e39847ebaf94c1ac7fff47da.html" target="element"> Public Traffic Orchestrator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e6fb91ef58d84716b64457ad71a607c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e6fb91ef58d84716b64457ad71a607c8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cc0f723ea1ed4632a54c6db53b97029d.html" target="element"> oSocial economics </a> </td>
																		<td> <a href="../elements/id-5b2f4d53086248b78c239cbebc58f72d.html" target="element"> oSustainable transport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-65f2f4a2ad3a492cb6f7f25866ae7ace.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-65f2f4a2ad3a492cb6f7f25866ae7ace.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-cc0f723ea1ed4632a54c6db53b97029d.html" target="element"> oSocial economics </a> </td>
																		<td> <a href="../elements/id-104e18963f0845cd87b3dfc8592da276.html" target="element"> oEfficient and resilient support of transport demands </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>