<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Transport Service Provider assessments</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Transport Service Provider assessments</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-motivation"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_motivation" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f46604c1d8ff46558368b902dc7b606d.png" alt="Transport Service Provider assessments" usemap="#id-f46604c1d8ff46558368b902dc7b606dmap"/>
			   <map name="id-f46604c1d8ff46558368b902dc7b606dmap">
				  		<area shape="rect" coords="10,356,143,425" href="../elements/id-5c094857f83d49bea2b7e85ea71e0d4d.html"  target="element">
				  		<area shape="rect" coords="10,247,131,316" href="../elements/id-235cb2585c1c4bdca991e7726d282edd.html"  target="element">
				  		<area shape="rect" coords="190,355,305,427" href="../elements/id-37c407884986431ebb69c387b1fd1dec.html"  target="element">
				  		<area shape="rect" coords="226,449,358,521" href="../elements/id-ca82ea8ad63748159cfbb165a719b5fd.html"  target="element">
				  		<area shape="rect" coords="46,448,178,520" href="../elements/id-b603962edf384873a6ecc12c05550fa0.html"  target="element">
				  		<area shape="rect" coords="585,582,742,655" href="../elements/id-6ba376085a8a4f88a260b96074f12bdb.html"  target="element">
				  		<area shape="rect" coords="412,450,545,521" href="../elements/id-51d33d72b9ba4cbdb5c3024ee2a31137.html"  target="element">
				  		<area shape="rect" coords="585,449,718,518" href="../elements/id-7af4c372cba84b0ba4614f654a65d8ac.html"  target="element">
				  		<area shape="rect" coords="359,356,503,425" href="../elements/id-00c1750fe0c6463aba0af4c6e0e7f430.html"  target="element">
				  		<area shape="rect" coords="1282,355,1439,426" href="../elements/id-c3f959399d6649cd9730d76ecec459bb.html"  target="element">
				  		<area shape="rect" coords="1390,449,1547,522" href="../elements/id-03b2aa32f78940938be852fa37abfb08.html"  target="element">
				  		<area shape="rect" coords="1390,247,1523,316" href="../elements/id-fea21e980fbb40b9b23e78ae0857177a.html"  target="element">
				  		<area shape="rect" coords="1188,449,1351,522" href="../elements/id-a5454e7e24934803af3d661a6877dc93.html"  target="element">
				  		<area shape="rect" coords="1201,247,1365,316" href="../elements/id-c0b6e2461a1a40f19a7e674e43ce97b4.html"  target="element">
				  		<area shape="rect" coords="970,582,1127,655" href="../elements/id-3f769576478f4bb89b719049e48f11aa.html"  target="element">
				  		<area shape="rect" coords="1150,582,1307,655" href="../elements/id-9b70e5083bc6422f81bc219340085421.html"  target="element">
				  		<area shape="rect" coords="1030,355,1170,424" href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html"  target="element">
				  		<area shape="rect" coords="190,163,322,225" href="../elements/id-16882630b8b84b348eca4aeb4a7de06f.html"  target="element">
				  		<area shape="rect" coords="741,449,898,520" href="../elements/id-3142203d65bd42e49a5f6312188fb456.html"  target="element">
				  		<area shape="rect" coords="705,354,862,425" href="../elements/id-680fe4e95e804837911efaf29744d182.html"  target="element">
				  		<area shape="rect" coords="795,582,928,653" href="../elements/id-ecfcc076f00345049c6f1f88bccbc2da.html"  target="element">
				  		<area shape="rect" coords="970,247,1127,309" href="../elements/id-6c8fd578683b41a1a8f1ec18129a805f.html"  target="element">
				  		<area shape="rect" coords="1210,127,1330,182" href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html"  target="element">
				  		<area shape="rect" coords="58,127,178,182" href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html"  target="element">
				  		<area shape="rect" coords="226,247,346,302" href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html"  target="element">
				  		<area shape="rect" coords="371,247,491,302" href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html"  target="element">
				  		<area shape="rect" coords="514,247,634,302" href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html"  target="element">
				  		<area shape="rect" coords="393,127,536,182" href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html"  target="element">
				  		<area shape="rect" coords="658,247,778,302" href="../elements/id-1644ac2ae92f4493b653b7835851765f.html"  target="element">
				  		<area shape="rect" coords="790,247,934,302" href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html"  target="element">
				  		<area shape="rect" coords="742,127,862,182" href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html"  target="element">
				  		<area shape="rect" coords="382,10,502,65" href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
											    <td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
											    <td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
											    <td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element"> Safety </a> </td>
											    <td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
											    <td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
											    <td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
											    <td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
											    <td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element"> Public Image </a> </td>
											    <td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
											    <td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6c8fd578683b41a1a8f1ec18129a805f.html" target="element"> Chains adapted to transport demands </a> </td>
											    <td> <a href="../elements/id-6c8fd578683b41a1a8f1ec18129a805f.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ecfcc076f00345049c6f1f88bccbc2da.html" target="element"> Depend on information from fleet operator </a> </td>
											    <td> <a href="../elements/id-ecfcc076f00345049c6f1f88bccbc2da.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-680fe4e95e804837911efaf29744d182.html" target="element"> Varying access to real-time information for customer </a> </td>
											    <td> <a href="../elements/id-680fe4e95e804837911efaf29744d182.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3142203d65bd42e49a5f6312188fb456.html" target="element"> Niches may have special requirements </a> </td>
											    <td> <a href="../elements/id-3142203d65bd42e49a5f6312188fb456.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-16882630b8b84b348eca4aeb4a7de06f.html" target="element"> Decisions are sub-optimal to the society </a> </td>
											    <td> <a href="../elements/id-16882630b8b84b348eca4aeb4a7de06f.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element"> Low flexibility  </a> </td>
											    <td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9b70e5083bc6422f81bc219340085421.html" target="element"> Low/late/hurried adaption in case of network deviations </a> </td>
											    <td> <a href="../elements/id-9b70e5083bc6422f81bc219340085421.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f769576478f4bb89b719049e48f11aa.html" target="element"> Opportunities cannot be utilised </a> </td>
											    <td> <a href="../elements/id-3f769576478f4bb89b719049e48f11aa.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c0b6e2461a1a40f19a7e674e43ce97b4.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
											    <td> <a href="../elements/id-c0b6e2461a1a40f19a7e674e43ce97b4.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a5454e7e24934803af3d661a6877dc93.html" target="element"> Limited data sharing on realtime and upcoming traffic and regulation </a> </td>
											    <td> <a href="../elements/id-a5454e7e24934803af3d661a6877dc93.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fea21e980fbb40b9b23e78ae0857177a.html" target="element"> Limited data sharing with traffic orchestrator </a> </td>
											    <td> <a href="../elements/id-fea21e980fbb40b9b23e78ae0857177a.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-03b2aa32f78940938be852fa37abfb08.html" target="element"> Limited regulation and standards on data exchange </a> </td>
											    <td> <a href="../elements/id-03b2aa32f78940938be852fa37abfb08.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c3f959399d6649cd9730d76ecec459bb.html" target="element"> More frequent and extreme events due to climate change </a> </td>
											    <td> <a href="../elements/id-c3f959399d6649cd9730d76ecec459bb.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-00c1750fe0c6463aba0af4c6e0e7f430.html" target="element"> Business models limit flexibility in case of network problems </a> </td>
											    <td> <a href="../elements/id-00c1750fe0c6463aba0af4c6e0e7f430.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7af4c372cba84b0ba4614f654a65d8ac.html" target="element"> Business models do not reward collaboration </a> </td>
											    <td> <a href="../elements/id-7af4c372cba84b0ba4614f654a65d8ac.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-51d33d72b9ba4cbdb5c3024ee2a31137.html" target="element"> No profit linked to data sharing </a> </td>
											    <td> <a href="../elements/id-51d33d72b9ba4cbdb5c3024ee2a31137.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6ba376085a8a4f88a260b96074f12bdb.html" target="element"> Legal issues and competition laws hinder collaboration </a> </td>
											    <td> <a href="../elements/id-6ba376085a8a4f88a260b96074f12bdb.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b603962edf384873a6ecc12c05550fa0.html" target="element"> Green is important for public image </a> </td>
											    <td> <a href="../elements/id-b603962edf384873a6ecc12c05550fa0.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ca82ea8ad63748159cfbb165a719b5fd.html" target="element"> Some collaboration for green alternatives </a> </td>
											    <td> <a href="../elements/id-ca82ea8ad63748159cfbb165a719b5fd.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-37c407884986431ebb69c387b1fd1dec.html" target="element"> Promoted by EU policy </a> </td>
											    <td> <a href="../elements/id-37c407884986431ebb69c387b1fd1dec.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-235cb2585c1c4bdca991e7726d282edd.html" target="element"> Image depends on use of modes and means </a> </td>
											    <td> <a href="../elements/id-235cb2585c1c4bdca991e7726d282edd.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5c094857f83d49bea2b7e85ea71e0d4d.html" target="element"> Participation in sustainable services is positive </a> </td>
											    <td> <a href="../elements/id-5c094857f83d49bea2b7e85ea71e0d4d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-02e6c021f32a4aaab621fe9ab54a5da9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-02e6c021f32a4aaab621fe9ab54a5da9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
																		<td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3957b0ccc4724202b3f0a9ea113198d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3957b0ccc4724202b3f0a9ea113198d7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4f1ce128c13c4f45a6173ade3686ef41.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4f1ce128c13c4f45a6173ade3686ef41.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
																		<td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element"> Public Image </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4becc5e12020453f988088b4bfaa6b35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4becc5e12020453f988088b4bfaa6b35.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
																		<td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0b65f449a34d4f529df4303000e34c4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b65f449a34d4f529df4303000e34c4c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element"> Safety </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-59b5d455617b4c2e9a9b1fcef1ac4c4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-59b5d455617b4c2e9a9b1fcef1ac4c4e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8a6a405f51b646c2b48eadebbd75310c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8a6a405f51b646c2b48eadebbd75310c.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c6976cd02d44fa0b36d4053f61d2516.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c6976cd02d44fa0b36d4053f61d2516.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b0b948655b394b25827b4f5dae771ec4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0b948655b394b25827b4f5dae771ec4.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-086c5c395e24440796eb4bbea4bbad95.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-086c5c395e24440796eb4bbea4bbad95.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-1644ac2ae92f4493b653b7835851765f.html" target="element"> Safety </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f3c92ba5f61b40f18a2217448e15ce02.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f3c92ba5f61b40f18a2217448e15ce02.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																		<td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element"> Low flexibility  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-644f7dfdf2a0447a98d27b1e2a381884.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-644f7dfdf2a0447a98d27b1e2a381884.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-14bb3eef82754ddd80dbeb70045eaf3d.html" target="element"> Efficiency </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8e36067d7b2444f3b5570b2b58815063.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e36067d7b2444f3b5570b2b58815063.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
																		<td> <a href="../elements/id-c0b6e2461a1a40f19a7e674e43ce97b4.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f1355f58896c4e0d871f476a1c37ea73.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f1355f58896c4e0d871f476a1c37ea73.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
																		<td> <a href="../elements/id-fea21e980fbb40b9b23e78ae0857177a.html" target="element"> Limited data sharing with traffic orchestrator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3747c0a75700440b852109af9ef67ffd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3747c0a75700440b852109af9ef67ffd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7cc64a16bc164dc688c0d2c3e5496ebd.html" target="element"> Resilience </a> </td>
																		<td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element"> Low flexibility  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8f03712cb1af4eb89fc957727a5e3c55.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8f03712cb1af4eb89fc957727a5e3c55.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6c8fd578683b41a1a8f1ec18129a805f.html" target="element"> Chains adapted to transport demands </a> </td>
																		<td> <a href="../elements/id-5e2686438fa249f9a52581e9bad1a2d6.html" target="element"> Customer satisfaction </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e207c1b3433f4e2d9d7009bba9bf48d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e207c1b3433f4e2d9d7009bba9bf48d8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ecfcc076f00345049c6f1f88bccbc2da.html" target="element"> Depend on information from fleet operator </a> </td>
																		<td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-18b70168e7184785b0efd04ff0a26738.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18b70168e7184785b0efd04ff0a26738.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-680fe4e95e804837911efaf29744d182.html" target="element"> Varying access to real-time information for customer </a> </td>
																		<td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5fe2b96b316740a1a7f8210be42f83f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5fe2b96b316740a1a7f8210be42f83f9.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-3142203d65bd42e49a5f6312188fb456.html" target="element"> Niches may have special requirements </a> </td>
																		<td> <a href="../elements/id-4729119ba3874d9596bbb8667e98cd93.html" target="element"> Predictability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a00afdeb74f34677a179f7ea921cc69e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a00afdeb74f34677a179f7ea921cc69e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-16882630b8b84b348eca4aeb4a7de06f.html" target="element"> Decisions are sub-optimal to the society </a> </td>
																		<td> <a href="../elements/id-fc0f94fe94434c6cb588f281c7e7de60.html" target="element"> Sustainability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-5379d3b4dd65435b9a35f12c714ff256.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5379d3b4dd65435b9a35f12c714ff256.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element"> Low flexibility  </a> </td>
																		<td> <a href="../elements/id-9b70e5083bc6422f81bc219340085421.html" target="element"> Low/late/hurried adaption in case of network deviations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-986cf97187e240a4bd47b217e1c7391e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-986cf97187e240a4bd47b217e1c7391e.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-7cc7018a8a7c440983c9d097c50e9e0d.html" target="element"> Low flexibility  </a> </td>
																		<td> <a href="../elements/id-3f769576478f4bb89b719049e48f11aa.html" target="element"> Opportunities cannot be utilised </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0080c97fc2794040a24f600b4dee772a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0080c97fc2794040a24f600b4dee772a.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-a5454e7e24934803af3d661a6877dc93.html" target="element"> Limited data sharing on realtime and upcoming traffic and regulation </a> </td>
																		<td> <a href="../elements/id-c0b6e2461a1a40f19a7e674e43ce97b4.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78365c8fb8c048cda62a8d363127d145.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78365c8fb8c048cda62a8d363127d145.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-a5454e7e24934803af3d661a6877dc93.html" target="element"> Limited data sharing on realtime and upcoming traffic and regulation </a> </td>
																		<td> <a href="../elements/id-9b70e5083bc6422f81bc219340085421.html" target="element"> Low/late/hurried adaption in case of network deviations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ce6597ee65d0441dac6631564a6ec51b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce6597ee65d0441dac6631564a6ec51b.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-03b2aa32f78940938be852fa37abfb08.html" target="element"> Limited regulation and standards on data exchange </a> </td>
																		<td> <a href="../elements/id-fea21e980fbb40b9b23e78ae0857177a.html" target="element"> Limited data sharing with traffic orchestrator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f0b5e248df9d45b0b4e76414ff12f2a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0b5e248df9d45b0b4e76414ff12f2a4.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-c3f959399d6649cd9730d76ecec459bb.html" target="element"> More frequent and extreme events due to climate change </a> </td>
																		<td> <a href="../elements/id-c0b6e2461a1a40f19a7e674e43ce97b4.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a036c27239e6473292bf75b2445ca340.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a036c27239e6473292bf75b2445ca340.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-00c1750fe0c6463aba0af4c6e0e7f430.html" target="element"> Business models limit flexibility in case of network problems </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-476d551e68c9436380733b7ebf270440.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-476d551e68c9436380733b7ebf270440.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-7af4c372cba84b0ba4614f654a65d8ac.html" target="element"> Business models do not reward collaboration </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8897218ed20e4f7b8e89b4d87bbb762b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8897218ed20e4f7b8e89b4d87bbb762b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-51d33d72b9ba4cbdb5c3024ee2a31137.html" target="element"> No profit linked to data sharing </a> </td>
																		<td> <a href="../elements/id-16b9de8e2b144c10a6c677ad1d288fb1.html" target="element"> Economy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ce734136050d419cac5c2556c25c57e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce734136050d419cac5c2556c25c57e4.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-6ba376085a8a4f88a260b96074f12bdb.html" target="element"> Legal issues and competition laws hinder collaboration </a> </td>
																		<td> <a href="../elements/id-7af4c372cba84b0ba4614f654a65d8ac.html" target="element"> Business models do not reward collaboration </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-507be15fdac04f8b89bbae5077ffe946.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-507be15fdac04f8b89bbae5077ffe946.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-b603962edf384873a6ecc12c05550fa0.html" target="element"> Green is important for public image </a> </td>
																		<td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5922c3241e1149d5b2186752a4854604.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5922c3241e1149d5b2186752a4854604.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-b603962edf384873a6ecc12c05550fa0.html" target="element"> Green is important for public image </a> </td>
																		<td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element"> Public Image </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c62b48f7fbb243efadf9d807d1b00da8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c62b48f7fbb243efadf9d807d1b00da8.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-ca82ea8ad63748159cfbb165a719b5fd.html" target="element"> Some collaboration for green alternatives </a> </td>
																		<td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e1eb99842e054db783b86e3c7092ed22.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e1eb99842e054db783b86e3c7092ed22.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-37c407884986431ebb69c387b1fd1dec.html" target="element"> Promoted by EU policy </a> </td>
																		<td> <a href="../elements/id-ac837f7a8c2a47319713dec9147cde4a.html" target="element"> Green transport </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c8d29e72924a4ecfb14bd8fcf0d3a8ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8d29e72924a4ecfb14bd8fcf0d3a8ed.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-235cb2585c1c4bdca991e7726d282edd.html" target="element"> Image depends on use of modes and means </a> </td>
																		<td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element"> Public Image </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8d641e6eeb364cefa87ed093a9b2fa22.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8d641e6eeb364cefa87ed093a9b2fa22.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5c094857f83d49bea2b7e85ea71e0d4d.html" target="element"> Participation in sustainable services is positive </a> </td>
																		<td> <a href="../elements/id-a056dfe1abc742cfacb19904e8c8cfa3.html" target="element"> Public Image </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>