<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Stakeholders</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Stakeholders</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-stakeholder"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_stakeholder" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-173453b6753947d0bddee4d861581d3c.png" alt="Stakeholders" usemap="#id-173453b6753947d0bddee4d861581d3cmap"/>
			   <map name="id-173453b6753947d0bddee4d861581d3cmap">
				  				<area shape="rect" coords="1172,692,1412,802" href="../elements/id-beac0276ece14bec9b6398bb7ce2f791.html"  target="element">
				  				<area shape="rect" coords="1172,548,1412,658" href="../elements/id-9a76b4fea3904081a65d8a9fb8df711e.html"  target="element">
				  				<area shape="rect" coords="1172,380,1412,490" href="../elements/id-f11dd5cfd1cb4f8a893df01bec2b1497.html"  target="element">
				  				<area shape="rect" coords="1172,236,1412,346" href="../elements/id-218d4d82001c4cbb83bd9d91236a5d16.html"  target="element">
				  				<area shape="rect" coords="1172,92,1412,202" href="../elements/id-b3239dc485ff41b7aece1f7a2c3d9179.html"  target="element">

				          <area shape="rect" coords="1100,20,1510,838" href="../objects/id-e4369fc9078a43cc8b6349b343c4aaed.html" target="element" >
				  				<area shape="rect" coords="620,476,860,586" href="../elements/id-9d1837c606414843be269ca82b237630.html"  target="element">
				  				<area shape="rect" coords="620,308,860,418" href="../elements/id-7a040841e22445628561170c3295f458.html"  target="element">
				  				<area shape="rect" coords="620,116,860,226" href="../elements/id-53222786175948bda46311c5d58ff92d.html"  target="element">

				          <area shape="rect" coords="572,20,948,674" href="../objects/id-566d340db9dd4b6e88922588c1ef4ca8.html" target="element" >
				  				<area shape="rect" coords="92,620,332,730" href="../elements/id-0e326829a58641dc907198c32f249ed6.html"  target="element">
				  				<area shape="rect" coords="92,116,332,226" href="../elements/id-bfd87d2bdeeb435ebe6db5a7cb10821a.html"  target="element">
				  				<area shape="rect" coords="92,284,332,394" href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html"  target="element">
				  				<area shape="rect" coords="92,452,332,562" href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html"  target="element">

				          <area shape="rect" coords="20,20,406,768" href="../objects/id-66b66b0f0e4b4fc285d56d672787de84.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-66b66b0f0e4b4fc285d56d672787de84.html" target="element"> Transport </a> </td>
									           <td> <a href="../objects/id-66b66b0f0e4b4fc285d56d672787de84.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
													    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element"> Transport Service Provider </a> </td>
													    <td> <a href="../elements/id-4c5a2cfc85e344f6a12a43e394cb1c9f.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bfd87d2bdeeb435ebe6db5a7cb10821a.html" target="element"> Transport User </a> </td>
													    <td> <a href="../elements/id-bfd87d2bdeeb435ebe6db5a7cb10821a.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-0e326829a58641dc907198c32f249ed6.html" target="element"> Network User </a> </td>
													    <td> <a href="../elements/id-0e326829a58641dc907198c32f249ed6.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-566d340db9dd4b6e88922588c1ef4ca8.html" target="element"> Traffic </a> </td>
									           <td> <a href="../objects/id-566d340db9dd4b6e88922588c1ef4ca8.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-53222786175948bda46311c5d58ff92d.html" target="element"> Strategic Planning Manager </a> </td>
													    <td> <a href="../elements/id-53222786175948bda46311c5d58ff92d.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7a040841e22445628561170c3295f458.html" target="element"> Infrastructure Manager </a> </td>
													    <td> <a href="../elements/id-7a040841e22445628561170c3295f458.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9d1837c606414843be269ca82b237630.html" target="element"> Traffic Orchestrator </a> </td>
													    <td> <a href="../elements/id-9d1837c606414843be269ca82b237630.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

											
									        <tr>
									           <td> <a href="../objects/id-e4369fc9078a43cc8b6349b343c4aaed.html" target="element"> Society and other </a> </td>
									           <td> <a href="../objects/id-e4369fc9078a43cc8b6349b343c4aaed.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../elements/id-b3239dc485ff41b7aece1f7a2c3d9179.html" target="element"> Authority </a> </td>
													    <td> <a href="../elements/id-b3239dc485ff41b7aece1f7a2c3d9179.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-218d4d82001c4cbb83bd9d91236a5d16.html" target="element"> Regulator </a> </td>
													    <td> <a href="../elements/id-218d4d82001c4cbb83bd9d91236a5d16.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f11dd5cfd1cb4f8a893df01bec2b1497.html" target="element"> Emergency Manager </a> </td>
													    <td> <a href="../elements/id-f11dd5cfd1cb4f8a893df01bec2b1497.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-9a76b4fea3904081a65d8a9fb8df711e.html" target="element"> NGO for Environment </a> </td>
													    <td> <a href="../elements/id-9a76b4fea3904081a65d8a9fb8df711e.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-beac0276ece14bec9b6398bb7ce2f791.html" target="element"> Solution Provider </a> </td>
													    <td> <a href="../elements/id-beac0276ece14bec9b6398bb7ce2f791.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>