<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Feet Operator Drivers WS</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Feet Operator Drivers WS</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-stakeholder"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_stakeholder" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-69e8607f6abd41219d414458403c5a79.png" alt="Feet Operator Drivers WS" usemap="#id-69e8607f6abd41219d414458403c5a79map"/>
			   <map name="id-69e8607f6abd41219d414458403c5a79map">
				          <area shape="rect" coords="2636,242,2894,402" href="../objects/id-a1be993aa1a1467f9046844af070c8bd.html" target="element" >
				          <area shape="rect" coords="2636,20,2894,180" href="../objects/id-ee0194b7826c46199ce221c11a47f05d.html" target="element" >
				          <area shape="rect" coords="2636,956,3006,1116" href="../objects/id-c3d8e7ae1eb3485c990c5ca1341f9d59.html" target="element" >
				  		<area shape="rect" coords="20,1364,286,1506" href="../elements/id-d60c0b2499344d8eb5d7d76dba31b6a4.html"  target="element">
				  		<area shape="rect" coords="20,1532,286,1674" href="../elements/id-0eb9f0e4252c47d39c498a5dbf0f2eba.html"  target="element">
				  		<area shape="rect" coords="308,1364,574,1506" href="../elements/id-6b34d00dc7f149b9af4a9a43be497908.html"  target="element">
				  		<area shape="rect" coords="428,1532,694,1674" href="../elements/id-d765fb7499aa4ae29773fc02d2aeee67.html"  target="element">
				  		<area shape="rect" coords="668,1364,934,1506" href="../elements/id-68a73110a7294a639b91707810de8e59.html"  target="element">
				  		<area shape="rect" coords="908,1224,1174,1366" href="../elements/id-eab5a17ef5f64d9ea22ff8dd099da9a1.html"  target="element">
				  		<area shape="rect" coords="812,1504,1078,1646" href="../elements/id-b89a2949e04148d19f357facb514d783.html"  target="element">
				  		<area shape="rect" coords="1268,1446,1534,1588" href="../elements/id-7df71d5256474d3e9ff4280448493427.html"  target="element">
				  		<area shape="rect" coords="1560,1446,1826,1588" href="../elements/id-8ad1ee34776c4a59b55c6dabcedbe45d.html"  target="element">
				  		<area shape="rect" coords="1484,1268,1750,1410" href="../elements/id-aaf9fd3dfb3b4d64a750beb61b54b1a9.html"  target="element">
				  		<area shape="rect" coords="1484,1028,1750,1170" href="../elements/id-d59ddbb3f981471ca92b4950a4fa4744.html"  target="element">
				  		<area shape="rect" coords="1862,1364,2128,1506" href="../elements/id-37d107d00d51460584cfe7634344d634.html"  target="element">
				  		<area shape="rect" coords="2036,1170,2302,1312" href="../elements/id-4e996ddc754a4133855dc6208ad88cc7.html"  target="element">
				  		<area shape="rect" coords="2138,1002,2404,1144" href="../elements/id-3b1fc4f22ae54accb25ca3fa8c10c8ac.html"  target="element">
				          <area shape="rect" coords="2636,716,3006,906" href="../objects/id-4bf3391bf64c43779151ee570d5166bf.html" target="element" >
				  		<area shape="rect" coords="2010,688,2276,830" href="../elements/id-28489472cc93454a86ed9588771a7c6a.html"  target="element">
				  		<area shape="rect" coords="2252,548,2518,690" href="../elements/id-950f8d5fc37b4fd98510f6b4ad148964.html"  target="element">
				  		<area shape="rect" coords="726,644,992,786" href="../elements/id-5ea283fb17a648d0baf7ed3eb4550104.html"  target="element">
				  		<area shape="rect" coords="1862,862,2128,1004" href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html"  target="element">
				  		<area shape="rect" coords="1772,1142,2012,1296" href="../elements/id-fa32d7d04ccc40f5806e977bf8a6531e.html"  target="element">
				  		<area shape="rect" coords="1560,862,1800,990" href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html"  target="element">
				  		<area shape="rect" coords="1194,1142,1458,1342" href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html"  target="element">
				  		<area shape="rect" coords="1172,116,1438,226" href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html"  target="element">
				  		<area shape="rect" coords="80,1142,320,1342" href="../elements/id-b5f61356400140a4ac979e914480c6f2.html"  target="element">
				  		<area shape="rect" coords="80,862,394,1030" href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html"  target="element">
				  		<area shape="rect" coords="1186,862,1426,1030" href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html"  target="element">
				  		<area shape="rect" coords="868,862,1124,1030" href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html"  target="element">
				  		<area shape="rect" coords="956,428,1196,538" href="../elements/id-74de9ef00a67422695206174abd3edcd.html"  target="element">
				  		<area shape="rect" coords="740,108,980,218" href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html"  target="element">
				  		<area shape="rect" coords="596,862,848,1030" href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html"  target="element">
				  		<area shape="rect" coords="1512,428,1800,538" href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html"  target="element">
				          <area shape="rect" coords="1544,108,1914,310" href="../objects/id-ad94a0daad47446cb10f7ea29c0af6ea.html" target="element" >
				  		<area shape="rect" coords="516,428,876,538" href="../elements/id-24b376ae74e34fc788d5a894385e477e.html"  target="element">
				          <area shape="rect" coords="94,108,480,334" href="../objects/id-060b34931a8c49f4b5b06d5e60710d8b.html" target="element" >
				  		<area shape="rect" coords="498,1142,892,1344" href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html"  target="element">
				  		<area shape="rect" coords="94,428,454,538" href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html"  target="element">
				  		<area shape="rect" coords="1852,428,2140,538" href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html"  target="element">
				  		<area shape="rect" coords="1652,662,1892,808" href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html"  target="element">
				  		<area shape="rect" coords="1364,662,1604,808" href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
											    <td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
											    <td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
											    <td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
											    <td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management </a> </td>
											    <td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-060b34931a8c49f4b5b06d5e60710d8b.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-060b34931a8c49f4b5b06d5e60710d8b.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
											    <td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-ad94a0daad47446cb10f7ea29c0af6ea.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ad94a0daad47446cb10f7ea29c0af6ea.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element"> Public image </a> </td>
											    <td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
											    <td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
											    <td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
											    <td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element"> Limited utilisation of capacity </a> </td>
											    <td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element"> Flexibility in case of disruptions is not rewarded </a> </td>
											    <td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
											    <td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b5f61356400140a4ac979e914480c6f2.html" target="element"> Varying access to competence, skills, technology, and tools </a> </td>
											    <td> <a href="../elements/id-b5f61356400140a4ac979e914480c6f2.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
											    <td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted </a> </td>
											    <td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html" target="element"> Low load factor </a> </td>
											    <td> <a href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-fa32d7d04ccc40f5806e977bf8a6531e.html" target="element"> Resting time reduces productivity of vehicles </a> </td>
											    <td> <a href="../elements/id-fa32d7d04ccc40f5806e977bf8a6531e.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html" target="element"> Personnel costs are a dominating factor </a> </td>
											    <td> <a href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-5ea283fb17a648d0baf7ed3eb4550104.html" target="element"> Customer satisfaction </a> </td>
											    <td> <a href="../elements/id-5ea283fb17a648d0baf7ed3eb4550104.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-950f8d5fc37b4fd98510f6b4ad148964.html" target="element"> Safe operations </a> </td>
											    <td> <a href="../elements/id-950f8d5fc37b4fd98510f6b4ad148964.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-28489472cc93454a86ed9588771a7c6a.html" target="element"> Return load? </a> </td>
											    <td> <a href="../elements/id-28489472cc93454a86ed9588771a7c6a.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-4bf3391bf64c43779151ee570d5166bf.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-4bf3391bf64c43779151ee570d5166bf.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

											<tr>
											    <td> <a href="../elements/id-3b1fc4f22ae54accb25ca3fa8c10c8ac.html" target="element"> No marketplace </a> </td>
											    <td> <a href="../elements/id-3b1fc4f22ae54accb25ca3fa8c10c8ac.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4e996ddc754a4133855dc6208ad88cc7.html" target="element"> No fleet op. hubs </a> </td>
											    <td> <a href="../elements/id-4e996ddc754a4133855dc6208ad88cc7.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-37d107d00d51460584cfe7634344d634.html" target="element"> Waiting time reduces productivity </a> </td>
											    <td> <a href="../elements/id-37d107d00d51460584cfe7634344d634.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d59ddbb3f981471ca92b4950a4fa4744.html" target="element"> Lack of collaboration across fleets </a> </td>
											    <td> <a href="../elements/id-d59ddbb3f981471ca92b4950a4fa4744.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-aaf9fd3dfb3b4d64a750beb61b54b1a9.html" target="element"> Lack of green business models </a> </td>
											    <td> <a href="../elements/id-aaf9fd3dfb3b4d64a750beb61b54b1a9.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ad1ee34776c4a59b55c6dabcedbe45d.html" target="element"> Sea: must update engine/fuel by 2026 </a> </td>
											    <td> <a href="../elements/id-8ad1ee34776c4a59b55c6dabcedbe45d.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7df71d5256474d3e9ff4280448493427.html" target="element"> Unnecessary emissions </a> </td>
											    <td> <a href="../elements/id-7df71d5256474d3e9ff4280448493427.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b89a2949e04148d19f357facb514d783.html" target="element"> No regualation on data sharing </a> </td>
											    <td> <a href="../elements/id-b89a2949e04148d19f357facb514d783.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-eab5a17ef5f64d9ea22ff8dd099da9a1.html" target="element"> No early warning </a> </td>
											    <td> <a href="../elements/id-eab5a17ef5f64d9ea22ff8dd099da9a1.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-68a73110a7294a639b91707810de8e59.html" target="element"> No standardised data sharing </a> </td>
											    <td> <a href="../elements/id-68a73110a7294a639b91707810de8e59.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d765fb7499aa4ae29773fc02d2aeee67.html" target="element"> Lack of standarisation of com. with traffic management </a> </td>
											    <td> <a href="../elements/id-d765fb7499aa4ae29773fc02d2aeee67.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6b34d00dc7f149b9af4a9a43be497908.html" target="element"> Sub-optimalisation (not holistic optimalisation) </a> </td>
											    <td> <a href="../elements/id-6b34d00dc7f149b9af4a9a43be497908.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0eb9f0e4252c47d39c498a5dbf0f2eba.html" target="element"> Varying investment willingnesss / capability </a> </td>
											    <td> <a href="../elements/id-0eb9f0e4252c47d39c498a5dbf0f2eba.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d60c0b2499344d8eb5d7d76dba31b6a4.html" target="element"> Human factors causes inpredictability </a> </td>
											    <td> <a href="../elements/id-d60c0b2499344d8eb5d7d76dba31b6a4.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

									        <tr>
									           <td> <a href="../objects/id-c3d8e7ae1eb3485c990c5ca1341f9d59.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-c3d8e7ae1eb3485c990c5ca1341f9d59.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ee0194b7826c46199ce221c11a47f05d.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-ee0194b7826c46199ce221c11a47f05d.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-a1be993aa1a1467f9046844af070c8bd.html" target="element">  </a> </td>
									           <td> <a href="../objects/id-a1be993aa1a1467f9046844af070c8bd.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-15a07660d6d64ea5adac5104778453c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-15a07660d6d64ea5adac5104778453c5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																		<td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e52a614d818148d99bb652f54175957a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e52a614d818148d99bb652f54175957a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																		<td> <a href="../elements/id-2fee6a0de2154f0eb0d9203fee6f5381.html" target="element"> Low load factor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b7617e2173224cd19899a6f1e12b44a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b7617e2173224cd19899a6f1e12b44a2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																		<td> <a href="../elements/id-fa32d7d04ccc40f5806e977bf8a6531e.html" target="element"> Resting time reduces productivity of vehicles </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8477528226fe496e9732b3e04f10e029.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8477528226fe496e9732b3e04f10e029.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																		<td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element"> Limited utilisation of capacity </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ff224bc1976240d996ab0a569c36e794.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ff224bc1976240d996ab0a569c36e794.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6153ad9e5df647e092b81aa0708d61bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6153ad9e5df647e092b81aa0708d61bd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-716369ab05204f14a3f8d400ef05fc79.html" target="element"> Personnel costs are a dominating factor </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-43c953c58be54b84b1d01543011c0807.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-43c953c58be54b84b1d01543011c0807.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																		<td> <a href="../elements/id-950f8d5fc37b4fd98510f6b4ad148964.html" target="element"> Safe operations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-edbdb82a210f40c299b573d46337947a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-edbdb82a210f40c299b573d46337947a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ddbd0eeb3abf4dc595f51415c61a215d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ddbd0eeb3abf4dc595f51415c61a215d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b36e90074cae4bb7893402669dd87342.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b36e90074cae4bb7893402669dd87342.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cfda68c84edd4a929fde0e6efcfd9899.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cfda68c84edd4a929fde0e6efcfd9899.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-59967dd270c64b858aeeb6deb17f30a8.html" target="element"> Insufficient data sharing with traffic management </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-feb87ec3eea74eaaa647b0783615f6fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-feb87ec3eea74eaaa647b0783615f6fb.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-6736d617e3ba45b480ed67f8c7cf4890.html" target="element"> Desired behaviour is rewarded </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6952d3969d944beb8db10bdb77ec7e64.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6952d3969d944beb8db10bdb77ec7e64.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-12caecab61fa46919f9debd4b8a8c3ff.html" target="element"> Utilisation of resources </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b8df86386acd4b8a81f74a55214b3011.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b8df86386acd4b8a81f74a55214b3011.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-1852440ff1424022a2fb7afb99973ffb.html" target="element"> Lack of support from traffic management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-22ac96cbff8d4c74b82718213b584eba.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-22ac96cbff8d4c74b82718213b584eba.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-982d4b78936c4176af789b45d45d8603.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-982d4b78936c4176af789b45d45d8603.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element"> Public image </a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a7eb050eb4704ddba52a4925dd1d702d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a7eb050eb4704ddba52a4925dd1d702d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element"> Public image </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-13dbdf25fc474b84918ac08c934ec637.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-13dbdf25fc474b84918ac08c934ec637.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f134f1ae3d2c46d19633fd19315737f6.html" target="element"> Fleet Operator </a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0a96a67a85524150ab5755c82acb323c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a96a67a85524150ab5755c82acb323c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bf7dc97e9eda47b68375f46c244effec.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bf7dc97e9eda47b68375f46c244effec.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																		<td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element"> Flexibility in case of disruptions is not rewarded </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0111f1edfcda42ab9c615ee405d4dd90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0111f1edfcda42ab9c615ee405d4dd90.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-b5f61356400140a4ac979e914480c6f2.html" target="element"> Varying access to competence, skills, technology, and tools </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-3d0f0887bfb444beb334452a0bad847f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d0f0887bfb444beb334452a0bad847f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-5d4fdcdf512c4c8798adc1106f7e1f04.html" target="element"> Costs </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf2b85565e954082b70736731417ee3b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf2b85565e954082b70736731417ee3b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-74de9ef00a67422695206174abd3edcd.html" target="element"> Revenue </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-42ed6b1f85604becb4d1a1eaad12416b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-42ed6b1f85604becb4d1a1eaad12416b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-24b376ae74e34fc788d5a894385e477e.html" target="element"> Efficient operations  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-41864f64aece470389081fcfc3480ff6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-41864f64aece470389081fcfc3480ff6.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-dd67f84f95c948d88fd0838ce84d54f4.html" target="element"> Sustainability </a> </td>
																		<td> <a href="../elements/id-1cfac78cbde14f0eb186e124e67dbbc7.html" target="element"> Pedictable operations </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-a12886ebe3884ecd9f1f3249f2c5768a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a12886ebe3884ecd9f1f3249f2c5768a.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted </a> </td>
																		<td> <a href="../elements/id-26f899ef2c9041e8b9900f24c5cdc9fe.html" target="element"> Limited utilisation of capacity </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-10c5c4fbdc4244fba01cd469d6a08c06.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-10c5c4fbdc4244fba01cd469d6a08c06.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted </a> </td>
																		<td> <a href="../elements/id-6f871c35f8634b4db91e8926983a7e15.html" target="element"> Flexibility in case of disruptions is not rewarded </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-09c16569c30a484db425bce6809e1d54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09c16569c30a484db425bce6809e1d54.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-e8c7e45b33424c47a55498dfe3e2b743.html" target="element"> Business models are not adapted </a> </td>
																		<td> <a href="../elements/id-d59ddbb3f981471ca92b4950a4fa4744.html" target="element"> Lack of collaboration across fleets </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-140b7027c3de4a8a8781739d8180a3d0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-140b7027c3de4a8a8781739d8180a3d0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-5ea283fb17a648d0baf7ed3eb4550104.html" target="element"> Customer satisfaction </a> </td>
																		<td> <a href="../elements/id-fcbc0fa703b143b2abbd3fb486996a71.html" target="element"> Public image </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
																	<tr>
																		<td> <a href="../elements/id-3738c87b33904833a778caeb36ca43df.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3738c87b33904833a778caeb36ca43df.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/id-6b34d00dc7f149b9af4a9a43be497908.html" target="element"> Sub-optimalisation (not holistic optimalisation) </a> </td>
																		<td> <a href="../elements/id-861fd9532a224adea1ce7b9f80e6ad3e.html" target="element"> Insufficient adaption to current and upcoming traffic situations </a> </td>
																	</tr>

											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>